<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-4">
          <label for="fixed_clasification" class="form-text text-muted font-weight-bold">Clasificación:</label>
          <nb-select [selected]="this.data.fixed_clasification_id" formControlName="fixed_clasification_id"
            id="fixed_clasification_id" fullWidth
            status="{{ isSubmitted && form.controls.fixed_clasification_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.fixed_clasification_id }}" *ngFor="let item of fixed_clasification"
              [value]="item.id">
              {{item.fixed_code.name}} - {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="fixed_property" class="form-text text-muted font-weight-bold">Propio / Arrendado:</label>
          <nb-select (selectedChange)="onChange1($event)" formControlName="fixed_property_id" id="fixed_property_id"
            fullWidth
            status="{{ isSubmitted && form.controls.fixed_property_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.fixed_property_id }}" *ngFor="let item of fixed_property"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div  *ngIf="showProv" class="col-12 col-sm-12 col-md-4">
          <label for="company" class="form-text text-muted font-weight-bold">Proveedor:</label>
          <nb-select [selected]="this.data.company_id" formControlName="company_id" id="company_id"
            fullWidth>
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.company_id }}" *ngFor="let item of company"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>












        <div class="col-12 col-sm-12 col-md-4">
          <label for="plaque" class="form-text text-muted font-weight-bold">Placa:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="plaque" formControlName="plaque"
            plaque
            status="{{ isSubmitted && form.controls.plaque.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-4">
          <label for="model" class="form-text text-muted font-weight-bold">Modelo:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="model" formControlName="model"
            model status="{{ isSubmitted && form.controls.model.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="mark" class="form-text text-muted font-weight-bold">Marca:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="mark" formControlName="mark" mark
            status="{{ isSubmitted && form.controls.mark.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="serial" class="form-text text-muted font-weight-bold">Serial:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="serial" formControlName="serial"
            serial
            status="{{ isSubmitted && form.controls.serial.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>


        <div class="col-12 col-sm-12 col-md-4">
          <label for="description" class="form-text text-muted font-weight-bold">Descripción:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="description"
            formControlName="description" description
            status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="detail_description" class="form-text text-muted font-weight-bold">Detalle descripción:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="detail_description"
            formControlName="detail_description" detail_description
            status="{{ isSubmitted && form.controls.detail_description.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="color" class="form-text text-muted font-weight-bold">Color:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="color" formControlName="color"
            color status="{{ isSubmitted && form.controls.color.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-4">
          <label for="fixed_condition" class="form-text text-muted font-weight-bold">Condición del activo:</label>
          <nb-select  (selectedChange)="onChange2($event)"  formControlName="fixed_condition_id" id="fixed_condition_id" fullWidth
            status="{{ isSubmitted && form.controls.fixed_condition_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.fixed_condition_id }}" *ngFor="let item of fixed_condition"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div *ngIf="showCondi" class="col-12 col-sm-12 col-md-4">
          <label for="obs_property" class="form-text text-muted font-weight-bold">Observacion del daño:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="obs_property"
            formControlName="obs_property" obs_property
            status="{{ isSubmitted && form.controls.obs_property.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="campus_id" class="form-text text-muted font-weight-bold">Enviar a la sede:</label>
          <nb-select [selected]="this.data.campus_id" formControlName="campus_id"
            id="campus_id" fullWidth
            status="{{ isSubmitted && form.controls.campus_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.campus_id }}"
              *ngFor="let item of campus_id" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>