<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="max-width: 1400px;max-height: 1200px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>


      <div *ngIf="this.auth_status != 3" class="col-md-12">
        <label for="observation" class="form-text text-muted font-weight-bold">Obsevación:</label>
        <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="observation"
          formControlName="observation" observation
          status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
      </div>
      <div *ngIf="this.auth_status == 3">
        <div>
          <div class="col-md-12" >
            <label for="auth_number" class="form-text text-muted font-weight-bold">Número de autorización:</label>
            <input nbInput type="text" fullWidth id="auth_number"
              formControlName="auth_number" auth_number
              status="{{ isSubmitted && form.controls.auth_number.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
          </div>
          <div class="col-md-12">
            <label for="observation" class="form-text text-muted font-weight-bold">Observación:</label>
            <textarea cols="80" rows="4" nbInput formControlName="observation" id="observation" observation fullWidth placeholder="Observación"
                  status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"></textarea> 
          </div>
          <div class="col-md-12">
            <label for="copay" class="form-text text-muted font-weight-bold">¿Tiene Copago?
            </label>
            <nb-toggle formControlName="copay" copay >
            </nb-toggle>
          </div>
          <div class="col-md-12" *ngIf="this.form.controls.copay.value">
            <label for="copay_value" class="form-text text-muted font-weight-bold">Valor de copago:</label>
            <input nbInput fullWidth id="copay_value"
              formControlName="copay_value" copay_value type="number"
              status="{{ isSubmitted && form.controls.copay_value.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="form-group">
                <label for="file" class="form-text text-muted font-weight-bold">
                  Subir documentos:
                </label>
                <div *ngIf="previewFile" class="container py-2">
                  <a [href]="previewFile" target="_blank">Ver documentos</a>
                </div>
                <input accept="image/jpeg,image/gif,image/png,application/pdf" type="file" id="file" nbInput fullWidth
                  (change)="changeImage($event.target.files, 1)" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger"(click)="save()" type="button" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>