<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <label for="fst_name" class="form-text text-muted font-weight-bold">Nombre:</label>
          <input nbInput fullWidth id="fst_name" formControlName="fst_name" fst_name
            status="{{ isSubmitted && form.controls.fst_name.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>