<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card>
    <nb-card-body>
      <fieldset class="field_set">
        <legend class="prue1 center">Anamnesis Alimentaria</legend>
        <div class="row">

          <div class="col-12 col-sm-12 col-md-12">
            <label class="form-text text-muted font-weight-bold text ">Descripción:</label>
            <textarea id="description" nbInput fullWidth formControlName="description" description
              onpaste="return false" rows="4" cols="50"
              status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : null }}"> </textarea>
          </div>

          <div class="col-12 col-sm-12 col-md-3">
            <label for="is_allergic" class="form-text text-muted font-weight-bold">¿Ha presentado vómito?:</label>
            <nb-radio-group formControlName="is_allergic" is_functional id="is_allergic" class="d-flex"
              status="{{ isSubmitted && form.controls.is_allergic.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-radio *ngFor="let item of is_allergic" [value]="item.id">{{ item.name }}</nb-radio>
            </nb-radio-group>
          </div>

          <div class="col-12 col-sm-12 col-md-9">
            <label *ngIf="form.controls.is_allergic.value != '' && form.controls.is_allergic.value == 'SI'"
              class="form-text text-muted font-weight-bold text ">¿Cuál?:</label>
            <textarea *ngIf="form.controls.is_allergic.value != '' && form.controls.is_allergic.value == 'SI'"
              id="allergy" nbInput fullWidth formControlName="allergy" allergy onpaste="return false" rows="4" cols="50"
              status="{{ isSubmitted && form.controls.allergy.errors ? 'danger' : isSubmitted ? 'success' : null }}"> </textarea>
          </div>

          <div class="col-12 col-sm-12 col-md-4">
            <label for="appetite" class="form-text text-muted font-weight-bold">Apetito:</label>
            <nb-select formControlName="appetite" id="appetite" fullWidth
              status="{{ isSubmitted && form.controls.appetite.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of appetite" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-sm-12 col-md-4">
            <label for="intake" class="form-text text-muted font-weight-bold">Ingesta:</label>
            <nb-select formControlName="intake" id="intake" fullWidth
              status="{{ isSubmitted && form.controls.intake.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of intake" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-sm-12 col-md-4">
            <label for="swallowing" class="form-text text-muted font-weight-bold">Deglución:</label>
            <nb-select formControlName="swallowing" id="swallowing" fullWidth
              status="{{ isSubmitted && form.controls.swallowing.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of swallowing" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-sm-12 col-md-12">
            <label for="swallowing" class="form-text text-muted font-weight-bold">Antecedentes Alergicos:</label>
            <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
              entity="diet_day/?pagination=true" customData='diet_day' [messageToltip]="messageToltip">
            </ngx-base-table>
          </div>

          <div class="col-12 col-sm-12 col-md-12">
            <label for="swallowing" class="form-text text-muted font-weight-bold">Tipo de Dieta:</label>
            <nb-select multiple placeholder="Seleccione..." formControlName="diet_type" fullWidth
              status="{{ isSubmitted && form.controls.diet_type.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-option *ngFor="let item of diet_type" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <label for="swallowing" class="form-text text-muted font-weight-bold">Nutrición Parenteral:</label>
            <nb-select formControlName="swallowing" id="swallowing" fullWidth
              status="{{ isSubmitted && form.controls.swallowing.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of swallowing" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <label for="parenteral_nutrition" class="form-text text-muted font-weight-bold">Apetito:</label>
            <nb-select formControlName="parenteral_nutrition" id="parenteral_nutrition" fullWidth
              status="{{ isSubmitted && form.controls.parenteral_nutrition.errors ? 'danger' : isSubmitted ? 'success' : null }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of parenteral_nutrition" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-sm-12 col-md-12">
            <label class="form-text text-muted font-weight-bold text ">Control de ingesta:</label>
            <textarea id="intake_control" nbInput fullWidth formControlName="intake_control" intake_control
              onpaste="return false" rows="4" cols="50"
              status="{{ isSubmitted && form.controls.intake_control.errors ? 'danger' : isSubmitted ? 'success' : null }}"> </textarea>
          </div>

        </div>
      </fieldset>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>