<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError" [routeBack]="routeBack"
               [actionSave]="save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name" class="form-text text-muted font-weight-bold">Nombre:</label>
            <input nbInput fullWidth id="name" formControlName="name" name
                   status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="coursebase_id" class="form-text text-muted font-weight-bold">Relación Curso (Opcional):</label>
            <nb-select [selected]="this.data.coursebase_id" formControlName="coursebase_id" id="coursebase_id" fullWidth
                       status="{{ isSubmitted && form.controls.coursebase_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ item.id == data.coursebase_id }}" *ngFor="let item of courses" [value]="item.id">
                {{ item.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description" class="form-text text-muted font-weight-bold">Descripción:</label>
            <textarea rows="5" nbInput fullWidth id="description" formControlName="description" name
                      status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-toggle class="mt-3" status="success" (click)="ChangeIsMatriz()" [checked]="data.is_matriz"
                       labelPosition="end" formControlName="is_matriz">
              Matriz de Respuestas
            </nb-toggle>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label *ngIf="show" for="answer_type_id" class="form-text text-muted font-weight-bold">Escala de
              Matriz:</label>
            <nb-select *ngIf="show" [selected]="this.data.answer_type_id" formControlName="answer_type_id"
                       id="answer_type_id" fullWidth>
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ item.id == data.answer_type_id }}" *ngFor="let item of answers_types"
                         [value]="item.id">{{ item.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div end>
    <ngx-question *ngIf="data.id" [section_id]="data.id">

    </ngx-question>
  </div>
</ngx-base-form>
