<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" entity="management_plan_by_admissions/{{admissions_id}}"
      customData="management_plan" [messageToltip]="messageToltip">
      <div title *ngIf="user && medical==false">
        <p class="parrafo" *ngIf="user">CÉDULA: {{user.identification}} </p>
        <p class="parrafo"*ngIf="user">NOMBRE:  {{user.nombre_completo}}</p>
        <p class="parrafo" *ngIf="user">FECHA DE NACIMIENTO: {{user.birthday}} </p>
        <p class="parrafo" *ngIf="user">EDAD: {{user.age}} </p>
        <p class="parrafo" *ngIf="user">GÉNERO: {{user.gender.name}} </p>
      </div>
      <div actions>
        <div class="actions">
          <button nbButton status="danger" (click)="NewManagementPlan()">Crear</button>
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>