<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-12" *ngIf="assigned!=false">
          <label for="type_consents_id" class="form-text text-muted font-weight-bold">Concentimiento Informado:</label>
          <nb-select [selected]="this.data.type_consents_id" formControlName="type_consents_id" id="type_consents_id"
            fullWidth
            status="{{ isSubmitted && form.controls.type_consents_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.type_consents_id }}" *ngFor="let item of type_consents"
              [value]="item.id">
              {{ item.name}}</nb-option>
          </nb-select>
        </div>

        <!-- <ejs-pdfviewer id="pdfViewer" [serviceUrl]='service' [documentPath]='document' style="width: 100%;height:640px;display:block"></ejs-pdfviewer> -->

       
        <embed *ngIf="service" [src]="service" type="application/pdf" width="100%" height="600px" />
        
        <div class="col-12 col-sm-12 col-md-12">
          <label for="firm_patiend" class="form-text text-muted font-weight-bold">Firma del
            Paciente:</label>
          <ng-signature-pad [emitOnDragEnd]="true"
            [showDoneButton]="false" clearButtonText="Borrar" format="base64" (done)="showImage($event,1)">
          </ng-signature-pad>
          <img [src]="currentImgPatiend" *ngIf="currentImgPatiend" />

        </div>

        <div class="col-12 col-sm-12 col-md-12">
          <label for="name_responsible" class="form-text text-muted font-weight-bold">Nombre de responsable:</label>
          <input nbInput fullWidth id="name_responsible" formControlName="name_responsible" name_responsible
            status="{{ isSubmitted && form.controls.name_responsible.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-12">
          <label for="parent_responsible" class="form-text text-muted font-weight-bold">Parentesco de
            responsable:</label>
          <input nbInput fullWidth id="parent_responsible" formControlName="parent_responsible" parent_responsible
            status="{{ isSubmitted && form.controls.parent_responsible.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>


        <div class="col-12 col-sm-12 col-md-12">
          <label for="identification_responsible" class="form-text text-muted font-weight-bold">Identificación de
            responsable:</label>
          <input nbInput fullWidth id="identification_responsible" formControlName="identification_responsible"
            identification_responsible
            status="{{ isSubmitted && form.controls.identification_responsible.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>



        <div class="col-12 col-sm-12 col-md-12">
          <label for="identification_responsible" class="form-text text-muted font-weight-bold">Firma de
            responsable:</label>
          <ng-signature-pad  [emitOnDragEnd]="true"
            [showDoneButton]="false" clearButtonText="Borrar" format="base64" (done)="showImage($event,2)">
          </ng-signature-pad>
          <img [src]="currentImgResponsible" *ngIf="currentImgResponsible" />

        </div>

      </div>



    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button *ngIf="showUser!=false" nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
      <button *ngIf="showUser==false" nbButton status="danger" class="ml-1" disabled="{{ loading }}">Solicitar personal
        a Recursos Humanos y guardar</button>
    </nb-card-footer>
  </nb-card>
</form>