<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle"
                    [settings]="settings"
                    [messageToltip]="messageToltip"
                    entity="user/byRole/4"
                    customData="users">
      <div actions>
        <div class="actions">
          <a ngxCheckPerms="create" nbButton status="danger" routerLink="../../teacher/teachers/create" >Crear</a>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
