<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity" customData="patients"
      [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <div *ngIf="this.user.roles[0].role_type_id == 1" style="margin-right: 10px; width: 250px">
            <nb-select placeholder="Filtrar por estado" fullWidth (selectedChange)="changeSemaphore($event)">
              <nb-option value="">Sin filtro</nb-option>
              <nb-option *ngFor="let item of status_type" [value]="item.id">
                <div class="cuadro" [style]="'background-color: ' + item.color + ';'" style="margin-right: 10px;">
                </div>
                {{ item.name }}
              </nb-option>
            </nb-select>
          </div>
          <nb-select (selectedChange)="FilterAgreement($event)" placeholder="Filtrar por convenio">
            <nb-option >Todos los convenios</nb-option>
            <nb-option *ngFor="let item of company" [value]="item.id">Convenio: {{item.name}}</nb-option>
          </nb-select>
        </div>
        <div class="actions">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>