<ngx-base-list
  [messageError]="messageError">
  <div content>
    <ngx-base-table [title]="title"
                    [settings]="settings"
                    entity="contractPayment"
                    customData="contract_payments"
                    [queryParams]="{ contract_id: contract_id }">
      <div actions>
        <div class="actions">
          <button nbButton status="danger" (click)="NewPayment()">
            Crear
          </button>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
