<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-4">
          <label for="validity_id" class="form-text text-muted font-weight-bold">Vigencia:</label>
          <nb-select (selectedChange)="onChangeValidity($event)" [selected]="this.data.validity_id"
            formControlName="validity_id" id="validity_id" fullWidth
            status="{{ isSubmitted && form.controls.validity_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.validity_id }}" *ngFor="let item of validities" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-8">
          <label for="origin_id" class="form-text text-muted font-weight-bold">Plan de Formación:</label>
          <nb-select (selectedChange)="onChangeOrigin($event)" [selected]="this.data.origin_id"
            formControlName="origin_id" id="origin_id" fullWidth
            status="{{ isSubmitted && form.controls.origin_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.origin_id }}" *ngFor="let item of origins" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <label for="category_id" class="form-text text-muted font-weight-bold">Programa:</label>
          <nb-select (selectedChange)="onChangeCategory($event)" [selected]="this.data.category_id"
            formControlName="category_id" id="category_id" fullWidth
            status="{{ isSubmitted && form.controls.category_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.category_id }}" *ngFor="let item of categories" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <label for="course_id" class="form-text text-muted font-weight-bold">Curso:</label>
          <nb-select [selected]="this.data.course_id" formControlName="course_id" id="course_id" fullWidth
            status="{{ isSubmitted && form.controls.course_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.course_id }}" *ngFor="let item of courses" [value]="item.id">
              {{item.id}}. {{ item.coursebase.name }}</nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>