<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>



    <ngx-base-table [title]="title" [subtitle]="subtitle" customData="ch_record" [settings]="settings"
      [entity]="this.entity" [messageToltip]="messageToltip">
      <div title *ngIf="user">
        <p class="parrafo" ><b>CÉDULA:</b> {{user.identification}} </p>
        <p class="parrafo"><b>NOMBRE:</b>  {{user.nombre_completo}}</p>
        <p class="parrafo"><b>FECHA DE NACIMIENTO:</b> {{this.datePipe.transform3(user.birthday)}} </p>
        <p class="parrafo" ><b>EDAD:</b> {{user.age}} </p>
        <p class="parrafo" ><b>GÉNERO:</b> {{user.gender.name}} </p>
        <p class="parrafo" *ngIf="user"><b>ASEGURADOR:</b> {{user.admissions[0].contract.company.name}}</p>
        <p class="parrafo" *ngIf="user"><b>CONTRATO:</b> {{user.admissions[0].contract.name}}</p>
        <p class="parrafo" *ngIf="user"><b>PORTAFOLIO:</b> {{user.admissions[0].briefcase.name}}</p>
        <p class="parrafo" *ngIf="user.inability"><b>DISCAPACIDAD:</b> {{user.inability.name}} </p>
        <p class="parrafo" *ngIf="!user.inability"><b>DISCAPACIDAD:</b> SIN DISCAPACIDADES </p>
        <div *ngIf="show_labs">
          <p class="parrafo" *ngIf="show_labs"><b>LABORATORIOS:</b>
          </p>
          <div *ngFor="let item of this.assigned[0].management_plan.management_procedure">
            <p class="parrafo">
              {{item.services_briefcase.manual_price.name}} </p>
          </div>
        </div>
        <div *ngIf="external_consult_id">
          <p class="parrafo" *ngIf="external_consult_id"><b>MOTIVO:</b> {{external_consult[0].services_briefcase.manual_price.name}}</p>
        </div>
        
      </div>

      
      <div actions>
        <div class="actions">
          <button nbButton (click)="back()" >Volver</button>
          <button *ngIf="showButtom==true"  nbButton status="danger" (click)="NewChRecord()">Crear</button>
        </div>
        <div class="actions" >
        </div>
        
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>

<ng-template #masiveAuth>
  <div class="container-fluid">
    <form [formGroup]="form">
      <nb-card style="max-width: 1400px;max-height: 1200px;overflow: auto;">
        <nb-card-header>Seleccionar especialidad</nb-card-header>
        <nb-card-body>
          <div>
            <div class="col-md-12">
              <label for="speciality_id" class="form-text text-muted font-weight-bold">Especialidades del asistencial:</label>
              <nb-select formControlName="speciality_id" id="speciality_id" fullWidth>
                <nb-option value="">Seleccione...</nb-option>
                <nb-option *ngFor="let item of assistance_special" [value]="item.specialty_id">{{item.specialty.name}}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div style="text-align:end;">
            <button type="button" nbButton (click)="close()">Cancelar</button>
            <button type="button" nbButton status="success" (click)="NewChRecord()">Guardar</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</ng-template>