<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <input type="datetime-local" class="space1  form-text text-muted" name="datetime" id="datetime">
    <input type="time" name="eta">
    <div class="row">
      <div class="col-md-6">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">SIGNOS VITALES</legend>
            <table width="100%">
              <input type="text" placeholder="FC" class="ImpPeq" name="something" required nbInput ngModel>
              <input type="text" placeholder="FR" class="ImpPeq" name="something" required nbInput ngModel>
              <input type="text" placeholder="TEMP" class="ImpPeq" name="something" required nbInput ngModel>

              <div class="list">
                <nb-select [selected]="this.data.ch_vital_neurological_id" formControlName="ch_vital_neurological_id"
                  id="ch_vital_neurological_id"
                  status="{{ isSubmitted && form.controls.ch_vital_neurological_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                  <nb-option value="">Seleccione...</nb-option>
                  <nb-option selected="{{ item.id == this.data.ch_vital_neurological_id }}"
                    *ngFor="let item of ch_vital_neurological" [value]="item.id">
                    {{ item.name }}</nb-option>
                </nb-select>
              </div>
              <input type="text" placeholder="SAT. O2" class="ImpPeq" name="something" required nbInput ngModel>
              <input type="text" placeholder="PIC" class="ImpPeq" name="something" required nbInput ngModel>
              <input type="text" placeholder="PPC" class="ImpPeq" name="something" required nbInput ngModel>
              <input type="text" placeholder="PIA" class="ImpPeq" name="something" required nbInput ngModel>
            </table>
          </fieldset>
        </div>
      </div>
      <div class="col-md-4">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">PRESIÓN</legend>
            <table width="100%">
              <input type="text" placeholder="SISTÓLICA" class="space" name="something" required nbInput ngModel>
              <input type="text" placeholder="DIASTÓLICA" class="space" name="something" required nbInput ngModel>
              <input type="text" placeholder="MEDIA" class="space" name="something" required nbInput ngModel>
            </table>
          </fieldset>
        </div>
      </div>
      <div class="col-md-2">
        <fieldset class="field_set">
          <legend class="prue1">NEUROLOGICO</legend>
          <table width="100%">
            <div class="list">
              <nb-select [selected]="this.data.ch_vital_neurological_id" formControlName="ch_vital_neurological_id"
                id="ch_vital_neurological_id"
                status="{{ isSubmitted && form.controls.ch_vital_neurological_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                <nb-option value="">Seleccione...</nb-option>
                <nb-option selected="{{ item.id == this.data.ch_vital_neurological_id }}"
                  *ngFor="let item of ch_vital_neurological" [value]="item.id">
                  {{ item.name }}</nb-option>
              </nb-select>
            </div>
          </table>
        </fieldset>
      </div>
    </div>
    <label for="right_user" class="form-text text-muted font-weight-bold"> </label>
    <fieldset class="field_set">
      <legend class="prue1">OTRO</legend>
      <table width="100%">
        <input type="text" placeholder="PULSO" class="ImpPeq" name="something" required nbInput ngModel>
        <input type="text" placeholder="PVC" class="ImpPeq" name="something" required nbInput ngModel>
        <input type="text" placeholder="TALLA(cm)" class="space" name="something" required nbInput ngModel>

        <div class="list">
          <nb-select [selected]="this.data.ch_vital_neurological_id" formControlName="ch_vital_neurological_id"
            id="ch_vital_neurological_id"
            status="{{ isSubmitted && form.controls.ch_vital_neurological_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == this.data.ch_vital_neurological_id }}"
              *ngFor="let item of ch_vital_neurological" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <input type="text" placeholder="PESO(Kg)" class="ImpPeq" name="something" required nbInput ngModel>
        <input type="text" placeholder="GLUCOMETRIA" class="space" name="something" required nbInput ngModel>
        <input type="text" placeholder="IMC" class="ImpPeq" name="something" required nbInput ngModel>
      </table>
    </fieldset>
    <fieldset class="field_set">
      <legend class="prue1">PRESIÓN ART PULMONAR</legend>
      <table width="100%">
        <input type="text" placeholder="SISTÓLICA" class="space" name="something" required nbInput ngModel>
        <input type="text" placeholder="DIASTÓLICA" class="space" name="something" required nbInput ngModel>
        <input type="text" placeholder="MEDIA" class="space" name="something" required nbInput ngModel>
      </table>
    </fieldset>

    <fieldset class="field_set">
      <legend class="prue1">OJOS</legend>
      <table width="100%">
        <input type="text" placeholder="R LUZ DERECHO" class="space" name="something" required nbInput ngModel>
        <input type="text" placeholder="T PUPILAR" class="space" name="something" required nbInput ngModel>
        <input type="text" placeholder="R LUZ IZQUIERDO" class="space" name="something" required nbInput ngModel>
        <input type="text" placeholder="T PUPILAR" class="space" name="something" required nbInput ngModel>

        <div class="list">
          <nb-select [selected]="this.data.ch_vital_neurological_id" formControlName="ch_vital_neurological_id"
            id="ch_vital_neurological_id"
            status="{{ isSubmitted && form.controls.ch_vital_neurological_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == this.data.ch_vital_neurological_id }}"
              *ngFor="let item of ch_vital_neurological" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
      </table>
    </fieldset>

    <fieldset class="field_set">
      <legend class="prue1">PEDIATRÍA</legend>
      <table width="100%">
        <div class="row">
          <input type="text" placeholder="PERIMETRO CEFALICO" class="space" name="something" required nbInput ngModel>
          <input type="text" placeholder="PERIMETRO ABDOMINAL" class="space" name="something" required nbInput ngModel>
          <input type="text" placeholder="PERIMETRO TORACICO" class="space" name="something" required nbInput ngModel>
        </div>
      </table>
    </fieldset>






    <button nbButton nbStepperGUARDAR>GUARDAR</button>
  </div>
</form>