<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div>
      <div class="clock">
        <input type="time" id="clock" nbInput formControlName="clock"
          status="{{ isSubmitted && form.controls.clock.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
      </div>
    </div>

    <div class="row justify-content-md-center mt-3">
      <div class="center">
        <fieldset class="field_set">
          <legend class="prue1 center">SIGNOS VITALES</legend>

          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">FRECUENCIA CARDIACA</label>
              <input type="number" placeholder="FC" class="ImpPeq" id="cardiac_frequency"
                formControlName="cardiac_frequency" nbInput something
                status="{{ isSubmitted && form.controls.cardiac_frequency.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>
            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">FRECUENCIA RESPIRATORIA</label>
              <input type="number" placeholder="FR" class="ImpPeq" id="respiratory_frequency"
                formControlName="respiratory_frequency" nbInput
                status="{{ isSubmitted && form.controls.respiratory_frequency.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>

            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">TEMPERATURA</label>
              <input type="number" placeholder="TEMP" class="space" id="temperature" formControlName="temperature"
                nbInput
                status="{{ isSubmitted && form.controls.temperature.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>

            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">VIA DE TOMA</label>
              <nb-select [selected]="this.data.ch_vital_temperature_id" formControlName="ch_vital_temperature_id"
                id="ch_vital_temperature_id"
                status="{{ isSubmitted && form.controls.ch_vital_temperature_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
                <nb-option value="">SELECCIONE...</nb-option>
                <nb-option selected="{{ item.id == this.data.ch_vital_temperature_id }}"
                  *ngFor="let item of vital_temperature" [value]="item.id">
                  {{ item.name }}</nb-option>
              </nb-select>
            </div>

            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">SATURACIÓN</label>
              <input type="number" placeholder="SAT.O2" class="space" id="oxigen_saturation"
                formControlName="oxigen_saturation" nbInput
                status="{{ isSubmitted && form.controls.oxigen_saturation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>

          </div>

          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col col-lg-4">
                <hr />
              </div>
            </div>
          </div>


          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">TALLA</label>
              <input type="text" placeholder="cm" class="space3" id="size" formControlName="size" nbInput
                (change)="onChangesIMC($event, 1)"
                status="{{ isSubmitted && form.controls.size.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>

            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">PESO</label>
              <input type="text" placeholder="Kg" class="space" id="weight" formControlName="weight" nbInput
                (change)="onChangesIMC($event, 2)"
                status="{{ isSubmitted && form.controls.weight.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>

            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">I.M.C</label>
              <input type="text" disabled="true" placeholder="I.M.C" class="ImpPeq" id="body_mass_index"
                formControlName="body_mass_index" nbInput [value]="this.geteratedIMC">

            </div>
          </div>

          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col col-lg-4">
                <hr />
              </div>
            </div>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-md-3">
              <label class="form-text text-muted font-weight-bold align">TENSIÓN ARTERIAL SISTÓLICA</label>
              <input type="number" placeholder="SISTÓLICA" class="space2" id="invoice_value"
                formControlName="pressure_systolic" nbInput (change)="onChanges($event, 1)"
                status="{{ isSubmitted && form.controls.pressure_systolic.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>
            <div class="col-md-3">
              <label class="form-text text-muted font-weight-bold align">TENSIÓN ARTERIAL DIASTÓLICA</label>
              <input type="number" placeholder="DIASTÓLICA" class="space2" id="ordered_quantity"
                formControlName="pressure_diastolic" nbInput (change)="onChanges($event, 2)"
                status="{{ isSubmitted && form.controls.pressure_diastolic.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            </div>
            <div class="col-md-3">
              <label class="form-text text-muted font-weight-bold align">MEDIA</label>
              <input type="number" disabled="true" placeholder="MEDIA" class="space" id="pressure_half"
                formControlName="pressure_half" nbInput>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-md-6">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">ESTADO NEUROLÓGICO</legend>
            <nb-select [selected]="this.data.ch_vital_neurological_id" formControlName="ch_vital_neurological_id"
              id="ch_vital_neurological_id"
              status="{{ isSubmitted && form.controls.ch_vital_neurological_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.ch_vital_neurological_id }}"
                *ngFor="let item of vital_neurological" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>

      <div class="col col-lg-6">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">ESTADO HIDRATACIÓN</legend>
            <nb-select [selected]="this.data.ch_vital_hydration_id" formControlName="ch_vital_hydration_id"
              id="ch_vital_hydration_id"
              status="{{ isSubmitted && form.controls.ch_vital_hydration_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.ch_vital_hydration_id }}"
                *ngFor="let item of vital_hydration" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 center">
        <fieldset class="field_set">
          <legend class="prue1">PUPILAS</legend>
          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">T.PUPILAR IZQUIERDO</label>
              <input type="number" placeholder="T.PUPILAR" class="space3" id="pupil_size_left"
                formControlName="pupil_size_left" nbInput>
              <label class="form-text text-muted font-weight-bold align">T.PUPILAR DERECHO</label>
              <input type="number" placeholder="T.PUPILAR" class="space3" id="pupil_size_right"
                formControlName="pupil_size_right" nbInput>
            </div>

            <div class="col-md-auto">
              <label class="form-text text-muted font-weight-bold align">R.LUZ IZQUIERDO</label>
              <input type="text" placeholder="R.LUZ IZQUIERDO" class="space1" id="left_reaction"
                formControlName="left_reaction" nbInput>
              <label class="form-text text-muted font-weight-bold align">R.LUZ DERECHO</label>
              <input type="text" placeholder="R.LUZ DERECHO" class="space1" id="right_reaction"
                formControlName="right_reaction" nbInput>
            </div>


          </div>
        </fieldset>
      </div>

      <div class="col-md-6">
        <div>
          <fieldset class="field_set ">
            <legend class="prue1 center ">PUPILAS</legend>
            <ul>
              <li class="hgf" *ngFor="let item of checkboxesDataList">
                <nb-checkbox [checked]="item.isChecked"
                  (change)="fetchSelectedItems({ value: item.isChecked, item: item.label})" status="basic">
                  {{item.label}}
                </nb-checkbox>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">OTRO</legend>
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">PULSO</label>
                <input type="number" placeholder="PULSO" class="space" id="pulse" formControlName="pulse" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">PVC</label>
                <input type="number" placeholder="PVC" class="ImpPeq" id="venous_pressure"
                  formControlName="venous_pressure" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">PRESIÓN INTRACANEANA</label>
                <input type="number" placeholder="PIC" class="ImpPeq" id="intracranial_pressure"
                  formControlName="intracranial_pressure" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">PPC</label>
                <input type="number" placeholder="PPC" class="ImpPeq" id="cerebral_perfusion_pressure"
                  formControlName="cerebral_perfusion_pressure" nbInput>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">PRESIÓN INTRAABDOMINAL</label>
                <input type="number" placeholder="PIA" class="ImpPeq" id="intra_abdominal"
                  formControlName="intra_abdominal" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">GLUCOMETRIA</label>
                <input type="number" placeholder="GLUCOMETRIA" class="space1" id="glucometry"
                  formControlName="glucometry" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold">OBSERVACIÓN DE GLUCOMETRIA</label>
                <textarea id="observations_glucometry" formControlName="observations_glucometry" observations_glucometry
                  onpaste="return false" rows="3" cols="30" nbInput fullWidth> </textarea>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">PRESIÓN ART PULMONAR</legend>
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">SISTÓLICA</label>
                <input type="number" placeholder="SISTÓLICA" class="space3" id="pulmonary_systolic"
                  formControlName="pulmonary_systolic" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">DIASTÓLICA</label>
                <input type="number" placeholder="DIASTÓLICA" class="space2" id="pulmonary_diastolic"
                  formControlName="pulmonary_diastolic" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">MEDIA</label>
                <input type="number" placeholder="MEDIA" class="space3" id="pulmonary_half"
                  formControlName="pulmonary_half" nbInput>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-md-6">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">PEDIATRÍA - PERÍMETRO</legend>
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">CEFÁLICO</label>
                <input type="text" placeholder="CEFÁLICO" class="space3" id="head_circunference"
                  formControlName="head_circunference" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">ABDOMINAL</label>
                <input type="text" placeholder="ABDOMINAL" class="space3" id="abdominal_perimeter"
                  formControlName="abdominal_perimeter" nbInput>
              </div>
              <div class="col-md-auto">
                <label class="form-text text-muted font-weight-bold align">TORACICO</label>
                <input type="number" placeholder="TORACICO" class="space3" id="chest_perimeter"
                  formControlName="chest_perimeter" nbInput>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="row justify-content-md mt-3">
      <div class="col col-lg-12 center">
        <label for="has_oxigen" class="form-text text-muted font-weight-bold">¿Tiene oxígeno?
        </label>
        <nb-toggle disabled="!this.data.has_oxigen" formControlName="has_oxigen" has_oxigen>
        </nb-toggle>
      </div>
    </div>

    <div class="row justify-content-md mt-3" *ngIf="this.form.controls.has_oxigen.value">
    

      <div class="col-md-3">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">TIPO DE OXIGENO</legend>
            <nb-select [selected]="this.data.oxygen_type_id" formControlName="oxygen_type_id" id="oxygen_type_id"
              status="{{ isSubmitted && form.controls.oxygen_type_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.oxygen_type_id }}" *ngFor="let item of oxygen_type"
                [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>

      <div class="col-md-3">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">LITROS POR MINUTOS</legend>
            <nb-select [selected]="this.data.liters_per_minute_id" formControlName="liters_per_minute_id"
              id="liters_per_minute_id"
              status="{{ isSubmitted && form.controls.liters_per_minute_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.liters_per_minute_id }}"
                *ngFor="let item of liters_per_minute" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">MODO VENTILATORIO</legend>
            <nb-select [selected]="this.data.ch_vital_ventilated_id" formControlName="ch_vital_ventilated_id"
              id="ch_vital_ventilated_id"
              status="{{ isSubmitted && form.controls.ch_vital_ventilated_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.ch_vital_ventilated_id }}" *ngFor="let item of vital_ventilated"
                [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>

      <div class="col-md-3"  *ngIf="this.form.controls.ch_vital_ventilated_id.value !='9'">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">PARAMETROS</legend>
            <nb-select [selected]="this.data.parameters_signs_id" formControlName="parameters_signs_id"
              id="parameters_signs_id"
              status="{{ isSubmitted && form.controls.parameters_signs_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.parameters_signs_id }}" *ngFor="let item of parameters_signs"
                [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>