<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" customData="laboratories" [settings]="settings" entity="ch_laboratory" [messageToltip]="messageToltip">
      <div class="actions">
        <button nbButton status="danger" >Crear</button>
      </div>
      <div actions>
        <div class="actions">
          <div  style="margin-right: 10px; width: 250px">
            <nb-select placeholder="Filtrar por estado" fullWidth (selectedChange)="changeSemaphore($event)">
              <nb-option value="">Sin filtro</nb-option>
              <nb-option *ngFor="let item of semaphore" [value]="item.id">
                <div class="cuadro" [style]="'background-color: ' + item.color + ';'" style="margin-right: 10px;">
                </div>
                {{ item.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>