<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="min-width: 500px;width: 100%;height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4" *ngIf="medical==false">
          <label for="start_date" class="form-text text-muted font-weight-bold">Fecha de inicio:</label>
          <input type="date" nbInput fullWidth id="start_date" formControlName="start_date" start_date
            status="{{ isSubmitted && form.controls.start_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="medical==false && show">
          <label for="start_hour" class="form-text text-muted font-weight-bold">Hora de inicio:</label>
          <input type="time" nbInput fullWidth id="start_hour" formControlName="start_hour" start_hour
          status="{{ isSubmitted && form.controls.start_hour.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="medical==false && show && this.data.management_plan.type_of_attention_id == 12">
          <label for="finish_hour" class="form-text text-muted font-weight-bold">Hora final:</label>
          <input type="time" nbInput fullWidth id="finish_hour" formControlName="finish_hour" finish_hour
          status="{{ isSubmitted && form.controls.finish_hour.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>


        <div class="col-12 col-sm-12 col-md-4" *ngIf="(medical==false && !show) || this.data.management_plan.type_of_attention_id == 12">
          <label for="finish_date" class="form-text text-muted font-weight-bold">Fecha de fin:</label>
          <input type="date" nbInput fullWidth id="finish_date" formControlName="finish_date" start_date
            status="{{ isSubmitted && form.controls.finish_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>


        <div class="assigned ? col-12 col-sm-12 col-md-4: col-12 col-sm-12 col-md-12" *ngIf="medical==false && this.type_auth == 1 && !this.is_hospitalary">
          <label for="assigned_user_id" class="form-text text-muted font-weight-bold">Personal asistencial:</label>
          <nb-select [selected]="this.data.assigned_user_id" formControlName="assigned_user_id" id="assigned_user_id"
            fullWidth
            status="{{ isSubmitted && form.controls.assigned_user_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.assigned_user_id }}" *ngFor="let item of assigned_user"
              [value]="item.id">
              {{ item.firstname }} {{ item.middlefirstname }} {{item.lastname}} {{item.middlelastname}} - {{ item.identification }}</nb-option>
          </nb-select>
        </div>


      </div>

      <!-- <div class="row">
        <div class="col-12 col-sm-12 col-md-12" *ngIf="assigned!=false && show">
          <h6 style="margin-top: 10px;text-align: center;" for="preparation" class="form-text text-muted font-weight-bold">Recomendaciones para la aplicación de medicamentos:</h6>
        </div>
        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false && show">
          <label for="preparation" class="form-text text-muted font-weight-bold">Preparación:</label>
          <input nbInput fullWidth id="preparation" formControlName="preparation" preparation
            status="{{ isSubmitted && form.controls.preparation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>
      
        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false && show">
          <label for="route_of_administration" class="form-text text-muted font-weight-bold">Via de administración:</label>
          <input nbInput fullWidth id="route_of_administration" formControlName="route_of_administration" route_of_administration
            status="{{ isSubmitted && form.controls.route_of_administration.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false && show">
          <label for="blend" class="form-text text-muted font-weight-bold">Mezcla:</label>
          <input nbInput fullWidth id="blend" formControlName="blend" blend
            status="{{ isSubmitted && form.controls.blend.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false && show">
          <label for="administration_time" class="form-text text-muted font-weight-bold">Tiempo de administración:</label>
          <input nbInput fullWidth id="administration_time" formControlName="administration_time" administration_time
            status="{{ isSubmitted && form.controls.administration_time.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>
      </div> -->

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>