<div class="row" *ngIf="messageError">
  <div class="col-12">
    <nb-alert status="danger" class="container-fluid">
      <strong>Oh Dios!</strong> {{messageError}}
    </nb-alert>
  </div>
</div>
<ngx-breadcrumb [routes]="routes"></ngx-breadcrumb>
<div class="row">
  <div class="col-12">
    <nb-card class="nb-card-title">
      <div class="icon-container">
        <div class="icon status-warning">
          <i class="nb-compose"></i>
        </div>
      </div>
      <div class="details">
        <div class="title h5">Formato de papel</div>
        <div class="status paragraph-2">Registrar</div>
      </div>
    </nb-card>
  </div>
</div>
<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">
  <nb-card-body>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formPaperFormats" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-12">
              <small class="form-text text-muted">Nombre:</small>
              <input type="text"
                     nbInput
                     fullWidth
                     fieldSize="medium"
                     placeholder="Nombre"
                     formControlName="name"
                     #name
                     status="{{ (formPaperFormats.controls.name.dirty || formPaperFormats.controls.name.touched) && formPaperFormats.controls.name.errors || isSubmitted && formPaperFormats.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.name.invalid && (formPaperFormats.controls.name.dirty || formPaperFormats.controls.name.touched) || formPaperFormats.controls.name.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.name.errors.required">Ingrese el nombre</small>
              </div>
            </div>
            <div class="col-4">
              <small class="form-text text-muted">Alto:</small>
              <input
                type="text"
                nbInput
                fullWidth
                fieldSize="medium"
                placeholder="Alto"
                formControlName="height"
                #height
                status="{{ (formPaperFormats.controls.height.dirty || formPaperFormats.controls.height.touched) && formPaperFormats.controls.height.errors || isSubmitted && formPaperFormats.controls.height.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.height.invalid && (formPaperFormats.controls.height.dirty || formPaperFormats.controls.height.touched) || formPaperFormats.controls.height.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.height.errors.required">Ingrese el alto</small>
              </div>
            </div>
            <div class="col-4">
              <small class="form-text text-muted">Ancho:</small>
              <input
                type="text"
                nbInput
                fullWidth
                fieldSize="medium"
                placeholder="Ancho"
                formControlName="width"
                #width
                status="{{ (formPaperFormats.controls.width.dirty || formPaperFormats.controls.width.touched) && formPaperFormats.controls.width.errors || isSubmitted && formPaperFormats.controls.width.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.width.invalid && (formPaperFormats.controls.width.dirty || formPaperFormats.controls.width.touched) || formPaperFormats.controls.width.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.width.errors.required">Ingrese el ancho</small>
              </div>
            </div>
            <div class="col-4">
              <small class="form-text text-muted">Orientación:</small>
              <nb-select
                fullWidth
                fieldSize="medium"
                formControlName="landscape"
                #landscape
                placeholder="Seleccione"
                status="{{ (formPaperFormats.controls.landscape.dirty || formPaperFormats.controls.landscape.touched) && formPaperFormats.controls.landscape.errors || isSubmitted && formPaperFormats.controls.landscape.errors ? 'danger' : isSubmitted ? 'success' : '' }}"

              >
                <nb-option value="1">Horizontal</nb-option>
                <nb-option value="0">Vertical</nb-option>
              </nb-select>
              <div
                *ngIf="formPaperFormats.controls.landscape.invalid && (formPaperFormats.controls.landscape.dirty || formPaperFormats.controls.landscape.touched) || formPaperFormats.controls.landscape.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.landscape.errors.required">Seleccione orientación</small>
              </div>
            </div>
            <div class="col-3">
              <small class="form-text text-muted">Margen - arriba:</small>
              <input
                type="text"
                nbInput
                fullWidth
                fieldSize="medium"
                placeholder="Margen - arriba"
                formControlName="margin_top"
                #margin_top
                status="{{ (formPaperFormats.controls.margin_top.dirty || formPaperFormats.controls.margin_top.touched) && formPaperFormats.controls.margin_top.errors || isSubmitted && formPaperFormats.controls.margin_top.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.margin_top.invalid && (formPaperFormats.controls.margin_top.dirty || formPaperFormats.controls.margin_top.touched) || formPaperFormats.controls.margin_top.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.margin_top.errors.required">Ingrese el margen de arriba</small>
              </div>
            </div>
            <div class="col-3">
              <small class="form-text text-muted">Margen - abajo:</small>
              <input
                type="text"
                nbInput
                fullWidth
                fieldSize="medium"
                placeholder="Margen - abajo"
                formControlName="margin_bottom"
                #margin_bottom
                status="{{ (formPaperFormats.controls.margin_bottom.dirty || formPaperFormats.controls.margin_bottom.touched) && formPaperFormats.controls.margin_bottom.errors || isSubmitted && formPaperFormats.controls.margin_bottom.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.margin_bottom.invalid && (formPaperFormats.controls.margin_bottom.dirty || formPaperFormats.controls.margin_bottom.touched) || formPaperFormats.controls.margin_bottom.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.margin_bottom.errors.required">Ingrese el margen de
                  abajo</small>
              </div>
            </div>
            <div class="col-3">
              <small class="form-text text-muted">Margen - izquierdo:</small>
              <input
                type="text"
                nbInput
                fullWidth
                fieldSize="medium"
                placeholder="Margen - izquierdo"
                formControlName="margin_left"
                #margin_left
                status="{{ (formPaperFormats.controls.margin_left.dirty || formPaperFormats.controls.margin_left.touched) && formPaperFormats.controls.margin_left.errors || isSubmitted && formPaperFormats.controls.margin_left.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.margin_left.invalid && (formPaperFormats.controls.margin_left.dirty || formPaperFormats.controls.margin_left.touched) || formPaperFormats.controls.margin_left.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.margin_left.errors.required">Ingrese el margen izquierdo</small>
              </div>
            </div>
            <div class="col-3">
              <small class="form-text text-muted">Margen - derecho:</small>
              <input
                type="text"
                nbInput
                fullWidth
                fieldSize="medium"
                placeholder="Margen - derecho"
                formControlName="margin_rigth"
                #margin_rigth
                status="{{ (formPaperFormats.controls.margin_rigth.dirty || formPaperFormats.controls.margin_rigth.touched) && formPaperFormats.controls.margin_rigth.errors || isSubmitted && formPaperFormats.controls.margin_rigth.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              />
              <div
                *ngIf="formPaperFormats.controls.margin_rigth.invalid && (formPaperFormats.controls.margin_rigth.dirty || formPaperFormats.controls.margin_rigth.touched) || formPaperFormats.controls.margin_rigth.invalid && isSubmitted ">
                <small *ngIf="formPaperFormats.controls.margin_rigth.errors.required">Ingrese el margen derecho</small>
              </div>
            </div>
            <div class="col-12 div-send">
              <button type="submit" nbButton status="success ">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
