<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card>
    <nb-card-header>
      Crear grupo
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="code">Código</label>
            <input nbInput fullWidth id="code" formControlName="code" code
                   status="{{ isSubmitted && form.controls.code.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input nbInput fullWidth id="name" formControlName="name" name
                   status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea nbInput fullWidth id="description" formControlName="description" name
                      status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton ghost type="button" (click)="close()">Cancelar</button>
      <button nbButton status="danger">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>
