<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <p class="text-muted title-form">Red de apoyo</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="ch_sw_network_id" class="form-text text-muted font-weight-bold">
          Red de apoyo
        </label>
        <nb-select formControlName="ch_sw_network_id" id="ch_sw_network_id" fullWidth
          status="{{ isSubmitted && form.controls.ch_sw_network_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option *ngFor="let item of network" [value]="item.id">{{ item.name }}</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="provided" class="form-text text-muted font-weight-bold">Brindada por</label>
        <input type="text" nbInput fullWidth id="provided" formControlName="provided" provided
          status="{{ isSubmitted && form.controls.provided.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold text ">Nota de Trabajo Social</label>
        <textarea id="sw_note" nbInput fullWidth formControlName="sw_note" sw_note onpaste="return false" rows="2"
          cols="20"
          status="{{ isSubmitted && form.controls.sw_note.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <div class="div-send">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>

</form>