<div *ngIf="section !== null">
  <div class="title-sections">
    <p>Sección {{ section.name }} </p >
    <span>{{ section.description }}</span><br/>
    <span *ngIf="section.user_role[0] !== null && section.user_role[0] !== undefined 
                    && section.user_role[0].user !== null && section.user_role[0].user !== undefined">
      Formador: {{ section.user_role[0].user.middlefirstname }} {{
      section.user_role[0].user.lastname }}
    </span>
    <span *ngIf="!(section.user_role[0] !== null && section.user_role[0] !== undefined 
                        && section.user_role[0].user !== null && section.user_role[0].user !== undefined)">
      Formador: No asignado
    </span>
  </div>
    <!-- Section Descritive -->
    <div *ngIf="section.is_matriz === true" style="display: flex;flex-direction:row;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="th-first"  >
              {{ section.pivot.name }}
            </th>
            <th *ngFor="let qs of section.answer_type.answers" class="th-seconds" >
              {{ qs.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qs of section.questions" >
            <td class="th-first" >
              {{ qs.name }}
            </td>
            <td *ngFor="let ans of section.answer_type.answers" class="th-seconds">
              <nb-radio [value]="ans.id"
                class="radio-center"
                (input)="clickAnswer(qs.id,ans.id)"
                [checked]="questionAnswer[qs.id] !== undefined
                  && questionAnswer[qs.id].answer_id === ans.id"
                [name]="qs.id"></nb-radio>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End Section desctive -->
    <!-- Section multiple forms -->
    <div *ngIf="section.is_matriz === false">
      <div *ngFor="let qs of section.questions" class="border-survey">
        <p>
          {{ qs.name }}
        </p >
        <span>
          {{ qs.description }}
        </span>
        <div [ngSwitch]="qs.question_type_id">
          <div *ngSwitchCase="1">
            <nb-radio-group (input)="changeAnswer(qs.id,$event,'simple')" [name]="qs.id"
              [value]="questionAnswer[qs.id] === undefined ? null :questionAnswer[qs.id].answer_id">
              <nb-radio [value]="ans.id" *ngFor="let ans of qs.answers">
                {{ ans.name }}
              </nb-radio>
            </nb-radio-group>
          </div>
          <div *ngSwitchCase="2">
            <nb-checkbox (checkedChange)="changeAnswer({
                question:qs.id,
                answer:ans.id
              },
              $event,
              'multiple')"
              style="display: block;"
              *ngFor="let ans of qs.answers">
              {{ ans.name }}
            </nb-checkbox>
          </div>
          <div *ngSwitchCase="3">
            <textarea nbInput (input)="changeAnswer(qs.id,$event,'text')" fullWidth placeholder="Responda aquí"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- EndSection multiple forms -->
    <div>
      <nb-alert *ngIf="alert.show" status="danger" class="colorAlert"
          [innerHTML]="alert.text"></nb-alert>
    </div>
</div>
<div style="display: flex;justify-content: flex-end;">
  <button *ngIf="logged" nbButton status="primary" size="small" (click)="back()" style="margin-right: 10px;">
    Salir
  </button>
  <button nbButton [disabled]="loading" status="primary" size="small" (click)="updateSurvey(position+1)" *ngIf="position < lastposition">
    Siguiente Sección
  </button>
  <button nbButton [disabled]="loading" status="primary" size="small" (click)="updateSurvey(position,true)" *ngIf="position === lastposition">
    Finalizar
  </button>
</div>
