$base-color: #002775;

.questionsHeaders {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.border-survey {
  border: 2px solid $base-color;
  margin-bottom: 5px;
  padding: 5px 10px;
  & p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  & span {
    font-size: 9px;
  }
}

.title-sections {
  background-color: $base-color;
  color: white;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 0rem;
  p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  span {
    font-size: 9px;
  }
}

.accordion-title {
  color: $base-color;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.course-information {
  border: 2px solid $base-color;
  margin-bottom: 5px;
  padding: 5px 10px;
  p {
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
  }
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  font-weight: bold;
}

.questionBody {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  border: 1px solid;
}

.scaleHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
  padding: 5px 5px;
  font-weight: bold;
}

.scalesContainer {
  display: flex;
  justify-content: space-evenly;
}

.answersContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 5px;
}

.answersBody {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

table {
  & thead {
    background-color: $base-color;
    color: white;
    & .th-first {
      width: 60%;
    }
    & .th-seconds {
      text-align: center;
    }
  }
  & tbody {
    & .th-first {
      width: 60%;
    }
    & .th-seconds {
      text-align: center;
      align-self: center;
    }
    & .radio-center {
      display: inline;
    }
  }
}
