<ngx-form-notes-description (messageEvent)="receiveMessage($event)" [record_id]="record_id">
</ngx-form-notes-description>
<label class="form-text text-muted font-weight-bold align"> </label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" customData="ch_notes_description" [settings]="settings"
      entity="ch_notes_description/by_record/{{record_id}}/{{type_record_id}}">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>