input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-save {
  margin-top: 8PX;

  float: RIGHT;
}

.config-title {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

nb-checkbox {
  display: block;
}

.open-window {
  margin-top: 1rem;
}

.asds {
  text-align: center;
}