
<div *ngIf="has_input == false || type_record_id != 1">
  <ngx-form-language-cognitive (messageEvent)="receiveMessage($event)" >
  </ngx-form-language-cognitive>
</div>

<div>
  <label for="cognitive_tl" class="form-text text-muted font-weight-bold align">Cognitivo</label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table  pager="false" [title]="title" customData="cognitive_tl" [settings]="settings"
      entity="cognitive_tl/by_record/{{record_id}}/1?pagination=false&has_input={{has_input}}">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
</div>