

<ngx-base-list>
    <div content>
        <div class="row text-center ">
            <div class="col-12">
                <h3 class="text-basic-color ">Restablecer Contraseña</h3>
            </div>
        </div>
        <div actions>
            <div class="actions">
                <a nbButton routerLink="/auth">Volver</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6 text-center">
                <input class="input-login" type="email" nbInput fullWidth
                [formControl]="inputItemFormControl"
                placeholder="Correo" formControlName="email" required email minlength="5" autocomplete="on">
                
            </div>
            <div class="col-6 text-right">
                <button  nbSpinnerStatus="success" nbButton size="large"
                    (click)="resetPassword()">Restablecer</button>
            </div>
            
        </div>
        
    </div>
</ngx-base-list>