<ngx-form-sw-nursing (messageEvent)="receiveMessage($event)" [record_id]="record_id">
</ngx-form-sw-nursing>
<div class="center">
  <label class="form-text text-muted font-weight-bold align center">Registros Composición Familiar</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_sw_nursing"
        [settings]="settings" entity="ch_sw_nursing/by_record/{{record_id}}/1">
      </ngx-base-table>
    </div>