<div *ngIf="this.mainhelpcenter == ''" class="container">
    <h1 class="tittlemain" style="text-align:center;">CENTRO DE AYUDA</h1>
    <div class="row">
        <div class="col-md-4 div-two">
            <a (click)="goToAdministrative()">
                <img src="assets/images/Administrativo.svg" alt="Administrativo" class="icon" />
            </a>
        </div>
        <div class="col-md-4 div-two">
            <a (click)="goToAssistencial()">
                <img src="assets/images/Asistencial.svg" alt="Asistencial" class="icon" />
            </a>
        </div>
        <div class="col-md-4 div-two">
            <a (click)="goToSetting2()">
                <img src="assets/images/Configuración.svg" alt="Configuración" class="icon" />
            </a>
        </div>
        <div class="col-md-4 div-two">
            <a (click)="goToDashboard2()">
                <img src="assets/images/Dashboard.svg" alt="Dashboard" class="icon" />
            </a>
        </div>
        <div class="col-md-4 div-two">
            <a (click)="goToFinance()">
                <img src="assets/images/Financiero.svg" alt="Financiero" class="icon" />
            </a>
        </div>
        <div class="col-md-4 div-two">
            <a (click)="goToLogistic()">
                <img src="assets/images/Logística.svg" alt="Logística" class="icon" />
            </a>
        </div>
    </div>
</div>

<div *ngIf="this.mainhelpcenter == 'ADMINISTRATIVE'" class="container_administrativo">
    <button style="background-color: #3eb8be; color:white; border-color: white; opacity:90%;"  nbButton (click)="back()">Volver</button>
    <h1 class="tittle1" style="text-align:center;">CENTRO DE AYUDA <br>
        <span style="text-align:center;" class="tittle2">ADMINISTRATIVO</span></h1>
    <div class="row">
        <div class="col-md-4 div-two">
            <!-- <a href="#" target="#"> -->
            <img src="assets/images/Contratos.svg" alt="Contratos" class="icon" />
            <!-- </a> -->
        </div>
        <div class="col-md-4 div-two">
            <!-- <a href="#" target="#"> -->
            <img src="assets/images/Glosas.svg" alt="Glosas" class="icon" />
            <!-- </a> -->
        </div>
        <div class="col-md-4 div-two">
            <!-- <a href="#" target="#"> -->
            <img src="assets/images/Conciliaciones.svg" alt="Conciliaciones" class="icon" />
            <!-- </a> -->
        </div>
    </div>
</div>

<div *ngIf="this.mainhelpcenter == 'ASSISTENCIAL'" class="container_asistencial">
    <button style="background-color: #3eb8be; color:white; border-color: white; opacity:90%;"  nbButton (click)="back()">Volver</button>
    <h1 class="tittle1" style="text-align:center;">CENTRO DE AYUDA <br>
        <span style="text-align:center;" class="tittle2">ASISTENCIAL</span></h1>
    <div class="col-md-4 div-two">
        <a href="assets/images/Hospitalización.pdf" target="_blank">
            <img src="assets/images/Hospitalización.svg" alt="Hospitalización" class="icon" />
        </a>
    </div>
</div>

<div *ngIf="this.mainhelpcenter == 'SETTING2'" class="container_configuración">
    <button style="background-color: #3eb8be; color:white; border-color: white; opacity:90%;"  nbButton (click)="back()">Volver</button>
    <h1 class="tittle1" style="text-align:center;">CENTRO DE AYUDA <br>
        <span style="text-align:center;" class="tittle2">CONFIGURACIÓN</span></h1>
    <div class="col-md-4 div-two">
        <!-- <a href="#" target="#"> -->
        <img src="assets/images/Configuración.svg" alt="Configuración" class="icon" />
        <!-- </a> -->
    </div>
</div>

<div *ngIf="this.mainhelpcenter == 'DASHBOARD2'" class="container_dashboard">
    <button style="background-color: #3eb8be; color:white; border-color: white; opacity:90%;"  nbButton (click)="back()">Volver</button>
    <h1 class="tittle1" style="text-align:center;">CENTRO DE AYUDA <br>
        <span style="text-align:center;" class="tittle2">DASHBOARD</span></h1>
    <div class="col-md-4 div-two">
        <!-- <a href="#" target="#"> -->
        <img src="assets/images/Dashboard.svg" alt="Dashboard" class="icon" />
        <!-- </a> -->
    </div>
</div>

<div *ngIf="this.mainhelpcenter == 'FINANCE'" class="container_financiero">
    <button style="background-color: #3eb8be; color:white; border-color: white; opacity:90%;"  nbButton (click)="back()">Volver</button>
    <h1 class="tittle1" style="text-align:center;">CENTRO DE AYUDA <br>
        <span style="text-align:center;" class="tittle2">FINANCIERO</span></h1>
    <div class="col-md-4 div-two">
        <!-- <a href="#" target="#"> -->
        <img src="assets/images/Financiero.svg" alt="Financiero" class="icon" />
        <!-- </a> -->
    </div>
</div>

<div *ngIf="this.mainhelpcenter == 'LOGISTIC'" class="container_logística">
    <button style="background-color: #3eb8be; color:white; border-color: white; opacity:90%;"  nbButton (click)="back()">Volver</button>
    <h1 class="tittle1" style="text-align:center;">CENTRO DE AYUDA <br>
        <span style="text-align:center;" class="tittle2">LOGÍSTICA</span></h1>
    <div class="col-md-4 div-two">
        <!-- <a href="#" target="#"> -->
        <img src="assets/images/Logística.svg" alt="Logística" class="icon" />
        <!-- </a> -->
    </div>
</div>