
  <ejs-schedule width='100%' height='550px' #scheduleObj [showHeaderBar]="true" [selectedDate]="schedulerDate"
    (actionComplete)='onActionComplete($event)' [timeScale]="timeScale" (popupOpen)='onPopupOpen($event)'>
  </ejs-schedule>

<!-- <ngx-base-list >
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="ch_ap"
      customData="ch_ap" [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <div class="space">
            <button nbButton status="danger">agregar eventos</button>
          </div>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list> -->