<form [formGroup]="form">

  <nb-accordion>

    <!-- Ostomies 1 -->
    <nb-accordion-item>
      <nb-accordion-item-header center>Ostomias</nb-accordion-item-header>
      <nb-accordion-item-body>

    <ngx-language-ostomies [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-ostomies>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Alteraciones En La Deglución 2 -->

    <nb-accordion-item>
      <nb-accordion-item-header>Alteraciones En La Deglución</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-swallowing [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-swallowing>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Alteraciones En La Voz 3-->

    <nb-accordion-item>
      <nb-accordion-item-header>Alteraciones En La Voz</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-alterations [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-alterations>

        
      </nb-accordion-item-body>
    </nb-accordion-item>



    <!-- Audición 4 -->

    <nb-accordion-item>
      <nb-accordion-item-header>Audición</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-hearing  [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-hearing>

      </nb-accordion-item-body>
    </nb-accordion-item>


    <!-- Lenguaje 5 -->

    <nb-accordion-item>
      <nb-accordion-item-header>Lenguaje</nb-accordion-item-header>
      <nb-accordion-item-body>

        <ngx-language-linguistic [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-linguistic>
        
      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Comunicación 6 -->
    <nb-accordion-item>
      <nb-accordion-item-header>Comunicación</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-communication [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-communication>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Cognitivo 7 -->
    <nb-accordion-item>
      <nb-accordion-item-header>Cognitivo</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-cognitive [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-cognitive>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Orofacial 8-->
    <nb-accordion-item>
      <nb-accordion-item-header>Orofacial</nb-accordion-item-header>
      <nb-accordion-item-body>
      
        <ngx-language-orofacial [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-orofacial>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Habla 9 -->
    <nb-accordion-item>
      <nb-accordion-item-header>Habla</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-speech [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-speech>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Pruebas Especificas 12 -->
    <nb-accordion-item>
      <nb-accordion-item-header>Pruebas Especificas</nb-accordion-item-header>
      <nb-accordion-item-body>
        
        <ngx-language-tests  [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"></ngx-language-tests>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Objetivos Terapeuticos-->
    <nb-accordion-item>
      <nb-accordion-item-header>Objetivos Terapeuticos</nb-accordion-item-header>
      <nb-accordion-item-body>
        <ngx-language-therapeutic-goals [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record]="1">
        </ngx-language-therapeutic-goals>

      </nb-accordion-item-body>
    </nb-accordion-item>



  <!-- Diagnostico Cif 14-->
    <nb-accordion-item>
      <nb-accordion-item-header>Diagnostico Cif</nb-accordion-item-header>
      <nb-accordion-item-body>
        <ngx-form-language-evo-diagnosis *ngIf="cifdiagnosistl" [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="type_record_id"
        [data]="cifdiagnosistl">
        </ngx-form-language-evo-diagnosis>

      </nb-accordion-item-body>
    </nb-accordion-item>


    <!-- Numero de Sesiones Mensuales E Intensidad Semana 15 -->

    <nb-accordion-item>
      <nb-accordion-item-header>Numero de Sesiones Mensuales E Intensidad Semana</nb-accordion-item-header>
      <nb-accordion-item-body>

        <ngx-language-reg-sessions [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record]="1">
        </ngx-language-reg-sessions>


      </nb-accordion-item-body>
    </nb-accordion-item>


  </nb-accordion>
</form>