<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-tabset class="tabset" (changeTab)="tablock($event)">
      <nb-tab tabTitle="ADMISIONES NO PGP">
        <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
          entity="billing_pad/getEnabledAdmissions/0?pgp=false" customData="billing_pad"
          [messageToltip]="messageToltip">
          <div actions>
            <div class="actions" style="margin-top:1em;">
            </div>
          </div>
        </ngx-base-table>
      </nb-tab>
      <nb-tab tabTitle="ADMISIONES PGP">
        <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
        entity="billing_pad/getEnabledAdmissions/0?pgp=true" customData="billing_pad"
        [messageToltip]="messageToltip">
        <div actions>
          <div class="actions" style="margin-top:1em;">
          </div>
        </div>
      </ngx-base-table>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>