<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
      entity="billing_pad/getEnabledAdmissions/0" customData="billing_pad" [messageToltip]="messageToltip">
      <div actions>
        <!-- <div class="actions">
          <nb-select (selectedChange)="ChangeGlossStatus($event)" placeholder="Filtrar por estado">
            <nb-option value="0">TODOS LOS REGISTROS</nb-option>
            <nb-option *ngFor="let item of auth_statusM" [value]="item.id">{{item.name}}</nb-option>
          </nb-select>
        </div> -->
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>

    <!-- <nb-tabset fullWidth (changeTab)="reloadForm($event)">
      <nb-tab tabTitle="ADMISIONES">
      </nb-tab>
      <nb-tab tabTitle="FACTURAS">
        <div *ngIf="screen == 2">
          <ngx-historic-authorization (messageEvent)="null"></ngx-historic-authorization>
        </div>
      </nb-tab>
    </nb-tabset> -->

  </div>
</ngx-base-list>