<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-tabset>
      <nb-tab tabTitle="INGRESO">
        Tab content 1
      </nb-tab>
      <nb-tab tabTitle="ANTECEDENES">
        Tab content 2
      </nb-tab>
      <nb-tab tabTitle="EVOLUCIÓN">
        Tab content 3
      </nb-tab>
      <nb-tab tabTitle="FORMULACIÓN">
        Tab content 4
      </nb-tab>
      <nb-tab tabTitle="ORDEN MEDICAS">
        Tab content 5
      </nb-tab>
      <nb-tab tabTitle="RESULTADOS">
        Tab content 6
      </nb-tab>
      <nb-tab tabTitle="SALIDA">
        Tab content 7
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>