
<div *ngIf="has_input == false || type_record_id != 1">
  <ngx-form-auscultacion-therapy (messageEvent)="receiveMessage($event)" [record_id]="record_id" [type_record_id]="type_record_id">
  </ngx-form-auscultacion-therapy>
</div>

<div>
  <div class="center">
    <label class="form-text text-muted font-weight-bold align center">Registro de Auscultación</label>
    <ngx-base-list [messageError]="messageError" [routes]="routes">
      <div content>
        <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_auscultation"
          [settings]="settings" entity="ch_auscultation/by_record/{{record_id}}/{{type_record_id}}?&has_input={{has_input}}">
        </ngx-base-table>
      </div>
    </ngx-base-list>
  </div> 
</div>