<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <nb-select multiple formControlName="aus" id="aus" fullWidth placeholder="Seleccione..."
        status="{{ isSubmitted && form.controls.aus.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
        <nb-option value="MURMULLO VESICULAR CONSERVADO">MURMULLO VESICULAR CONSERVADO</nb-option>
        <nb-option value="CREPITOS">CREPITOS</nb-option>
        <nb-option value="ESTERTORES">ESTERTORES</nb-option>
        <nb-option value="ESTRIDOR LARINGEO">ESTRIDOR LARINGEO</nb-option>
        <nb-option value="FROTE PLEURAL">FROTE PLEURAL</nb-option>
        <nb-option value="RONCUS">RONCUS</nb-option>
        <nb-option value="SIBILANCIAS">SIBILANCIAS</nb-option>
      </nb-select>
    </div>
  </div>
  
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-4">
          <hr />
        </div>
      </div>
    </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN MURMULLO VESICULAR CONSERVADO</label>
      <textarea onpaste="return false"  id="obs_murmur" nbInput fullWidth
        formControlName="obs_murmur" obs_murmur rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_murmur.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN CREPITOS</label>
      <textarea onpaste="return false"  id="obs_crepits" nbInput fullWidth
        formControlName="obs_crepits" obs_crepits rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_crepits.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN ESTERTORES</label>
      <textarea onpaste="return false"  id="obs_rales" nbInput fullWidth
        formControlName="obs_rales" obs_rales rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_rales.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN ESTRIDOR LARINGEO</label>
      <textarea onpaste="return false"  id="obs_stridor" nbInput fullWidth
        formControlName="obs_stridor" obs_stridor rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_stridor.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN FROTE PLEURAL</label>
      <textarea onpaste="return false"  id="obs_pleural" nbInput fullWidth
        formControlName="obs_pleural" obs_pleural rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_pleural.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN RONCUS</label>
      <textarea onpaste="return false"  id="obs_roncus" nbInput fullWidth
        formControlName="obs_roncus" obs_roncus rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_roncus.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
    <div class="col col-lg-3">
      <label class="form-text text-muted font-weight-bold text ">OBSERVACIÓN SIBILANCIAS</label>
      <textarea onpaste="return false"  id="obs_wheezing" nbInput fullWidth
        formControlName="obs_wheezing" obs_wheezing rows="4" cols="80"
        status="{{ isSubmitted && form.controls.obs_wheezing.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
  </div>


  <div class="div-send">
    <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
  </div>

</form>