<!-- <ngx-form-drug-application (messageEvent)="receiveMessage($event)" [user]="this.user">
</ngx-form-drug-application> -->
<!-- <label class="form-text text-muted font-weight-bold align">FORMULACIONES</label> -->
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" [title]="title" customData="assistance_supplies" [settings]="settings"
      [entity]="entity">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>