<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <div class="row" *ngIf="user">
      <div class="col-md-6" title *ngIf="user">
        <p class="parrafo" *ngIf="user"><b>CÉDULA:</b> {{user.identification}} </p>
        <p class="parrafo" *ngIf="user"><b>NOMBRE:</b> <span>{{this.user.firstname}}</span> &nbsp; <span
            *ngIf="this.user.middlefirstname">{{this.user.middlefirstname}}</span> &nbsp;
          <span>{{this.user.lastname}}</span> &nbsp; <span
            *ngIf="this.user.middlelastname">{{this.user.middlelastname}}</span>
        </p>
        <p class="parrafo" *ngIf="user"><b>FECHA DE NACIMIENTO:</b> {{this.datePipe.transform3(user.birthday)}} </p>
        <p class="parrafo" *ngIf="user"><b>EDAD:</b> {{user.age}} </p>
        <div *ngIf="management">
          <div *ngIf="this.management.lenght > 0 && this.management[0].type_of_attention_id == 17">
            <p class="parrafo"><b>TIPO DE ATENCIÓN:</b> {{management[0].type_of_attention.name}} </p>
            <hr width=400>
            <p class="parrafo" *ngIf="management[0].service_briefcase!=null"><b>MEDICAMENTO:</b>
              <b> {{management[0].service_briefcase.manual_price.name}}</b>
            </p>
            <p class="parrafo" *ngIf="management[0].quantity!=null && management[0].type_of_attention_id!=17">
              <b>CANTIDAD:</b> {{management[0].quantity}}
            </p>

            <p class="parrafo" *ngIf="management[0].dosage_administer!=null"><b>DOSIS A ADMINISTRAR:</b>
              {{management[0].dosage_administer}}
              {{management[0].service_briefcase.manual_price.product.measurement_units.name}}
            </p>
            <p class="parrafo" *ngIf="management[0].type_of_attention_id==17"><b>FRECUENCIA HORARIA:</b> CADA
              {{management[0].quantity}} HORAS
            </p>

            <p class="parrafo" *ngIf="management[0].route_of_administration!=null"><b>VIA DE ADMINISTRACIÓN:</b>
              {{management[0].route_of_administration}} </p>

            <p class="parrafo" *ngIf="management[0].number_doses!=null"><b>DOSIS TOTALES DEL TRATAMIENTO:</b>
              {{management[0].number_doses}} APLICACIONES
            </p>
            <p class="parrafo" *ngIf="management[0].administration_time!=null"><b>TIEMPO DE ADMINISTRACIÓN:</b>
              {{management[0].administration_time}} MINUTOS</p>
            <p class="parrafo" *ngIf="management[0].preparation!=null"><b>PREPARACIÓN:</b> {{management[0].preparation}}
            </p>

            <p class="parrafo" *ngIf="management[0].blend!=null"><b>MEZCLA:</b> {{management[0].blend}} </p>

            <p class="parrafo" *ngIf="management[0].observation!=null"><b>OBSERVACIÓN:</b>
              {{management[0].observation}} </p>

            <p class="parrafo" *ngIf="this.text"><b>APLICACIONES PENDIENTES:</b>
              {{this.text}} </p>
        </div>
      </div>
      <div *ngIf="show_labs">
        <p class="parrafo" *ngIf="show_labs"><b>LABORATORIOS:</b>
        </p>
        <div *ngFor="let item of this.ch_record[0].assigned_management_plan.management_plan.management_procedure">
          <p class="parrafo">
            {{item.services_briefcase.manual_price.name}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 position">
      <a nbButton (click)="back()">Volver</a>
    </div>
  </div>

  <nb-tabset *ngIf="user" class="tabset" (changeTab)="tablock($event)">

    <nb-tab tabTitle="INGRESO" *ngIf="is_pad != 17">
      <div *ngIf="this.show == 1">
        <ngx-entry-clinic-history-nursing [data]="null" [record_id]="this.record_id" [type_record_id]="1"
          [has_input]="this.has_input" [admission]="admission">
        </ngx-entry-clinic-history-nursing>
      </div>
    </nb-tab>

    <nb-tab tabTitle="NOTA DE ENFERMERÍA">
      <div *ngIf="this.show == 2">
        <ngx-nursering-notes [record_id]="record_id" [type_record_id]="3" [admission]="admission" [is_pad]="is_pad">
        </ngx-nursering-notes>
      </div>
    </nb-tab>

    <nb-tab tabTitle="VALORACIÓN DE LA PIEL" *ngIf="is_pad != 17">
      <div *ngIf="this.show == 3">
        <ngx-skin-valoration [record_id]="this.record_id" [type_record_id]="3"></ngx-skin-valoration>
      </div>
    </nb-tab>

    <nb-tab tabTitle="ESCALAS" *ngIf="is_pad != 17">
      <div *ngIf="this.show == 4">

        <ngx-form-ch-scales [enfermery]="true" [record_id]="this.record_id">
        </ngx-form-ch-scales>

      </div>
    </nb-tab>

    <nb-tab *ngIf="ch_record[0]['assigned_management_plan']" tabTitle="APLICACIÓN DE MEDICAMENTOS">
      <div *ngIf="this.show == 5">

        <ngx-nursering-medication [data]="null" [record_id]="this.record_id" [type_record_id]="9" (messageEvent)="reloadAplication($event)">
        </ngx-nursering-medication>
      </div>
    </nb-tab>

  </nb-tabset>
  <div style="text-align: center;">
    <a (click)="close()" nbButton>Finalizar registro</a>
  </div>
  </div>

</ngx-base-list>