<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode"> 
        <!-- <nb-stepper orientation="vertical" #stepper [linear]="linearMode">  -->
          <nb-step [stepControl]="nameForm" label="Valoración">
            <ngx-reason-consultation-respiratory-therapy  [record_id]="record_id" [type_record_id]="type_record_id">
            </ngx-reason-consultation-respiratory-therapy>

          </nb-step>

          <nb-step [stepControl]="nameForm" label="Antecedentes">
                <ngx-back-list [record_id]="record_id" [user]="user" [type_record_id]="type_record_id"></ngx-back-list>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Signos Vitales">
           <ngx-signs [record_id]="record_id" [admissions]="admissions" [type_record_id]="type_record_id"></ngx-signs>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Destete de oxigeno">
            <ngx-oxygen-therapy [record_id]="record_id" [type_record_id]="type_record_id"></ngx-oxygen-therapy>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Pedido de insumos">
            <ngx-insume-request [record_id]="record_id" [user]="user"></ngx-insume-request>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Sesiones">
            <ngx-sessions-therapy [record_id]="record_id" [type_record_id]="type_record_id"></ngx-sessions-therapy>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Intervención">
            <ngx-ps-intervention [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ps-intervention>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Recomendaciones">
            <ngx-recommendations-evo [record_id]="record_id" [type_record]="type_record_id"></ngx-recommendations-evo>
          </nb-step>

          <nb-step [hidden]="true">

            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>

          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>