<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="large" style="max-width: 500px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="concept_type_id" class="form-text text-muted font-weight-bold">
              Tipo de concepto:
            </label>
            <nb-select formControlName="concept_type_id" id="concept_type_id" fullWidth
                       status="{{ isSubmitted && form.controls.concept_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of conceptTypes" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="form-text text-muted font-weight-bold">
              Concepto:
            </label>
            <ngx-autocomplete-remote
              url="conceptAutocomplete"
              returnData="concepts"
              formControlName="concept_id"
              [params]="paramsConceptAutocomplete.bind(this)"
              [initValue]="initConcept.bind(this)"
              status="{{ isSubmitted && form.controls.concept_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
            >
            </ngx-autocomplete-remote>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="real_date" class="form-text text-muted font-weight-bold">
              Fecha:
            </label>
            <input id="real_date" type="date"
                   nbInput formControlName="real_date"
                   fullWidth
                   status="{{ isSubmitted && form.controls.real_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="real_quantity" class="form-text text-muted font-weight-bold">
              Cantidad:
            </label>
            <input id="real_quantity" type="number"
                   nbInput formControlName="real_quantity"
                   fullWidth
                   status="{{ isSubmitted && form.controls.real_quantity.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="real_unit_value" class="form-text text-muted font-weight-bold">
              Valor unitario:
            </label>

              <input id="real_unit_value" type="number"
                     nbInput formControlName="real_unit_value"
                     fullWidth
                     status="{{ isSubmitted && form.controls.real_unit_value.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <small class="pr-2 form-text text-muted">{{ form.controls.real_unit_value.value | currency }}</small>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="observations" class="form-text text-muted font-weight-bold">
              Observación:
            </label>
            <textarea id="observations"
                      nbInput formControlName="observations"
                      fullWidth
                      status="{{ isSubmitted && form.controls.observations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <button type="button" nbButton [status]="this.form.controls.evidence_path.value ? 'danger' : 'basic'"
                    (click)="uploadImage()">
              Subir soporte
            </button>
            <input style="display: none" type="file" id="url_image"
                   (change)="changeImage($event.target.files)"
            />
          </div>
        </div>

      </div>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" [disabled]="loading">Guardar</button>
    </nb-card-footer>

  </nb-card>
</form>
