<form [formGroup]="form" (ngSubmit)="save()">

  <div class="row justify-content-center">
  
    <div class="col col-lg-6 asds">
      <label for="dynamic_balance_text" class="form-text text-muted font-weight-bold justify-content-center"> Presenta Alteración en el Equilibrio Dinámico </label>
    </div> 

    <div class="col col-lg-6">
      <nb-radio-group formControlName="dynamic_balance" smoke id="dynamic_balance" class="d-flex text" name="dynamic_balance"
        status="{{ isSubmitted && form.controls.dynamic_balance.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-radio value="SI">SI</nb-radio>
        <nb-radio value="NO">NO</nb-radio>
        <nb-radio value="NO APLICA">NO APLICA</nb-radio>
      </nb-radio-group>
    </div>   
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="static_balance_text" class="form-text text-muted font-weight-bold justify-content-center"> Presenta Alteración en el Equilibrio Estático </label>
    </div> 

    <div class="col col-lg-6">
      <nb-radio-group formControlName="static_balance" smoke id="static_balance" class="d-flex text" name="static_balance"
        status="{{ isSubmitted && form.controls.static_balance.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-radio value="SI">SI</nb-radio>
        <nb-radio value="NO">NO</nb-radio>
        <nb-radio value="NO APLICA">NO APLICA</nb-radio>
      </nb-radio-group>
    </div>   
  </div>

  <br/>

  <div class="col col-lg-12">
    <label for="observation_component_test" class="form-text text-muted font-weight-bold">Observaciones:</label>
    <textarea id="observation_component" nbInput fullWidth formControlName="observation_component" current_illness rows="1"
      cols="50"
      status="{{ isSubmitted && form.controls.observation_component.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
  </div>

  <div class="div-send">
    <button nbButton status="danger" class="ml-FUNCIONAL btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
  </div>
    

</form>