<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Concepto</th>
        <th>Valor presupuestado</th>
        <th>Valor ejecutado</th>
        <th>Soporte</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let concept of concepts; let i = index">
        <td>{{ concept.concept.concept_base.name }}</td>
        <td>{{ concept.planned_unit_value | currency }}</td>
        <td>
          <input nbInput type="number" [(ngModel)]="concept.real_unit_value">
          <small class="pr-2 form-text text-muted">{{ concept.real_unit_value | currency }}</small>
        </td>
        <td>
          <div class="d-flex" style="gap: 2px">
            <button *ngIf="!isClose" size="small" nbButton [status]="concept.evidence_path ? 'danger' : 'basic'" (click)="clickFile(i)">
              <nb-icon icon="attach-2-outline"></nb-icon>
            </button>
            <input type="file" style="display: none" [id]="'file_especial_' + i"
                   (change)="onChangeFile($event.target.files, i)">
            <a size="small" nbButton *ngIf="concept.evidence_path && isUrlFile(concept.evidence_path)" status="danger" class="ml-2"
               title="Ver documento adjunto"
               [href]="concept.evidence_path" target="_blank">
              <nb-icon icon="eye-outline"></nb-icon>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>
          Total del día
        </th>
        <th>{{ totalPresupuestado | currency }}</th>
        <th>{{ totalEjecutado | currency }}</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
