<ngx-base-list [messageError]="messageError" [routes]="routes">

  <div content>
    <div class="row">
      <div class="col-4">
        <nb-card>
          <nb-card-header class="d-flex justify-content-between align-items-center">
            <span>Grupos</span>
            <button nbButton status="danger" (click)="NewGroup()">Crear</button>
          </nb-card-header>

          <nb-list class="list-group">
            <nb-list-item *ngIf="!groups.length">
              Aun no se han creado grupos para este curso
            </nb-list-item>
            <nb-list-item class="p-0" *ngFor="let group of groups">
              <span class="w-75 pl-2">
                ({{ group.code }}) {{ group.name }}
              </span>
              <div class="d-flex justify-content-end w-25">
                <button nbButton ghost (click)="EditGroup(group)" title="Editar grupo">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <button nbButton ghost (click)="DeleteGroupConfirm(group)" title="Eliminar grupo">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
                <button nbButton (click)="ChangeSesion(group)" ghost title="Ver sesiones">
                  <nb-icon class="" icon="arrow-ios-forward-outline"></nb-icon>
                </button>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>

      <div class="col-8">
        <ngx-base-table *ngIf="current_group" entity="session" customData="sessions" [queryParams]="paramsSession"
          [subtitle]="titleSession" [settings]="settingsSession" #tableSession>
          <div actions>
            <div class="actions">
              <button nbButton status="danger" (click)="NewSession()">Crear</button>
            </div>
          </div>
        </ngx-base-table>
      </div>
    </div>
  </div>

</ngx-base-list>