<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12">
          <label for="diet_consistency" class="form-text text-muted font-weight-bold">CONSISTENCIA DE DIETA:</label>
          <nb-select [selected]="this.data.diet_consistency_id" formControlName="diet_consistency_id"
            id="diet_consistency_id" fullWidth
            status="{{ isSubmitted && form.controls.diet_consistency_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.diet_consistency_id }}" *ngFor="let item of diet_consistency"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>


      </div>

      <div style="margin-top: 10px;">
        <ngx-component-package (messageEvent)="receiveMessage($event)" [parentData]="this.data.diet_admission_id">
        </ngx-component-package>
      </div>


    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>