<form [formGroup]="form" (ngSubmit)="save()">

    <div class="row justify-content-center"> 

      <div class="col col-lg-12">
        <label class="form-text text-muted font-weight-bold">CABEZA Y CUELLO:</label>
        <nb-select [selected]="this.data.head" formControlName="head" id="head" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.head.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO SUPERIOR IZQUIERDO:</label>
        <nb-select [selected]="this.data.sup_left" formControlName="sup_left" id="sup_left" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.sup_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MANO, MUÑECA, DEDOS IZQUIERDO:</label>
        <nb-select [selected]="this.data.hand_left" formControlName="hand_left" id="hand_left" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.hand_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO SUPERIOR DERECHO:</label>
        <nb-select [selected]="this.data.sup_right" formControlName="sup_right" id="sup_right" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.sup_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MANO, MUÑECA, DEDOS  DERECHO:</label>
        <nb-select [selected]="this.data.hand" formControlName="hand" id="hand" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.hand.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

    </div>

    <div class="row justify-content-center"> 
    

      <div class="col col-lg-12">
        <label class="form-text text-muted font-weight-bold">TRONCO:</label>
        <nb-select [selected]="this.data.trunk" formControlName="trunk" id="trunk" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.trunk.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO INFERIOR IZQUIERDO:</label>
        <nb-select [selected]="this.data.inf_left" formControlName="inf_left" id="inf_left" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.inf_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">CUELLO DE PIE, DEDOS IZQUIERDO:</label>
        <nb-select [selected]="this.data.left_foot" formControlName="left_foot" id="left_foot" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.left_foot.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO INFERIOR DERCHO:</label>
        <nb-select [selected]="this.data.inf_right" formControlName="inf_right" id="inf_right" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.inf_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">CUELLO DE PIE, DEDOS DERECHO:</label>
        <nb-select [selected]="this.data.right_foot" formControlName="right_foot" id="right_foot" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.right_foot.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">1</nb-option>
          <nb-option value="1+">1+</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="2+">2+</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="3+">3+</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="4+">4+</nb-option>
          <nb-option value="5">5</nb-option>
        </nb-select>
      </div>

    </div>

    <div class="div-send">
      <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
    </div>
</form>