<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <fieldset class="field_set">
      <legend class="prue1 center">FALLIDA</legend>

      <div class="row justify-content-md-center">
        <div class="col col-lg-1">
          <label class="form-text text-muted font-weight-bold">Motivo</label>
        </div>
          <div class="col col-lg-3">
          <nb-select [selected]="this.data.ch_reason_id" formControlName="ch_reason_id"
            id="ch_reason_id" 
            status="{{ isSubmitted && form.controls.ch_reason_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">SELECCIONE...</nb-option>
            <nb-option selected="{{ item.id == this.data.ch_reason_id }}"
              *ngFor="let item of ch_reason_id" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col col-lg-1">
        <label for="file" class="form-text text-muted font-weight-bold">
          Subir documentos:
        </label>
      </div>
        <div class="col col-lg-6">
          <div class="form-group">
            <div *ngIf="previewFile" class="container py-2">
              <a [href]="previewFile" target="_blank">Ver documentos</a>
            </div>
            
            <input accept="image/png, .jpeg, .jpg, image/gif" type="file" id="file_evidence" formControlName="file_evidence" nbInput fullWidth
              (change)="changeImage($event.target.files, 1)" />
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="field_set">
      <legend class="prue1 center">OBSERVACIONES</legend>
      
      <textarea id="descriptions" nbInput fullWidth formControlName="descriptions" analisys onpaste="return false"  rows="3" cols="50"
        status="{{ isSubmitted && form.controls.descriptions.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </fieldset>



    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>