<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="surveyInstance"
                    customData="surveyInstance"
                    [queryParams]="params"
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">
          <a *ngIf="routeBack" nbButton [routerLink]="routeBack">Volver</a>
          <a *ngIf="params.survey_id" ngxCheckPerms="encuestas-programadas.create" nbButton status="danger"
                  [routerLink]="'/pages/survey/surveys/' + params.survey_id + '/scheduled-surveys/create'">Crear
          </a>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
