<form [formGroup]="form" (ngSubmit)="save()">

  <div class="row justify-content-center">
    <div class="col-md-6 asds">
      <label for="heat_text" class="form-text text-muted font-weight-bold justify-content-center">Calor</label>
    </div>

    <div class="col col-lg-6">
      <nb-radio-group formControlName="heat" smoke id="heat" class="d-flex text" name="heat"
        status="{{ isSubmitted && form.controls.heat.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-radio value="SI">SI</nb-radio>
        <nb-radio value="NO">NO</nb-radio>
      </nb-radio-group>
    </div>   
  </div>

  <br/>

  <div class="row justify-content-center">
    <div class="col-md-6 asds">
      <label for="cold_text" class="form-text text-muted font-weight-bold justify-content-center">Frio</label>
    </div>

    <div class="col col-lg-6">
      <nb-radio-group formControlName="cold" smoke id="cold" class="d-flex text" name="cold"
        status="{{ isSubmitted && form.controls.cold.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-radio value="SI">SI</nb-radio>
        <nb-radio value="NO">NO</nb-radio>
      </nb-radio-group>
    </div>   
  </div>

  <div class="div-send">
    <button nbButton status="danger" class="ml-FUNCIONAL btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
  </div>
    

</form>