<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="process"
                    customData="process"
                    [showSearch]="false"
                    [queryParams]="queryParams"
    >
      <div actions>
        <div class="d-flex" style="gap: 10px">
          <nb-select placeholder="Seleccione" [(ngModel)]="selectedItem" (ngModelChange)="changeType($event)">
            <nb-option value="1">Enrolamiento</nb-option>
            <nb-option value="2">Calificaciones</nb-option>
          </nb-select>
          <button nbButton status="primary" (click)="handleData()" [disabled]="loading" [nbSpinner]="loading">Ejecutar
          </button>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
