<div class="row" *ngIf="messageError">
    <div class="col-12">
        <nb-alert status="danger" class="container-fluid">
            <strong>Oh Dios!</strong> {{messageError}}
        </nb-alert>
    </div>
</div>
<ngx-breadcrumb [routes]="routes"></ngx-breadcrumb>
<div class="row">
    <div class="col-12">
        <nb-card class="nb-card-title">
            <div class="icon-container">
                <div class="icon status-warning">
                    <i class="nb-roller-shades"></i>
                </div>
            </div>
            <div class="details">
                <div class="title h5">Categorías</div>
                <div class="status paragraph-2">DIRECTORIO</div>
            </div>
        </nb-card>
    </div>
    <div class="col-12">
        <ngx-dynamic-category [categories]="categoryBS.categories"></ngx-dynamic-category>
    </div>
</div>