<form [formGroup]="form">
  <div>
    <div class="row">
      <div class="col-12 col-sm-12">
        <label class="form-text text-muted font-weight-bold center-text-center">GENERACIÓN DE REPORTE GLOSAS</label>
      </div>

      <div class="col-12 col-sm-12 col-md-12">
        <label for="campus" class="form-text text-muted font-weight-bold">Sede:</label>
        <nb-select formControlName="campus_id" id="campus_id" fullWidth (change)="saveCampus($event.target.value)"
          status="{{ isSubmitted && form.controls.campus_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option selected="{{ item.id == data.campus_id }}" *ngFor="let item of campus" [value]="item.id">
            {{ item.name }}</nb-option>
        </nb-select>
      </div>

      <!-- <div class="col-12 col-sm-12 col-md-4">
        <label class="form-text text-muted font-weight-bold align">Fecha inicial:</label>
        <input nbInput type="date" [max]="today" (change)="onDatechange1($event)" fullWidth id="initial_report"
          formControlName="initial_report" initial_report
          status="{{ isSubmitted && form.controls.initial_report.errors ? 'danger': isSubmitted ? 'success': 'basic' }}" />
      </div>

      <div class="col-12 col-sm-12 col-md-4">
        <label class="form-text text-muted font-weight-bold align">Fecha final:</label>
        <input nbInput type="date" [max]="today" (change)="onDatechange1($event)" fullWidth id="final_report"
          formControlName="final_report" final_report
          status="{{ isSubmitted && form.controls.final_report.errors ? 'danger': isSubmitted ? 'success': 'basic' }}" />
      </div> -->
    </div>

    <div class="div-send">
      <button [disabled]="disabled" type="submit" nbButton status="success" title="Por Sede" (click)="exportAsXLSX()">EXCEL</button>
      <button [disabled]="disabled" type="submit" nbButton status="success" title="Todas las Sedes" (click)="exportAsXLSXGeneral()">EXCEL GENERAL</button>
    </div>
  </div>
</form>