<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <label for="coc_name" class="form-text text-muted font-weight-bold">Nombre:</label>
          <input nbInput fullWidth id="coc_name" formControlName="coc_name" coc_name
            status="{{ isSubmitted && form.controls.coc_name.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-md-12">
          <label for="status" class="form-text text-muted font-weight-bold">Estado:</label>
          <nb-select [selected]="this.data.dac_state" formControlName="dac_state" id="dac_state" fullWidth
          status="{{ isSubmitted && form.controls.dac_state.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option selected="{{ item.id == data.dac_state }}" *ngFor="let item of status" [value]="item.id">
            {{ item.name }}</nb-option>
        </nb-select>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>