<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">

    <fieldset class="field_set">
      <legend class="prue1 center">ALTERACIONES EN LA VOZ</legend>
      <div class="row justify-content-md">
        <div class="col col-lg-4">
          <label class="form-text text-muted font-weight-bold">Alteración en Timbre</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="bell_alteration" bell_alteration id="bell_alteration"
            name="bell_alteration"
            status="{{ isSubmitted && form.controls.bell_alteration.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col col-lg-4">
          <label class="form-text text-muted font-weight-bold">Alteración en Tono</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="tone_alteration" tone_alteration id="tone_alteration"
            name="tone_alteration"
            status="{{ isSubmitted && form.controls.tone_alteration.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>


        <div class="col col-lg-12">
          <hr />
        </div>

        <div class="col col-lg-4">
          <label class="form-text text-muted font-weight-bold">Alteración en Intensidad</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="intensity_alteration" intensity_alteration id="intensity_alteration"
            name="intensity_alteration"
            status="{{ isSubmitted && form.controls.intensity_alteration.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold center">Observaciones</label>
        </div>
        <div class="col col-lg-4">
          <textarea id="observations" nbInput fullWidth formControlName="observations" observations
            onpaste="return false" rows="4" cols="50"
            status="{{ isSubmitted && form.controls.observations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>
      </div>
    </fieldset>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button nbButton status="danger" class="ml-1 btn-save"  [disabled]="disabled"
            type="submit">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>


</form>