<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="user/byRole/2"
                    customData="users" 
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">
          <a ngxCheckPerms="create" style="margin-right: 5px;" nbButton status="danger" routerLink="../../admissions/bed-management">Manejo de camas</a>
          <a ngxCheckPerms="create" nbButton status="danger" routerLink="../../admissions/patient/create">Crear</a>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
