<div class="row" *ngIf="messageError">
    <div class="col-12">
        <nb-alert status="danger" class="container-fluid">
            <strong>Oh Dios!</strong> {{messageError}}
        </nb-alert>
    </div>
</div>
<ngx-breadcrumb [routes]="routes"></ngx-breadcrumb>
<div class="row">
    <div class="col-12">
        <nb-card class="nb-card-title">
            <div class="icon-container">
                <div class="icon status-warning">
                    <i class="nb-list"></i>
                </div>
            </div>
            <div class="details" *ngIf="institutionBS.educationalInstitutions[0]">
                <div class="title h5">{{institutionBS.educationalInstitutions[0].educational_institution.name}}</div>
                <div class="status paragraph-2">Instituciones</div>
            </div>
        </nb-card>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let inst of institutionBS.educationalInstitutions">
        <nb-card>
            <div class="details">
                <small>{{inst.name}}</small>
                <br>
                <small>Centro:</small>
                <div class="description description-contents">
                    {{inst.educational_institution.name}}
                </div>
                <br>
                <small>Depto:</small>
                <div class="description description-contents">
                    {{inst.municipality.region.name}}
                </div>
                <br>
                <small>Municipio:</small>
                <div class="description description-contents">
                    {{inst.municipality.name}}
                </div>
                <br>
                <div class="target">
                    <a routerLink="../../institution-single/{{inst.id}}/{{idParent}}">Grupos</a>
                </div>
            </div>
        </nb-card>
    </div>
</div>