
<div *ngIf="has_input == false || type_record_id != 1">
  <ngx-form-reason-consultation-rt [record_id]="record_id" [type_record_id]="type_record_id" (messageEvent)="receiveMessage($event)">
  </ngx-form-reason-consultation-rt>
</div>

<div>
  <div class="center">
    <label class="form-text text-muted font-weight-bold align center">Registro de Valoración</label>
    <ngx-base-list [messageError]="messageError" [routes]="routes">
      <div content>
        <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_respiratory_therapy"
          [settings]="settings" entity="ch_respiratory_therapy/by_record/{{record_id}}/{{this.type_record_id}}?&has_input={{has_input}}">
        </ngx-base-table>
      </div>
    </ngx-base-list>
  </div>
</div>