
<div class="row justify-content-center col col-lg-12">
   

  <div>

    <ngx-form-muscular-tone-ft (messageEvent)="receiveMessage($event)" [type_record_id]="1" [record_id]="record_id">
    </ngx-form-muscular-tone-ft>
  
  </div>
  
  <div class="row justify-content-center col col-lg-12">
  
    <label class="form-text text-muted font-weight-bold"> REGISTRO REFLEJOS</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table  pager="false" [title]="title" customData="ch_e_muscular_tone_f_t" [settings]="settings"
        entity="ch_e_muscular_tone_f_t/by_record/{{record_id}}/1">
        <div actions>
          <div class="actions">
          </div>
          <div class="actions" style="margin-top:1em;">
          </div>
        </div>
      </ngx-base-table>
    </div>
  </ngx-base-list>
  
  </div>
  
</div>


