<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content *ngIf="user">
    <div class="row">
      <div title class="col-md-6">
        <p class="parrafo" *ngIf="user"><b>CÉDULA: </b> {{user.identification}} </p>
        <p class="parrafo" *ngIf="user"><b>NOMBRE: </b> {{this.user.firstname + ' ' + this.user.lastname}}</p>
        <p class="parrafo" *ngIf="user"><b>FECHA DE NACIMIENTO:</b> {{this.datePipe.transform3(user.birthday)}}</p>
        <p class="parrafo" *ngIf="user"><b>EDAD: </b> {{user.age}} </p>
      </div>
      <div class="col-md-6 position">
        <a nbButton (click)="back()" >Volver</a>
      </div>
    </div>
    <nb-tabset fullWidth class="tabset" (changeTab)="tablock($event)">

      <nb-tab tabTitle="INGRESO">
        <div *ngIf="this.show == 1">
          <ngx-ch-nutrition-input [data]="this.user" [record_id]="this.record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input">
          </ngx-ch-nutrition-input>
        </div>
      </nb-tab>

      <nb-tab tabTitle="NOTA REGULAR">
        <div *ngIf="this.show == 2">
          <ngx-ch-nutrition-regular-note [data]="this.user" [record_id]="this.record_id">
          </ngx-ch-nutrition-regular-note>
        </div>
      </nb-tab>

      <nb-tab tabTitle="ESCALAS">
        <div *ngIf="this.show == 3">
          <ngx-form-ch-scales [data]="this.user" [record_id]="this.record_id" [nutrition]="true" [age]="user">
          </ngx-form-ch-scales>
        </div>
      </nb-tab>

      <nb-tab *ngIf="this.show_failed" tabTitle="FALLIDA">
        <div *ngIf="this.show == 9">
          <ngx-failed (messageEvent)="receiveMessage($event)" [record_id]="record_id"></ngx-failed>
        </div>
      </nb-tab>

    </nb-tabset>
    <div style="text-align: center;">
      <a (click)="close()" nbButton>Finalizar registro</a>
    </div>
  </div>

</ngx-base-list>