<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content *ngIf="user">
    <div title>
      <p class="parrafo" *ngIf="user"><b>CÉDULA:  </b> {{user.identification}} </p>
      <p class="parrafo" *ngIf="user"><b>NOMBRE:  </b> {{this.user.firstname + ' ' + this.user.lastname}}</p>
      <p class="parrafo" *ngIf="user"><b>FECHA DE NACIMIENTO:</b> {{this.datePipe.transform3(user.birthday)}}</p>
      <p class="parrafo" *ngIf="user"><b>EDAD:  </b> {{user.age}} </p>
    </div>
    <nb-tabset fullWidth class="tabset" (changeTab)="tablock($event)">

      <nb-tab tabTitle="INGRESO">
        <div *ngIf="this.show == 1">
          <ngx-ch-nutrition-input [data]="this.user">
          </ngx-ch-nutrition-input>
        </div>
      </nb-tab>
      
      <nb-tab tabTitle="NOTA REGULAR">
        <div *ngIf="this.show == 2">
          <ngx-ch-nutrition-scales [data]="this.user">
          </ngx-ch-nutrition-scales>
        </div>
      </nb-tab>

      <nb-tab tabTitle="ESCALAS">
        <div *ngIf="this.show == 3">
          <ngx-ch-nutrition-scales [record_id]="this.record_id"></ngx-ch-nutrition-scales>
        </div>
      </nb-tab>

    </nb-tabset>
    <div style="text-align: center;">
      <a (click)="finish()" nbButton>Finalizar registro</a>
    </div>
  </div>

</ngx-base-list>