@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../@theme/styles/themes";

::ng-deep nb-auth nb-card-header {
  .back-link {
    display: none !important;
  }
}

.image-left {
  position: fixed;
  top: 2.8rem;
  width: 320px;
  left: 4.8rem;
}

.image-rigth {
  position: fixed;
  top: 2.8rem;
  width: 320px;
  right: 4.8rem;
}

::ng-deep nb-auth nb-card {
  background-image: url("assets/images/login-bkg@2x.jpg");
  background-size: cover;
  background-position: "center";
  background-repeat: no-repeat;
}

small {
  margin-bottom: 10px;
  color: red;

  a {
    color: #c2302f;
  }
}

button {
  margin-top: 7px;
}

h3 {
  color: #002775;
}

h5 {
  font-weight: 500;
}

.space-bottom {
  margin-bottom: 20px;
  margin-top: 30px;
}

.img-login {
  width: 50%;
}

.div-img {
  padding: 10%;
}

.text-muted {
  margin-top: 10px;
  margin-bottom: 0;
}

.login-container {
  padding: 25px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  background-color: white;

  .forgot-text {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@include media-breakpoint-down(sm) {
  .image-left {
    position: fixed;
    top: 0.3rem;
    width: 300px;
    left: 0.8rem;
  }
}

.list-errors li {
  color: white;
}
