<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card>
    <nb-card-body>
      <div class="col col-lg-12">
        <label for="materials" class="form-text text-muted font-weight-bold">Materiales e Insumos Utilizados</label>   
        <nb-select multiple placeholder="Seleccion Multiple" status="success" fullWidth formControlName="materials">
              <nb-option value="1">FICHA COGNITIVA</nb-option>
              <nb-option value="2">COLORES</nb-option>
              <nb-option value="3">ELEMENTOS DE PROTECCION PERSONAL</nb-option>
              <nb-option value="4">PELOTAS</nb-option>
              <nb-option value="5">MATERIAL DE PAPELERIA (MARCADORES, CARTULINA, HOJAS)</nb-option>
              <nb-option value="6">MATERIAL DIDACTICO</nb-option>
              <nb-option value="7">COMPUTADOR</nb-option>
              <nb-option value="8">PLASTILINA</nb-option>
              <nb-option value="9">COLBON</nb-option>
              <nb-option value="10">ARCILLA</nb-option>
            </nb-select>
      </div>  
      
      <!-- <div class="col col-lg-12">
        <label for="materials" class="form-text text-muted font-weight-bold">Concepto Ocupacional</label>
        <nb-select [selected]="this.data.materials" formControlName="materials" id="materials" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.materials.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="1">FICHA COGNITIVA</nb-option>
          <nb-option value="2">COLORES</nb-option>
          <nb-option value="3">ELEMENTOS DE PROTECCION PERSONAL</nb-option>
          <nb-option value="4">PELOTAS</nb-option>
          <nb-option value="5">MATERIAL DE PAPELERIA (MARCADORES, CARTULINA, HOJAS)</nb-option>
          <nb-option value="6">MATERIAL DIDACTICO </nb-option>
          <nb-option value="7">COMPUTADOR</nb-option>
          <nb-option value="8">PLASTILINA</nb-option>
          <nb-option value="9">COLBON</nb-option>
          <nb-option value="10">ARCILLA</nb-option>
        </nb-select>
      </div> -->

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>

</form>