<div content>
  <ngx-base-table *ngIf="auth_status" 
                  [title]="title" 
                  [subtitle]="subtitle"
                  [settings]="settings"
                  entity="authorization/Historic/0" 
                  customData="authorization" 
                  [messageToltip]="messageToltip">
    <div actions>
      <div class="actions">
        <nb-select (selectedChange)="ChangeGlossStatus($event)" placeholder="Filtrar por estado">
        <nb-option value="0">TODOS LOS REGISTROS</nb-option>
          <nb-option *ngFor="let item of auth_status" [value]="item.id">{{item.name}}</nb-option>
        </nb-select>
      </div>
      <div class="actions" style="margin-top:1em;">
      </div>
    </div>
  </ngx-base-table>  
</div>

<ng-template #packagingView>
  <div class="container-fluid">
      <nb-card style="width: 100%;height: 600px;overflow: auto;">
        <nb-card-header>Ver paquete</nb-card-header>
        <nb-card-body>
            <div class="col-md-12" >
              <ngx-auth-asociated-package (messageEvent)="receiveMessage($event)" [show]="true"
                [parentData]="this.parentData"></ngx-auth-asociated-package>
            </div>
        </nb-card-body>
        <nb-card-footer>
          <div style="text-align:end;">
            <button nbButton (click)="close()" type="button">Cerrar</button>
          </div>
        </nb-card-footer>
      </nb-card>
  </div>
</ng-template>
