<form [formGroup]="form" (ngSubmit)="save()">

  <div class="col-md-FUNCIONALSEMI FUNCIONAL">
    <hr/>

    <div class="row justify-content-center">      

      <div class="col-md-4">
        
          <label for="position" class="form-text text-muted font-weight-bold justify-content-center"> PATRONES </label>

      </div>

      <div class="col col-lg-4">

          <label for="position" class="form-text text-muted font-weight-bold justify-content-center"> DERECHA</label>

      </div>  
  
      <div class="col col-lg-4">

          <label for="position" class="form-text text-muted font-weight-bold justify-content-center"> IZQUIERDA</label>

      </div>
    </div>

    <hr/>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="scroll" class="form-text text-muted font-weight-bold justify-content-center"> Desplazarse</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.scroll_right" formControlName="scroll_right" id="scroll_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.scroll_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.scroll_left" formControlName="scroll_left" id="scroll_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.scroll_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="get_up" class="form-text text-muted font-weight-bold justify-content-center"> Levantarse</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.get_up_right" formControlName="get_up_right" id="get_up_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.get_up_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.get_up_left" formControlName="get_up_left" id="get_up_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.get_up_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="push" class="form-text text-muted font-weight-bold justify-content-center"> Empujar</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.push_right" formControlName="push_right" id="push_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.push_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.push_left" formControlName="push_left" id="push_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.push_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="pull" class="form-text text-muted font-weight-bold justify-content-center"> Halar</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.pull_right" formControlName="pull_right" id="pull_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.pull_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.pull_left" formControlName="pull_left" id="pull_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.pull_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="transport" class="form-text text-muted font-weight-bold justify-content-center"> Transportar</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.transport_right" formControlName="transport_right" id="transport_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.transport_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.transport_left" formControlName="transport_left" id="transport_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.transport_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="attain" class="form-text text-muted font-weight-bold justify-content-center"> Alcanzar</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.attain_right" formControlName="attain_right" id="attain_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.attain_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.attain_left" formControlName="attain_left" id="attain_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.attain_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="bipedal_posture" class="form-text text-muted font-weight-bold justify-content-center"> Postura Bipeda</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.bipedal_posture_right" formControlName="bipedal_posture_right" id="bipedal_posture_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.bipedal_posture_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.bipedal_posture_left" formControlName="bipedal_posture_left" id="bipedal_posture_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.bipedal_posture_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="sitting_posture" class="form-text text-muted font-weight-bold justify-content-center"> Postura Sedente</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.sitting_posture_right" formControlName="sitting_posture_right" id="sitting_posture_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.sitting_posture_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.sitting_posture_left" formControlName="sitting_posture_left" id="sitting_posture_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.sitting_posture_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="squat_posture" class="form-text text-muted font-weight-bold justify-content-center"> Postura Cunclillas</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.squat_posture_right" formControlName="squat_posture_right" id="squat_posture_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.squat_posture_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.squat_posture_left" formControlName="squat_posture_left" id="squat_posture_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.squat_posture_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="use_both_hands" class="form-text text-muted font-weight-bold justify-content-center"> Uso de Ambas Manos</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.use_both_hands_right" formControlName="use_both_hands_right" id="use_both_hands_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.use_both_hands_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.use_both_hands_left" formControlName="use_both_hands_left" id="use_both_hands_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.use_both_hands_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="alternating_movements" class="form-text text-muted font-weight-bold justify-content-center"> Movimientos Alternos</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.alternating_movements_right" formControlName="alternating_movements_right" id="alternating_movements_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.alternating_movements_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.alternating_movements_left" formControlName="alternating_movements_left" id="alternating_movements_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.alternating_movements_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="dissociated_movements" class="form-text text-muted font-weight-bold justify-content-center"> Movimientos Disociados</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.dissociated_movements_right" formControlName="dissociated_movements_right" id="dissociated_movements_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.dissociated_movements_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.dissociated_movements_left" formControlName="dissociated_movements_left" id="dissociated_movements_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.dissociated_movements_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="Simultaneous_movements" class="form-text text-muted font-weight-bold justify-content-center"> Movimientos Simultaneos</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.Simultaneous_movements_right" formControlName="Simultaneous_movements_right" id="Simultaneous_movements_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.Simultaneous_movements_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.Simultaneous_movements_left" formControlName="Simultaneous_movements_left" id="Simultaneous_movements_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.Simultaneous_movements_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="bimanual_coordination" class="form-text text-muted font-weight-bold justify-content-center"> Coordinación Bimanual</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.bimanual_coordination_right" formControlName="bimanual_coordination_right" id="bimanual_coordination_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.bimanual_coordination_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.bimanual_coordination_left" formControlName="bimanual_coordination_left" id="bimanual_coordination_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.bimanual_coordination_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="hand_eye_coordination" class="form-text text-muted font-weight-bold justify-content-center"> Coordinación Mano - Ojo</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.hand_eye_coordination_right" formControlName="hand_eye_coordination_right" id="hand_eye_coordination_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.hand_eye_coordination_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.hand_eye_coordination_left" formControlName="hand_eye_coordination_left" id="hand_eye_coordination_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.hand_eye_coordination_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-SEMI FUNCIONAL">
      <label for="hand_foot_coordination" class="form-text text-muted font-weight-bold justify-content-center"> Coordinación Cabeza - Pie</label>
    </div> 

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.hand_foot_coordination_right" formControlName="hand_foot_coordination_right" id="hand_foot_coordination_right" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.hand_foot_coordination_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-5">
      <nb-select [selected]="this.data.hand_foot_coordination_left" formControlName="hand_foot_coordination_left" id="hand_foot_coordination_left" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.hand_foot_coordination_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="FUNCIONAL">FUNCIONAL</nb-option>
        <nb-option value="SEMI FUNCIONAL">SEMI FUNCIONAL</nb-option>
        <nb-option value="NO FUNCIONAL">NO FUNCIONAL</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="div-send">
    <button nbButton status="danger" class="ml-FUNCIONAL btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
  </div>
    

</form>