<div class="row" *ngIf="messageError">
    <div class="col-12">
        <nb-alert status="danger" class="container-fluid">
            <strong>Oh Dios!</strong> {{messageError}}
        </nb-alert>
    </div>
</div>
<ngx-breadcrumb [routes]="routes"></ngx-breadcrumb>
<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-body class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title h5">Competencias</div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6"
                        *ngFor="let competition of competitionBS.competitions">
                        <nb-card class="nb-card-title">
                            <div class="icon-container">
                                <div class="icon status-success">
                                    <i class="nb-lightbulb"></i>
                                </div>
                            </div>
                            <div class="details">
                                <div class="title h6">{{competition.name}}</div>
                                <small>{{competition.description}}</small>
                                <div class="status paragraph-2"><a tabindex="1"
                                        (click)="openWindow(contentTemplate,competition)">DETALLES</a>
                                </div>
                            </div>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12">
        <nb-card class="nb-card-title">
            <div class="icon-container">
                <div class="icon status-warning">
                    <i class="nb-list"></i>
                </div>
            </div>
            <div class="details">
                <div class="title h5">Instituciones</div>
                <div class="status paragraph-2">DIRECTORIO</div>
            </div>
        </nb-card>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let inst of courseBS.courseInstitutions">
        <nb-card>
            <div class="details">
                <small>{{inst.educational_institution.name}}</small>
                <br>
                <small>Depto:</small>
                <div class="description description-contents">
                    {{inst.educational_institution.municipality.region.name}}
                </div>
                <br>
                <small>Municipio:</small>
                <div class="description description-contents">
                    {{inst.educational_institution.municipality.name}}
                </div>
                <br>
            </div>
        </nb-card>
    </div>
</div>
<ng-template #contentTemplate let-data>
    <nb-card size="medium" accent="info">
        <nb-card-header>Criterios</nb-card-header>
        <nb-list>
            <nb-list-item style="display: block; line-height: 0.25rem;"
                *ngFor="let criterio of data.competition.criterion">
                <h6>{{criterio.name}}</h6>
            </nb-list-item>
        </nb-list>
    </nb-card>
</ng-template>