<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError"
               [routeBack]="routeBack"
               [actionSave]="isClose ? null : Save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <ngx-resume-event-executed [event_id]="this.event_id"
    (setData)="setData($event)">
    </ngx-resume-event-executed>
    <div class="row">
      <div class="col-sm-12">
        <nb-card class="mt-2">
          <nb-card-body>
            <nb-tabset>
              <nb-tab *ngFor="let day of events_day; let i = index"
                      [tabTitle]="'Día ' + day.day_number + ' ' + day.date_planned">
                <ngx-events-concept-executed
                  [event_id]="event_id"
                  [event_day_id]="day.id"
                  [isClose]="isClose"
                >
                </ngx-events-concept-executed>
              </nb-tab>

              <nb-tab tabTitle="Conceptos especiales">
                <ngx-events-concept-special-executed
                  [event_id]="event_id"
                  [isClose]="isClose"
                ></ngx-events-concept-special-executed>
              </nb-tab>

              <nb-tab tabTitle="Conceptos extras">
                <ngx-events-concept-extras
                  *ngIf="data"
                  [event_id]="event_id"
                  [municipality_id]="data.municipality_id"
                  [isClose]="isClose"
                ></ngx-events-concept-extras>
              </nb-tab>

              <nb-tab tabTitle="Total" active>
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th colspan="2">Total presupuesto</th>
                      </tr>
                      <tr>
                        <th>Concepto</th>
                        <th>Valor presupuestado</th>
                        <th>Valor ejecutado</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Total presupuesto de días</td>
                        <td>{{ totalPresupuestadoPorDia | currency }}</td>
                        <td>{{ totalEjecutadoPorDia | currency }}</td>
                      </tr>
                      <tr>
                        <td>Total de conceptos especiales</td>
                        <td>{{ totalPresupuestadoSpecial | currency }}</td>
                        <td>{{ totalEjecutadoSpecial | currency }}</td>
                      </tr>
                      <tr>
                        <td>Total de conceptos extras</td>
                        <td>{{ 0 | currency }}</td>
                        <td>{{ totalExtras | currency }}</td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>Total presupuesto por evento</th>
                        <th>{{ (totalPresupuestado) | currency }}</th>
                        <th>{{ (totalEjecutado) | currency }}</th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>


              </nb-tab>

            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</ngx-base-form>
