<div class="row" *ngIf="!isClose">
  <div class="col-sm-12 d-flex justify-content-center">
    <button nbButton status="danger" (click)="addConceptExtra()">
      Agregar concepto extra
    </button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Tipo concepto</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>Valor unitario</th>
        <th>Valor total</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let concept of concepts; let i = index">
        <td>
          <button *ngIf="!isClose" nbButton ghost class="ml-2" title="Editar concepto extra" (click)="editConceptExtra(concept)">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>

          <button *ngIf="!isClose" nbButton ghost class="ml-2" title="Eliminar concepto extra" (click)="DeleteConfirmConcept(concept)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>

          <a nbButton ghost *ngIf="concept.evidence_path" class="ml-2" title="Ver documento adjunto"
             [href]="concept.evidence_path" target="_blank">
            <nb-icon icon="eye-outline"></nb-icon>
          </a>
        </td>
        <td>{{ concept.concept.concept_base.concept_type.name }}</td>
        <td>{{ concept.concept.concept_base.name }}</td>
        <td>{{ concept.real_date }}</td>
        <td>{{ concept.real_quantity }}</td>
        <td>{{ concept.real_unit_value | currency }}</td>
        <td>{{ (concept.real_unit_value * concept.real_quantity) | currency }}</td>
      </tr>
      </tbody>
    </table>

    <!--<table class="table">
      <thead>
      <tr>
        <th colspan="2">Resumen del día</th>
      </tr>
      <tr>
        <th>Total presupuestado</th>
        <th>Total ejecutado</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ totalPresupuestado | currency }}</td>
        <td>{{ totalEjecutado | currency }}</td>
      </tr>
      </tbody>
    </table>-->
  </div>
</div>


