<form [formGroup]="form" (ngSubmit)="save()">
  <div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <label  for="tl_therapy_language_id" class="form-text text-muted font-weight-bold ">Diagnóstico Médico:</label>
      <input  fullWidth nbInput list="codes"   id="tl_therapy_language_id" 
      formControlName="tl_therapy_language_id" tl_therapy_language_id type="text" required
      status="{{ isSubmitted && form.controls.tl_therapy_language_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
      <datalist id="codes">
        <option *ngFor="let item of therapeutic_diagnosis_id" [value]="item.name">{{ item.code }} - {{item.name}} </option>
      </datalist>
    </div>
  </div>
 

  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <label for="status_patient" class="form-text text-muted font-weight-bold ">Estado del Paciente:</label>
      <textarea id="status_patient" nbInput fullWidth formControlName="status_patient" status_patient rows="4"
        cols="50"
        status="{{ isSubmitted && form.controls.status_patient.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>
  </div>
    <div class="div-send">
      <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
    </div>
  </div>
</form>