<ngx-base-list>
    <div content>
        <div class="row text-center ">
            <div class="col-12">
                <h3 class="text-basic-color ">Asistencia</h3>
            </div>
        </div>
        <div actions>
            <div class="actions">
                <a nbButton routerLink="/auth">Volver</a>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-12">
                <nb-card>
                    <nb-card-header>
                        <h5>Sesión</h5>
                    </nb-card-header>
                    <nb-list *ngIf="messageError">
                        <nb-list-item>
                            <h5>{{messageError}}</h5>
                        </nb-list-item>
                    </nb-list>
                    <nb-list *ngIf="data">
                        <nb-list-item>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <p class="h5">Información de la Sesión</p>
                                    <p>
                                        <b>Curso: </b>{{data.session.course_name}}<br>
                                        <b>Grupo: </b>{{data.session.group_name}}<br>
                                        <b>Módulo: </b>{{data.session.module_name}}<br>
                                        <b>Sesión: </b>{{data.session.session_name}}<br>
                                        <b>Día: </b>{{data.session.session_date}}<br>
                                        <b>Hora de Inicio: </b>{{data.session.start_time}}<br>
                                        <b>Hora de Cierre: </b>{{data.session.closing_time}}<br>
                                    </p>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 text-center">
                                    <img [src]="data.qr" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <p class="h5">Información Discente</p>
                                    <p>
                                        <b>Nombres: </b>{{data.session.users_firstname}}
                                        {{data.session.users_lastname}}<br>
                                        <b>Correo: </b>{{data.session.users_email}}<br>
                                    </p>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 text-center">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Mañana</h5>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 text-center">
                                            <div class="form-group">
                                                <label for="start_time" class="form-text text-muted font-weight-bold">
                                                    Ingreso:
                                                </label>
                                                <input nbInput fullWidth class="input-time" fieldSize="small"
                                                    value="{{assistance.start_time}}" type="time"
                                                    [(ngModel)]="assistance.start_time" #ctrl="ngModel" id="start_time">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 text-center">
                                            <div class="form-group">
                                                <label for="closing_time" class="form-text text-muted font-weight-bold">
                                                    Salida:
                                                </label>
                                                <input nbInput fullWidth class="input-time" fieldSize="small"
                                                    value="{{assistance.closing_time}}" type="time"
                                                    [(ngModel)]="assistance.closing_time" #ctrl="ngModel"
                                                    id="closing_time">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Tarde</h5>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 text-center">
                                            <div class="form-group">
                                                <label for="start_time_night"
                                                    class="form-text text-muted font-weight-bold">
                                                    Ingreso:
                                                </label>
                                                <input nbInput fullWidth class="input-time" fieldSize="small"
                                                    value="{{assistance.start_time_night}}" type="time"
                                                    [(ngModel)]="assistance.start_time_night" #ctrl="ngModel"
                                                    id="start_time_night">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 text-center">
                                            <div class="form-group">
                                                <label for="closing_time_night"
                                                    class="form-text text-muted font-weight-bold">
                                                    Salida:
                                                </label>
                                                <input nbInput fullWidth class="input-time" fieldSize="small"
                                                    value="{{assistance.closing_time_night}}" type="time"
                                                    [(ngModel)]="assistance.closing_time_night" #ctrl="ngModel"
                                                    id="closing_time_night">
                                            </div>
                                        </div>
                                        <div class="col-12 text-right">
                                            <button nbButton class="input-time" size="small" status="danger"
                                                (click)="Save()">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card>
            </div>
        </div>
    </div>
</ngx-base-list>