<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">

    <fieldset class="field_set">
      <legend class="prue1 center">AUDICIÓN</legend>
      <div class="row justify-content-md">
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Oído Externo</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="external_ear" external_ear id="external_ear" name="external_ear"
            status="{{ isSubmitted && form.controls.external_ear.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Oído Medio</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="middle_ear" middle_ear id="middle_ear" name="middle_ear"
            status="{{ isSubmitted && form.controls.middle_ear.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Oído Interno</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="inner_ear" inner_ear id="inner_ear" name="inner_ear"
            status="{{ isSubmitted && form.controls.inner_ear.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-12">
          <hr />
        </div>


        <div class="col col-lg-12">
          <label class="form-text text-muted font-weight-bold center">Observaciones:</label>

          <textarea class="form-text col col-lg-12 detail" id="observations" nbInput fullWidth
            formControlName="observations" analisys onpaste="return false" rows="3" cols="70"
            status="{{ isSubmitted && form.controls.observations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>

      </div>
    </fieldset>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button nbButton status="danger" class="ml-1 btn-save"  [disabled]="disabled"
            type="submit">GUARDAR</button>
        </div>
      </div>
    </div>

  </div>

</form>