<div *ngIf="has_input == false || type_record_id != 1">
  <ngx-form-oxygen-therapy (messageEvent)="receiveMessage($event)" [record_id]="record_id" [type_record]="type_record">
  </ngx-form-oxygen-therapy>
</div>


<div class="center">
  <label class="form-text text-muted font-weight-bold align center">Registro de Destete de Oxígeno</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_oxygen_therapy"
        [settings]="settings" entity="ch_oxygen_therapy/by_record/{{record_id}}/{{this.type_record_id}}?&has_input={{has_input}}">
      </ngx-base-table>
    </div>
  </ngx-base-list>
</div>