<form [formGroup]="form" (ngSubmit)="save()">
  <div>

    <label class="form-text text-muted font-weight-bold align"></label>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">FORMULA MEDICA</legend>

            <nb-checkbox formControlName="medical_formula" medical_formula id="medical_formula" (checkedChange)="eventSelections($event)">¿Formula
              Ambulatoria?</nb-checkbox>

            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-lg-12">
                  <hr />
                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">
             
              <div class="col col-lg-3" *ngIf="show==true && product_gen">
                <label class="form-text text-muted font-weight-bold">Medicamento</label>
                <input type="text" list="codes1" class="data-list" (change)="saveCode1($event.target.value, 1)"
                  id="product_gen" formControlName="product_gen" product_gen fullWidth nbInput
                  status="{{ isSubmitted && form.controls.product_gen.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                <datalist id="codes1">
                  <option *ngFor="let item of product_gen" [value]="item.manual_price.name">{{item.manual_price.name}}
                  </option>
                </datalist>
              </div>

              <div class="col col-lg-3" *ngIf="show==false">
                <label class="form-text text-muted font-weight-bold">Medicamento</label>
                <input type="text" list="codes1" class="data-list" (change)="saveCode1($event.target.value, 2)" id="product_id" formControlName="product_id" product_id  fullWidth nbInput
                  status="{{ isSubmitted && form.controls.product_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                <datalist id="codes1">
                  <option *ngFor="let item of product_gen" [value]="item.description">{{item.description}}
                  </option>
                </datalist>
              </div>

              <div class="col col-lg-3">
                <label class="form-text text-muted font-weight-bold">Dosis por frecuencia</label>
                <input type="number" placeholder="DOSIS" class="Box" id="dose" formControlName="dose" dose nbInput
                  status="{{ isSubmitted && form.controls.dose.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>

              <div class="col col-lg-3">
                <label class="form-text text-muted font-weight-bold">Dosis a administrar por enfermera</label>
                <input  placeholder="DOSIS" class="Box" id="dose_apply" formControlName="dose_apply" dose_apply nbInput
                  status="{{ isSubmitted && form.controls.dose_apply.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>

              <div class="col col-lg-3">
                <label class="form-text text-muted font-weight-bold">Vía de Admin.</label>
                <nb-select [selected]="this.data.administration_route_id" formControlName="administration_route_id"
                  id="administration_route_id"
                  status="{{ isSubmitted && form.controls.administration_route_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                  <nb-option value="">SELECCIONE...</nb-option>
                  <nb-option selected="{{ item.id == this.data.administration_route_id }}"
                    *ngFor="let item of administration_route_id" [value]="item.id">
                    {{ item.name }}</nb-option>
                </nb-select>
              </div>
            </div> 
            <div class="row justify-content-md-center">
              <div class="col col-lg-3">
                <label class="form-text text-muted font-weight-bold">Frecuencia Horaria</label>
                <nb-select [selected]="this.data.hourly_frequency_id" formControlName="hourly_frequency_id"
                  id="hourly_frequency_id" (change)="onChangesFormulation($event, 2)"
                  status="{{ isSubmitted && form.controls.hourly_frequency_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                  <nb-option value="">SELECCIONE...</nb-option>
                  <nb-option selected="{{ item.id == this.data.hourly_frequency_id }}"
                    *ngFor="let item of hourly_frequency_id" [value]="item.id">
                    {{ item.value }}</nb-option>
                </nb-select>
              </div>
              <div class="col col-lg-3">
                <label class="form-text text-muted font-weight-bold">Días de Tratamiento</label>
                <input type="number" class="Box" id="treatment_days" formControlName="treatment_days" required nbInput
                   (change)="onChangesFormulation($event, 3)"
                  status="{{ isSubmitted && form.controls.treatment_days.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>
              <div class="col col-lg-3">
                <label class="form-text text-muted font-weight-bold">Cant. Solic.</label>
                <input type="number" class="Box" disabled="true" id="outpatient_formulation"
                  formControlName="outpatient_formulation">
              </div>
            </div>

            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-lg-12">
                  <hr />
                </div>
              </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col col-lg-4">
                <li><a href="https://mipres.sispro.gov.co/" target ="_self">Crear MIPRES</a></li>
              </div>



              <div class="col col-lg-4">
                <label class="form-text text-muted font-weight-bold">N° de Mipres</label>
                <input type="number" class="Box" id="number_mipres" formControlName="number_mipres" required
                  nbInput ngModel
                  status="{{ isSubmitted && form.controls.number_mipres.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>
            </div> 


          </fieldset>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>





    <div class="col-md-12">
      <div class="center">
        <fieldset class="field_set">
          <legend class="prue1">Observaciones</legend>
          <textarea id="observation" nbInput fullWidth formControlName="observation" observation onpaste="return false"
            rows="4" cols="50"
            status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>

  </div>
</form>