<nb-card style="width: 100%;height: 600px;overflow: auto;">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">

    </div>

    <div style="margin-top: 10px;">
      <ngx-admissions-package (messageEvent)="receiveMessage($event)" [parentData]="selectedOptions"
        [dishByMenu]="dishByMenu" [menuId]="data.id">
      </ngx-admissions-package>
    </div>

  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button nbButton (click)="close()" type="button">Cerrar</button>
    <button nbButton (click)="save()" status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
  </nb-card-footer>
</nb-card>