<form [formGroup]="form">
  <div >
    <fieldset class="field_set center">
      <legend class="prue1">NOTA DE ENFERMERÍA</legend>

      <div class="col-md-12">
        <label for="observation" class="form-text text-muted font-weight-bold align">NOTA:</label>
        <textarea [disabled]="disabled" id="observation" nbInput fullWidth formControlName="observation" observation rows="4" cols="50"
          status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
      </div>
    </fieldset>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="isSubmitted"
          type="button" (click)="save()">GUARDAR</button>
      </div>
    </div>
  </div>

</form>