<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <p class="text-muted title-form">Seguimiento</p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-8">
      <div class="form-group">      
       <textarea id="observation" nbInput fullWidth formControlName="observation" observation
         onpaste="return false" cols="80" rows="8" 
         status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
     </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="div-send">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>

</form>