

<div *ngIf="has_input == false || type_record_id != 1">

  <ngx-form-sw-economic-aspects (messageEvent)="receiveMessage($event)" [record_id]="record_id" [type_record_id]="type_record_id">
  </ngx-form-sw-economic-aspects>

</div>

<div class="center">
  <label class="form-text text-muted font-weight-bold align center">Registros aspectos económicos</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_sw_economic_aspects"
        [settings]="settings" entity="ch_sw_economic_aspects/by_record/{{record_id}}/{{type_record_id}}?&has_input={{has_input}}">
      </ngx-base-table>
    </div>