<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode"> 
    
          <nb-step [stepControl]="nameForm" label="Valoración">
            <ngx-ps-assessment [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ps-assessment>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Operacionalización">
            <ngx-ps-operationalization [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ps-operationalization>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Estado Conciencia">
            <ngx-ps-awareness [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ps-awareness>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Objetivos">
            <ngx-ps-objectives [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ps-objectives>
          </nb-step>

          <nb-step label="Recomendaciones">
            <ngx-recommendations-evo [record_id]="record_id" [type_record]="type_record_id"></ngx-recommendations-evo>
          </nb-step>
          
         
          <nb-step [hidden]="true">

            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>

          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>