<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError"
               [routeBack]="routeBack"
               [actionSave]="isClose ? null : Save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <ngx-resume-event-executed [event_id]="this.event_id"
                               (setData)="setData($event)">
    </ngx-resume-event-executed>
    <div class="row">
      <div class="col-sm-12">
        <nb-card class="mt-2">
          <nb-card-body>
            <nb-tabset>
              <nb-tab tabTitle="Conceptos">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Pasajero</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Regreso</th>
                    <th>Fecha de salida</th>
                    <th>Fecha de regreso</th>
                    <th>Observaciones de salida</th>
                    <th>Observaciones de regreso</th>
                  </tr>
                  </thead>

                  <tbody>
                  <ng-container *ngFor="let concept of concepts">
                    <tr>
                      <td colspan="8">
                        {{ concept.concept.concept_base.name }}
                      </td>
                    </tr>
                    <tr *ngFor="let ticket of concept.event_tickets">
                      <td>
                        <ngx-autocomplete-remote
                          url="user"
                          returnData="users"
                          [label]="renderLabelUsers"
                          value="id"
                          [initValue]="searchUser.bind(this)"
                          [fullWidth]="false"
                          [(ngModel)]="ticket.passenger_user_id"
                        >
                        </ngx-autocomplete-remote>
                      </td>
                      <td><input nbInput type="text" [(ngModel)]="ticket.origin"></td>
                      <td><input nbInput type="text" [(ngModel)]="ticket.destination"></td>
                      <td><input nbInput type="text" [(ngModel)]="ticket.back"></td>
                      <td><input nbInput type="date" [(ngModel)]="ticket.departure_date"></td>
                      <td><input nbInput type="date" [(ngModel)]="ticket.return_date"></td>
                      <td><textarea nbInput [(ngModel)]="ticket.departure_observations"></textarea></td>
                      <td><textarea nbInput [(ngModel)]="ticket.return_observations"></textarea></td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </nb-tab>

              <nb-tab tabTitle="Conceptos extra">
                <ngx-transport-extras-budget
                  *ngIf="data"
                  [event_id]="event_id"
                  [municipality_id]="data.municipality_id"
                  [isClose]="isClose"
                ></ngx-transport-extras-budget>
              </nb-tab>
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </div>
</ngx-base-form>
