<nb-card size="height">
  <nb-card-header>
    <span class="h5">{{ title }} {{ name }}</span>
  </nb-card-header>
  <nb-card-body>
    <div>
      {{ body }}
    </div>
    <!-- <label for="firm" *ngIf="signature" class="form-text text-muted font-weight-bold">Firma:</label>
      <ng-signature-pad *ngIf="signature"  [emitOnDragEnd]="true" [showDoneButton]="false"
      clearButtonText="Borrar" format="base64" (done)="showImage($event)">
    </ng-signature-pad> -->

   
      <div class="form-group">
        <div class="form-group">
          <label for="file" class="form-text text-muted font-weight-bold">
            Subir documento firma del paciente:
          </label>
          <!-- <div *ngIf="previewFile" class="container py-2">
            <a [href]="previewFile" target="_blank">Ver documentos</a>
          </div> -->
          <input accept="application/pdf" type="file" id="file" nbInput fullWidth (change)="changeImage2($event.target.files, 1)"/>
        </div>
      </div>



  </nb-card-body>
  
  <nb-card-footer class="d-flex justify-content-end">
    <button nbButton ghost type="button" (click)="close()">Cancelar</button>
    <button nbButton status="danger" class="ml-1" type="button" (click)="DeleteAction()" [disabled]="loading">{{ textConfirm }}</button>
  </nb-card-footer>
</nb-card>
