<div class="row" *ngIf="messageError">
    <div class="col-12">
        <nb-alert status="danger" class="container-fluid">
            <strong>Oh Dios!</strong> {{messageError}}
        </nb-alert>
    </div>
</div>
<ngx-breadcrumb [routes]="routes"></ngx-breadcrumb>
<div class="row">
    <div class="col-12">
        <nb-card class="nb-card-title">
            <div class="icon-container">
                <div class="icon status-warning">
                    <i class="nb-roller-shades"></i>
                </div>
            </div>
            <div class="details">
                <div class="title h5">Categorías</div>
                <div class="status paragraph-2">Gestión</div>
            </div>
        </nb-card>
    </div>
</div>
<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-12">
                <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
                    <div class="row">
                        <div class="col-6">
                            <small class="form-text text-muted">Nombre:</small>
                            <input type="text" nbInput fullWidth fieldSize="medium"
                                status="{{ isSubmitted && categoryForm.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
                                placeholder="Nombre" formControlName="name" required name minlength="5">
                            <div *ngIf="categoryForm.controls.name.errors && isSubmitted ">
                                <small *ngIf="categoryForm.controls.name.errors.required">Ingrese el nombre</small>
                                <small *ngIf="categoryForm.controls.name.errors.minlength">Revise el nombre</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Descripción:</small>
                            <input type="text" nbInput fullWidth fieldSize="medium" placeholder="Descripción"
                                formControlName="description" description>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Estado:</small>
                            <nb-select placeholder="Estado" size="medium" fullWidth formControlName="status_id"
                                status="{{ isSubmitted && categoryForm.controls.status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
                                required status_id>
                                <nb-option *ngFor="let status of statusBS.status" [value]="status.id">{{status.name}}
                                </nb-option>
                            </nb-select>
                            <div *ngIf="categoryForm.controls.status_id.errors && isSubmitted ">
                                <small *ngIf="categoryForm.controls.status_id.errors.required">Seleccione un
                                    estado</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Origen:</small>
                            <nb-select placeholder="Origen" size="medium" fullWidth formControlName="origin_id"
                                status="{{ isSubmitted && categoryForm.controls.origin_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
                                required origin_id>
                                <nb-option *ngFor="let origin of originBS.origins" [value]="origin.id">{{origin.name}}
                                </nb-option>
                            </nb-select>
                            <div *ngIf="categoryForm.controls.origin_id.errors && isSubmitted ">
                                <small *ngIf="categoryForm.controls.origin_id.errors.required">Seleccione un
                                    origen</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <small class="form-text text-muted">Categoría Padre:</small>
                            <nb-select placeholder="Padre" size="medium" fullWidth formControlName="category_parent_id"
                                category_parent_id>
                                <nb-option>Ninguno</nb-option>
                                <nb-option *ngFor="let category of categoryBS.categories" [value]="category.id">
                                    {{category.name}}
                                </nb-option>
                            </nb-select>
                        </div>
                        <div class="col-6 div-send text-right">
                            <a nbButton status="primary" class="btn-left" *ngIf="category"
                                (click)="Cancel()">Cancelar</a>
                            <a nbButton status="warning" class="btn-left" *ngIf="category"
                                (click)="ConfirmDelete(confirmDelete)">Eliminar</a>
                            <button type="submit" nbButton status="danger">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <h6>Categorías</h6>
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let category of categoryBS.categories">
            <h6><a routerLink="./" (click)="EditCategory(category)">{{category.name}}</a></h6>
            <span>{{category.status.name}}</span>
        </nb-list-item>
    </nb-list>
</nb-card>
<ng-template #confirmDelete let-ref="dialogRef">
    <nb-card>
        <nb-card-header>¿Desea Continuar?</nb-card-header>
        <nb-card-footer>
            <button nbButton status="danger" class="btn-left" (click)="ref.close()">No</button>
            <button nbButton status="danger" class="btn-left" (click)="DeleteCategory()">Si</button>
        </nb-card-footer>
    </nb-card>
</ng-template>