@import "../../../@theme/styles/themes";

::ng-deep nb-auth nb-card-header {
    display: none !important;
}

small {
    margin-bottom: 10px;
    color: red;
}

.text-muted {
    margin-top: 10px;
    margin-bottom: 0;
}

.div-send {
    padding-top: 30px;
}

h6 {
    margin: 0;
}

nb-list-item {
    display: block;
}

.btn-left {
    margin-right: 5px;
}
