<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" entity="fixed_type/?pagination=true"
      customData='fixed_type' [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <button nbButton status="danger" ngxCheckPerms="create" (click)="NewAdministrationRoute()">Crear</button>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>