<nb-accordion multi>
    <nb-accordion-item *ngFor="let delivery of deliveries">
        <nb-accordion-item-header>
            <h5 *ngIf="delivery.group_activity_id">
                {{delivery.group_activity.name}}
            </h5><br>
            <h5 *ngIf="delivery.user_id">
                {{delivery.user.firstname}} {{delivery.user.lastname}}
            </h5><br>
            <small>{{PrettyDate(delivery.created_at)}}</small>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-card *ngIf="delivery.scores.length>0">
                <nb-card-body>
                    <h6>Calificaciones</h6>
                    <nb-list>
                        <nb-list-item style="display: block; line-height: 0.25rem;"
                            *ngFor="let score of delivery.scores">
                            <p>Nota: <span class="special-text">{{score.score}}</span></p>
                            <p>Fecha: <span class="special-text">{{PrettyDate(delivery.created_at)}}</span></p>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>
            </nb-card>
            <nb-card *ngIf="delivery.group_activity && delivery.group_activity.user_group_activities.length>0">
                <nb-card-body>
                    <h6>Estudiantes</h6>
                    <nb-list>
                        <nb-list-item style="display: block; line-height: 0.25rem;"
                            *ngFor="let user of delivery.group_activity.user_group_activities">
                            <h6>
                                {{user.user_role_course.user_role.user.firstname}}
                                {{user.user_role_course.user_role.user.lastname}}
                            </h6>
                            <p>{{user.user_role_course.user_role.user.email}}</p>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>
            </nb-card>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>