<form [formGroup]="form" (ngSubmit)="save()">


  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-4">
          <label for="product_group" class="form-text text-muted font-weight-bold">Grupo del producto:</label>
          <nb-select (selectedChange)="onChange($event)" formControlName="product_group_id" id="product_group_id"
            fullWidth
            status="{{ isSubmitted && form.controls.product_group_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.product_group_id }}" *ngFor="let item of product_group"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="product_category" class="form-text text-muted font-weight-bold">Categoria del producto:</label>
          <nb-select [selected]="this.data.product_category_id" formControlName="product_category_id"
            id="product_category_id" fullWidth
            status="{{ isSubmitted && form.controls.product_category_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.product_category_id }}" *ngFor="let item of product_category"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="product_subcategory" class="form-text text-muted font-weight-bold">Subcategoria del
            producto:</label>
          <nb-select (selectedChange)="selectsubcategory($event)" formControlName="product_subcategory_id"
            id="product_subcategory_id" fullWidth
            status="{{ isSubmitted && form.controls.product_subcategory_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.product_subcategory_id }}" *ngFor="let item of product_subcategory"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="drug_concentration" class="form-text text-muted font-weight-bold">Concentración:</label>
          <nb-select (selectedChange)="selectdrug($event)" [selected]="this.data.drug_concentration_id"
            formControlName="drug_concentration_id" id="drug_concentration_id" fullWidth
            status="{{ isSubmitted && form.controls.drug_concentration_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.drug_concentration_id }}" *ngFor="let item of drug_concentration"
              [value]="item.id">
              {{ item.value }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="measurement_units" class="form-text text-muted font-weight-bold">Unidad de medida:</label>
          <nb-select (selectedChange)="selectmeasurement($event)" [selected]="this.data.measurement_units_id"
            formControlName="measurement_units_id" id="measurement_units_id" fullWidth
            status="{{ isSubmitted && form.controls.measurement_units_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.measurement_units_id }}" *ngFor="let item of measurement_units"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="product_presentation" class="form-text text-muted font-weight-bold">Presentación del
            producto:</label>
          <nb-select (selectedChange)="selectpresentation($event)" [selected]="this.data.product_presentation_id"
            formControlName="product_presentation_id" id="product_presentation_id" fullWidth
            status="{{ isSubmitted && form.controls.product_presentation_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.product_presentation_id }}"
              *ngFor="let item of product_presentation" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="description" class="form-text text-muted font-weight-bold">Descripción:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="description"
            formControlName="description" description
            status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="pbs_type" class="form-text text-muted font-weight-bold">PBS:</label>
          <nb-select (selectedChange)="onChange1($event)" formControlName="pbs_type_id" id="pbs_type_id" fullWidth
            status="{{ isSubmitted && form.controls.pbs_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.pbs_type_id }}" *ngFor="let item of pbs_type" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div *ngIf="showPbs" class="col-12 col-sm-12 col-md-4">
          <label for="ch_entry" class="form-text text-muted font-weight-bold">Si es PBS condicionado:</label>
          <textarea id="pbs_restriction" nbInput fullWidth formControlName="pbs_restriction" pbs_restriction rows="2"
            cols="50">
          </textarea>
        </div>

        <div *ngIf="showMedicine" class="col-12 col-sm-12 col-md-4">
          <label for="administration_route" class="form-text text-muted font-weight-bold">Via de
            administración:</label>
          <nb-select [selected]="this.data.administration_route_id" formControlName="administration_route_id"
            id="administration_route_id" fullWidth
            status="{{ isSubmitted && form.controls.administration_route_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.administration_route_id }}"
              *ngFor="let item of administration_route" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div *ngIf="showMedicine" class="col-12 col-sm-12 col-md-4">
          <label for="gender_id" class="form-text text-muted font-weight-bold">¿Es un medicamento de control
            especial?:</label>
          <nb-radio-group formControlName="special_controller_medicine" special_controller_medicine
            id="special_controller_medicine" name="special_controller_medicine" class="d-flex"
            status="{{ isSubmitted && form.controls.special_controller_medicine.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No es de control</nb-radio>
            <nb-radio [value]="1">Si es de control</nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="showMedicine" class="col-12 col-sm-12 col-md-4">
          <label for="code_atc" class="form-text text-muted font-weight-bold">Código de clasificación internacional del
            medicamento:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="code_atc"
            formControlName="code_atc" code_atc
            status="{{ isSubmitted && form.controls.code_atc.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div *ngIf="showInsumo" class="col-md-12">
          <label for="implantable" class="form-text text-muted font-weight-bold">¿Es un medicamento
            implantable?:</label>
          <nb-radio-group formControlName="implantable" implantable id="implantable" name="implantable" class="d-flex"
            status="{{ isSubmitted && form.controls.implantable.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No es de implantable</nb-radio>
            <nb-radio [value]="1">Si es de implantable</nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="showInsumo" class="col-md-12">
          <label for="reuse" class="form-text text-muted font-weight-bold">¿Es un medicamento reutilizable?:</label>
          <nb-radio-group formControlName="reuse" reuse id="reuse" name="reuse" class="d-flex"
            status="{{ isSubmitted && form.controls.reuse.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No es de reutilizable</nb-radio>
            <nb-radio [value]="1">Si es de reutilizable</nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="showInsumo" class="col-md-12">
          <label for="invasive" class="form-text text-muted font-weight-bold">¿Es un medicamento invasivo?:</label>
          <nb-radio-group formControlName="invasive" invasive id="invasive" name="invasive" class="d-flex"
            status="{{ isSubmitted && form.controls.invasive.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No es de invasivo</nb-radio>
            <nb-radio [value]="1">Si es de invasivo</nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="showInsumo" class="col-md-12">
          <label for="consignment" class="form-text text-muted font-weight-bold">¿Este producto esta en
            consignación?:</label>
          <nb-radio-group formControlName="consignment" consignment id="consignment" name="consignment" class="d-flex"
            status="{{ isSubmitted && form.controls.consignment.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No esta en consignación</nb-radio>
            <nb-radio [value]="1">Si esta en consignación</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col-12 col-sm-12 col-md-4">
          <label for="product_dose" class="form-text text-muted font-weight-bold">Dosís del producto:</label>
          <nb-select (selectedChange)="onChange2($event)" formControlName="product_dose_id" id="product_dose_id"
            fullWidth
            status="{{ isSubmitted && form.controls.product_dose_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.product_dose_id }}" *ngFor="let item of product_dose"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div *ngIf="showDose" class="col-12 col-sm-12 col-md-4">
          <label for="dose" class="form-text text-muted font-weight-bold">Cantidad en dosís del producto:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="dose" formControlName="dose"
            dose />
        </div>

        <div class="col-12 col-sm-12 col-md-4">
          <label for="minimum_stock" class="form-text text-muted font-weight-bold">Stock minimo:</label>
          <input nbInput fullWidth id="minimum_stock" formControlName="minimum_stock" minimum_stock
            status="{{ isSubmitted && form.controls.minimum_stock.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="maximum_stock" class="form-text text-muted font-weight-bold">Stock maximo:</label>
          <input nbInput fullWidth id="maximum_stock" formControlName="maximum_stock" maximum_stock
            status="{{ isSubmitted && form.controls.maximum_stock.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>