<form [formGroup]="form" (ngSubmit)="save()">

  <hr/>

  <div class="col-md-SiempreAlgunas Veces">
    <hr/>
    <label class="form-text text-muted font-weight-bold row justify-content-center">ACTIVIDADES:</label>
    <hr/>
  </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="cook" class="form-text text-muted font-weight-bold">Cocinar:</label>
        <nb-select [selected]="this.data.cook" nbSelect (disabled)="this.has_input" formControlName="cook" id="cook" cook fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.cook.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="kids" class="form-text text-muted font-weight-bold">Cuidar Niños:</label>
        <nb-select [selected]="this.data.kids" nbSelect (disabled)="this.has_input" formControlName="kids" id="kids" kids fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.kids.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="wash" class="form-text text-muted font-weight-bold">Lavar:</label>
        <nb-select [selected]="this.data.wash" nbSelect (disabled)="this.has_input" formControlName="wash" id="wash" wash fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.wash.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="game" class="form-text text-muted font-weight-bold">Jugar Juegos de Azar:</label>
        <nb-select [selected]="this.data.game" nbSelect (disabled)="this.has_input" formControlName="game" id="game" game fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.game.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="ironing" class="form-text text-muted font-weight-bold">Planchar:</label>
        <nb-select [selected]="this.data.ironing" nbSelect (disabled)="this.has_input" formControlName="ironing" id="ironing" ironing fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.ironing.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="walk" class="form-text text-muted font-weight-bold">Caminar:</label>
        <nb-select [selected]="this.data.walk" nbSelect (disabled)="this.has_input" formControlName="walk" id="walk" walk fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.walk.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="clean" class="form-text text-muted font-weight-bold">Asear:</label>
        <nb-select [selected]="this.data.clean" nbSelect (disabled)="this.has_input" formControlName="clean" id="clean" clean fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.clean.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="sport" class="form-text text-muted font-weight-bold">Practicar Deporte:</label>
        <nb-select [selected]="this.data.sport" nbSelect (disabled)="this.has_input" formControlName="sport" id="sport" sport fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.sport.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="decorate" class="form-text text-muted font-weight-bold">Decorar:</label>
        <nb-select [selected]="this.data.decorate" nbSelect (disabled)="this.has_input" formControlName="decorate" id="decorate" decorate fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.decorate.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="social" class="form-text text-muted font-weight-bold">Reuniones Sociales:</label>
        <nb-select [selected]="this.data.social" nbSelect (disabled)="this.has_input" formControlName="social" id="social" social fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.social.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="act_floristry" class="form-text text-muted font-weight-bold">Realizar Actividades de Floristeria:</label>
        <nb-select [selected]="this.data.act_floristry" nbSelect (disabled)="this.has_input" formControlName="act_floristry" id="act_floristry" act_floristry fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.act_floristry.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="friends" class="form-text text-muted font-weight-bold">Visitar Amigos:</label>
        <nb-select [selected]="this.data.friends" nbSelect (disabled)="this.has_input" formControlName="friends" id="friends" friends fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.friends.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="read" class="form-text text-muted font-weight-bold">Leer:</label>
        <nb-select [selected]="this.data.read" nbSelect (disabled)="this.has_input" formControlName="read" id="read" read fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.read.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="politic" class="form-text text-muted font-weight-bold">Practicar Grupos Politicos:</label>
        <nb-select [selected]="this.data.politic" nbSelect (disabled)="this.has_input" formControlName="politic" id="politic" politic fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.politic.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="view_tv" class="form-text text-muted font-weight-bold">Ver Television:</label>
        <nb-select [selected]="this.data.view_tv" nbSelect (disabled)="this.has_input" formControlName="view_tv" id="view_tv" view_tv fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.view_tv.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="religion" class="form-text text-muted font-weight-bold">Practicar Grupos Religiosos:</label>
        <nb-select [selected]="this.data.religion" nbSelect (disabled)="this.has_input" formControlName="religion" id="religion" religion fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.religion.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="write" class="form-text text-muted font-weight-bold">Escribir:</label>
        <nb-select [selected]="this.data.write" nbSelect (disabled)="this.has_input" formControlName="write" id="write" write fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.write.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="look" class="form-text text-muted font-weight-bold">Cuidar y Jugar con sus Hijos y Nietos:</label>
        <nb-select [selected]="this.data.look" nbSelect (disabled)="this.has_input" formControlName="look" id="look" look fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.look.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-5">
        <label for="arrange" class="form-text text-muted font-weight-bold">Arreglar Electrodomesticos:</label>
        <nb-select [selected]="this.data.arrange" nbSelect (disabled)="this.has_input" formControlName="arrange" id="arrange" arrange fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.arrange.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>  
  
      <div class="col col-lg-5">
        <label for="travel" class="form-text text-muted font-weight-bold">Ir de Paseo con la Familia:</label>
        <nb-select [selected]="this.data.travel" nbSelect (disabled)="this.has_input" formControlName="travel" id="travel" travel fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.travel.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Siempre">Siempre</nb-option>
          <nb-option value="Algunas Veces">Algunas Veces</nb-option>
          <nb-option value="Nunca">Nunca</nb-option>
        </nb-select>
      </div>
    </div>

    <br/>

    <div class="col col-lg-SiempreAlgunas Veces">
      <label for="observation_activity" class="form-text text-muted font-weight-bold">Observaciones:</label>
      <textarea id="observation_activity" nbInput (disabled)="this.has_input" fullWidth formControlName="observation_activity" observation_activity current_illness rows="Nunca"
        cols="50"
        status="{{ isSubmitted && form.controls.observation_activity.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
    </div>

    <br/>

    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <label for="test" class="form-text text-muted font-weight-bold">Examen Muscular:</label>
        <nb-select [selected]="this.data.test" nbSelect (disabled)="this.has_input" formControlName="test" id="test" test fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.test.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="HIPERTONIA">HIPERTONIA</nb-option>
          <nb-option value="HIPOTONIA">HIPOTONIA</nb-option>
          <nb-option value="EUTONIA">EUTONIA</nb-option>
        </nb-select>
      </div>
  
      <div class="col col-lg-6">
        <label for="observation_test" class="form-text text-muted font-weight-bold">Observaciones:</label>
        <textarea id="observation_test" nbInput (disabled)="this.has_input" fullWidth formControlName="observation_test" observation_test current_illness rows="Siempre" onpaste="return false"
          cols="50"
          status="{{ isSubmitted && form.controls.observation_test.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
      </div>
    </div>



    <div class="div-send" *ngIf="!has_input">
      <button nbButton status="danger" class="ml-Siempre btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
    </div>
    
</form>