<nb-card>
  <nb-card-header>
    <img [src]="surveyInstance !== undefined && surveyInstance.survey !== undefined
    && surveyInstance.survey !==null ? surveyInstance.survey.url_image  : ''" width="100%" height="100px">
  </nb-card-header>
  <nb-card-body>
  <div class="title-sections">
    <p>
        Encuesta {{ surveyInstance !== undefined && surveyInstance.survey !== undefined
          && surveyInstance.survey !==null ? surveyInstance.survey.name : '' }}
    </p >
    <span>
        {{
          surveyInstance.description !== null && surveyInstance.description !== '' ?
            surveyInstance.description :
            surveyInstance.survey.description
        }}
      </span>
    </div>
    <div class="course-information" *ngIf="position===0">
      <p *ngIf="surveyInstance.origin !== null && surveyInstance.origin !== undefined">
          Programa: {{ surveyInstance.origin.name }}
      </p>
      <p *ngIf="surveyInstance.category !== null && surveyInstance.category !== undefined">
        Sub-programa: {{ surveyInstance.category.name }}
      </p>
      <p *ngIf="surveyInstance.course !== null && surveyInstance.course !== undefined 
        && surveyInstance.course.coursebase !== null && surveyInstance.course.coursebase !== undefined">
        Nombre del acto académico: {{ surveyInstance.course.coursebase.name }}
      </p>
      <p *ngIf="!(surveyInstance.course !== null && surveyInstance.course !== undefined 
              && surveyInstance.course.coursebase !== null && surveyInstance.course.coursebase !== undefined)">
        Nombre del acto académico: No asignado
      </p>
   </div>
   <ngx-sections-base [section]="section"
      [userAsign]="UserAsign.id"
      (changePosition)="changePosition($event)"
      [position]="position" [lastposition]="lastposition">
    </ngx-sections-base>
  </nb-card-body>
</nb-card>
