<ngx-base-form [title]="title" [subtitle]="subtitle" [routes]="routes" [messageError]="messageError"
               [routeBack]="routeBack"
               [actionSave]="Save.bind(this)"
                >
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="Save()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description" class="form-text text-muted font-weight-bold">
              Personalizar descripción:
            </label>
            <textarea rows="4" nbInput fullWidth id="description" formControlName="description" description
                      status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="dt_init" class="form-text text-muted font-weight-bold">
              Disponible desde:
            </label>
            <input type="date" nbInput fullWidth id="dt_init" formControlName="dt_init" dt_init
                   status="{{ isSubmitted && form.controls.dt_init.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="dt_finish" class="form-text text-muted font-weight-bold">
              Disponible hasta:
            </label>
            <input type="date" nbInput fullWidth id="dt_finish" formControlName="dt_finish" dt_finish
                   status="{{ isSubmitted && form.controls.dt_finish.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="status_id" class="form-text text-muted font-weight-bold">
              Estado:
            </label>
            <nb-toggle status="success" id="status_id" formControlName="status_id" status_id>
              {{ form.controls.status_id.value ? 'Activo' : 'Inactivo' }}
            </nb-toggle>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="h5">Participantes</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="validity_id" class="form-text text-muted font-weight-bold">
              Vigencia:
            </label>
            <nb-select formControlName="validity_id" id="validity_id" fullWidth
                       status="{{ isSubmitted && form.controls.validity_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of validities" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-8">
          <div class="form-group">
            <label for="origin_id" class="form-text text-muted font-weight-bold">
              Plan de formación:
            </label>
            <nb-select formControlName="origin_id" id="origin_id" fullWidth
                       status="{{ isSubmitted && form.controls.origin_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of origins" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="category_id" class="form-text text-muted font-weight-bold">
              Programa:
            </label>
            <nb-select formControlName="category_id" id="category_id" fullWidth
                       status="{{ isSubmitted && form.controls.category_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="course_id" class="form-text text-muted font-weight-bold">
              Curso:
            </label>
            <nb-select formControlName="course_id" id="course_id" fullWidth
                       status="{{ isSubmitted && form.controls.course_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of courses" [value]="item.id">{{ item.coursebase.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p>{{ users_found }}</p>
        </div>
      </div>
    </form>
  </div>

</ngx-base-form>
