<nb-card style="max-height: 700px;overflow: auto;">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-group">
              <label for="approval_file" class="form-text text-muted font-weight-bold">
                Subir archivo de acuerdo de aprobación:
              </label>
              <div *ngIf="previewApproval" class="container py-2">
                <a [href]="previewApproval" target="_blank">Ver archivo de acuerdo de aprobación</a>
              </div>
              <input accept="application/pdf" type="file" id="approval_file" nbInput fullWidth
                (change)="changeImage($event.target.files, 1)" />
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="approval_date" class="form-text text-muted font-weight-bold">Fecha de acuerdo de
            aprobación:</label>
          <input type="date" nbInput fullWidth id="approval_date" formControlName="approval_date" approval_date
            status="{{ isSubmitted && form.controls.approval_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
      </div>
      <br>
      <div class="row container-button">
        <button nbButton (click)="close()" type="button">Cancelar</button>
        <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>