
<div class="row justify-content-center col col-lg-12">
   

  <div *ngIf="has_input == false || type_record_id != 1">

    <ngx-form-pain-ft (messageEvent)="receiveMessage($event)" [type_record_id]="1" [record_id]="record_id">
    </ngx-form-pain-ft>
  
  </div>

</div>

<div class="col-md-12">

  <hr>

</div>
  
<div class="row justify-content-center col col-lg-12">
  
    <label class="form-text text-muted font-weight-bold">REGISTROS DOLOR</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table  pager="false" [title]="title" customData="ch_e_pain_f_t" [settings]="settings"
        entity="ch_e_pain_f_t/by_record/{{record_id}}/1?&has_input={{has_input}}">
        <div actions>
          <div class="actions">
          </div>
          <div class="actions" style="margin-top:1em;">
          </div>
        </div>
      </ngx-base-table>
    </div>
  </ngx-base-list>
  
</div>
  



