
<div *ngIf="has_input == false || type_record_id != 1">
  <ngx-form-language-therapeutic-goals [type_record]="type_record"  (messageEvent)="receiveMessage($event)" [record_id]="record_id" >
  </ngx-form-language-therapeutic-goals>
</div>

<div>
  <label for="therapeutic_goals_tl" class="form-text text-muted font-weight-bold align">Objetivos Terapeuticos</label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table  pager="false" [title]="title" customData="therapeutic_goals_tl" [settings]="settings"
      entity="therapeutic_goals_tl/by_record/{{record_id}}/{{this.type_record}}?&has_input={{has_input}}">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
</div>