<ngx-base-form [title]="title" [routes]="routes"
               [messageError]="messageError"
               [actionSave]="SubirArchivo.bind(this)"
               [showActionsHeaders]="false"
               textButtonSave="Conciliar">
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="SubirArchivo()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="validity_id" class="form-text text-muted font-weight-bold">
              Vigencia:
            </label>
            <nb-select formControlName="validity_id"
                       id="validity_id" fullWidth
                       status="{{ isSubmitted && form.controls.validity_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of validities" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label for="url_image" class="form-text text-muted font-weight-bold">
              Archivo plano:
            </label>
            <ng-container *ngIf="form.controls.xls_tickets.errors && form.controls.xls_tickets.touched">
              <p class="caption status-danger" *ngIf="form.controls.xls_tickets.errors?.required">
                El archivo es requerido
              </p>
            </ng-container>
            <button nbButton type="button" status="danger" (click)="uploadImage()">Subir
            </button>
            <input style="display: none" type="file" id="url_image" nbInput fullWidth
                   (change)="changeImage($event.target.files)"
            />
          </div>
        </div>

      </div>
    </form>
  </div>

  <div actions>
    <button class="ml-2" nbButton type="button" status="success" (click)="exportTiquetes()">Exportar Tiquetes
    </button>
  </div>

</ngx-base-form>
