<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [settings]="settings"
                    entity="courseApproval/ApprovalByCourse/{{ course_id }}"
                    customData="courseApproval">
      <div actions>
        <div class="actions">
          <a style="margin-right: 5px;" nbButton routerLink="/pages/course/list">Volver</a>
          <button nbButton status="danger" (click)="NewModule()">Crear</button>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
