<ngx-form-failed (messageEvent)="receiveMessage($event)">
</ngx-form-failed>
<label class="form-text text-muted font-weight-bold align">FALLIDA</label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" [title]="title" customData="ch_failed" [settings]="settings"
      entity="ch_failed/by_record/{{record_id}}/9">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>