<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError" [routeBack]="routeBack"
               [actionSave]="Save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="Save()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-gruop">
            <label for="validity_id" class="form-text text-muted font-weight-bold">Vigencia:</label>
            <nb-select formControlName="validity_id"
                       id="validity_id" fullWidth>
              <nb-option value="">Seleccione...</nb-option>

              <nb-option selected="{{ data ? (item.id == data.validity_id) : false }}"
                         *ngFor="let item of validity"
                         [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name" class="form-text text-muted font-weight-bold">Nombre:</label>
            <input nbInput fullWidth id="name" formControlName="name" type="text">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description" class="form-text text-muted font-weight-bold">Descripción:</label>
            <textarea rows="4" nbInput fullWidth id="description" formControlName="description" type="text"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div end>
    <ngx-category *ngIf="data.id" [origin_id]="data.id">

    </ngx-category>
  </div>
</ngx-base-form>
