<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode">
           <nb-step [stepControl]="nameForm" label="Valoración">
            <div class="row">
              <div class="col-md-12">
                <ngx-language-assessment [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"  [type_record_id]="1"></ngx-language-assessment>
              </div>
             </div> 
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Antecedentes">
            <div class="row">
              <div class="col-md-12">
                
                <ngx-back-list [record_id]="record_id" [user]="user" ></ngx-back-list>
              </div>
            </div>
          </nb-step>


          <nb-step [stepControl]="nameForm" label="Signos Vitales">
            <div class="row">
              <div class="col-md-12">
                <ngx-signs  [record_id]="record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"></ngx-signs>
              </div>
            </div>
          </nb-step>

          
          <nb-step [stepControl]="nameForm" label="Evolución">
            <div class="row">
              <div class="col-md-12">
                <ngx-form-language-evolution [record_id]="record_id" (messageEvent)="inputMessage($event)" [user]="user" [has_input]="has_input"></ngx-form-language-evolution> 
                
              </div>
            </div>
          </nb-step>
          
         

        </nb-stepper>
      </nb-card-body> 
    </nb-card>
  </div>
</ngx-base-list>