.header-table {
  width: 100%;
  margin-bottom: 1em;
}

.actions {
  display: flex;
  margin-left: 1em;
  width: 100%;
}

ng-content {
  width: 100%;
}

:host ::ng-deep ng2-smart-table tbody > tr > td {
  padding: 0.5rem 1rem;
}
