<nb-card>
  <nb-card-body>
    <div class="col-12 col-sm-12 col-md-12">
      <ngx-form-fixed-plan (messageEvent)="receiveMessage($event)" [user]="user" [admissions_id]="admissions_id">
      </ngx-form-fixed-plan>
    </div>
    <ngx-base-list [messageError]="messageError">
      <div content>
        <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity"
          customData='fixed_add' [messageToltip]="messageToltip">
          <div actions>
            <div class="actions">
              <button nbButton  outline status="danger" (click)="asd()">NO DISPONIBLES</button>
            </div>
          </div>
        </ngx-base-table>

      </div>
    </ngx-base-list>
  </nb-card-body>
</nb-card>