<ngx-base-list [messageError]="messageError">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode">
          <nb-step label="Antropometría">



          </nb-step>

          <nb-step label="Cálculos de Nutrición Parenteral">



          </nb-step>

          <nb-step label="Análisis e Interpretación">


          </nb-step>

          <nb-step label="Recomendaciones / Educación">


          </nb-step>

        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>