<ngx-base-list [messageError]="messageError">
  <div content>
    <ngx-base-table pager="false" [title]="title" [subtitle]="subtitle" [settings]="settings"
          [entity]="entity" customData="billing_pad"
          [messageToltip]="messageToltip">
          <div actions>
            <div class="actions" style="margin-top:1em;">
              <button nbButton (click)="back()" >Volver</button>
              <button nbButton class="mr-1"
                  status="danger" (click)="ShowPreBilling(confirm)">Facturar</button>
              <button nbButton class="mr-1"
                  status="warning" (click)="SelectAll(true)">seleccionar todo</button>
              <button nbButton  class="mr-1" status="danger" disabled="{{ loading2 }}"
              (click)="generatePdf()">PDF</button>
            </div>

            <form [formGroup]="form">
              <div class="actions">
    
                <div class="col-12 col-sm-12 col-md-6">
                  <label for="regime" class="form-text text-muted font-weight-bold">Filtrar por Régimen:</label>
                  <nb-select  formControlName="regime_id" id="regime_id" fullWidth>
                    <nb-option selected="{{ item.id == data.regime_id }}" *ngFor="let item of regime" [value]="item.id">
                      {{ (item.name).toUpperCase() }}</nb-option>
                  </nb-select>
                </div>

              </div>

              <div class="actions">
                <div class="col-md-6">
                  <label for="start_date" class="form-text text-muted font-weight-bold">Fecha de inicio:</label>
                  <input type="date" nbInput fullWidth id="start_date" formControlName="start_date" start_date
                    status="{{ isSubmitted && form.controls.start_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
                </div>
                <div class="col-md-6">
                  <label for="finish_date" class="form-text text-muted font-weight-bold">Fecha de final:</label>
                  <input type="date" nbInput fullWidth id="finish_date" formControlName="finish_date" finish_date
                    status="{{ isSubmitted && form.controls.finish_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
                </div>
              </div>
    
            </form>
          </div>
        </ngx-base-table>
  </div>
</ngx-base-list>


<ng-template #confirm>
  <nb-card style="width: 100%;height: 600px;overflow: auto;">
    <nb-card-header>
      GENERAR FACTURA
    </nb-card-header>
    <nb-card-body>
      <ngx-base-list [messageError]="messageError">
        <div content>
          ¿ESTÁ SEGURO QUE DESEA GENERAR LA FACTURA?
        </div>
      </ngx-base-list>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="SaveBilling()" style="margin-right: 5px;" status="success" type="button" disabled="{{ loading }}">Aceptar</button>
      <button nbButton (click)="closeDialog()" type="button" >Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>