<ngx-base-list [messageError]="messageError">
  <div content>
    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
          entity="billing_pad/getEnabledPatients/0?pgp={{this.is_pgp}}&billing_pad_pgp_id={{this.billing_pad_pgp_id}}&briefcase_id={{this.briefcase_id}}" customData="billing_pad"
          [messageToltip]="messageToltip">
          <div actions>
            <div class="actions" style="margin-top:1em;">
              <button nbButton (click)="back()" >Volver</button>
              <button nbButton class="mr-1"
                  status="danger" (click)="ShowPreBilling(confirm)">Facturar</button>
              <button nbButton class="mr-1"
                  status="warning" (click)="SelectAll(true)">seleccionar todo</button>
            </div>
          </div>
        </ngx-base-table>
  </div>
</ngx-base-list>


<ng-template #confirm>
  <nb-card style="width: 100%;height: 600px;overflow: auto;">
    <nb-card-header>
      GENERAR FACTURA
    </nb-card-header>
    <nb-card-body>
      <ngx-base-list [messageError]="messageError">
        <div content>
          ¿ESTÁ SEGURO QUE DESEA GENERAR LA FACTURA?
        </div>
      </ngx-base-list>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="SaveBilling()" style="margin-right: 5px;" status="success" type="button" disabled="{{ loading }}">Aceptar</button>
      <button nbButton (click)="closeDialog()" type="button" >Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>