<nb-card style="margin: 10px;width: 100%;height: 100%;overflow: auto;">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">

    </div>

    <div style="margin-top: 10px;">
      <ngx-dish-package [parentData]="selectedOptions2" [dishByMenu]="dishByMenu" [menuId]="data.id">
      </ngx-dish-package>
    </div>

  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button nbButton (click)="close()" type="button">Cerrar</button>
  </nb-card-footer>
</nb-card>