<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div class="col-md-12">
      <label for="ch_entry" class="form-text text-muted font-weight-bold">MOTIVO DE
        CONSULTA:</label>
      <textarea id="reason_consultation" nbInput fullWidth formControlName="reason_consultation" reason_consultation rows="4"
        cols="50"  status="{{ isSubmitted && form.controls.reason_consultation.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>

    <div class="col-md-12">
      <label for="ch_entry" class="form-text text-muted font-weight-bold">ENFERMEDAD
        ACTUAL:</label>
      <textarea id="current_illness" nbInput fullWidth formControlName="current_illness" current_illness rows="4"
        cols="50" status="{{ isSubmitted && form.controls.current_illness.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
    </div>

    <div class="col-md-12">
      <label for="ch_external_cause" class="form-text text-muted font-weight-bold">CAUSA
        EXTERNA:</label>
      <nb-select [selected]="this.data.ch_external_cause_id" formControlName="ch_external_cause_id" id="ch_external_cause_id" fullWidth
      status="{{ isSubmitted && form.controls.ch_external_cause_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
      <nb-option value="">Seleccione...</nb-option>
      <nb-option selected="{{ item.id == data.ch_external_cause_id }}" *ngFor="let item of ch_external_cause" [value]="item.id">
        {{ item.name }}</nb-option>
    </nb-select>
    </div>

    <div class="div-send">
      <label></label>
      <button [disabled]="disabled" type="submit" nbButton status="success">GUARDAR</button>
    </div>
  </div>
</form>