<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="width: 400px;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-4">
          <label for="day_number" class="form-text text-muted font-weight-bold">
            Día:
          </label>
          <input nbInput type="number" fullWidth id="day_number" formControlName="day_number"
                 status="{{ isSubmitted && form.controls.day_number.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
        </div>

        <div class="col-sm-8">
          <label for="date_planned" class="form-text text-muted font-weight-bold">
            Fecha:
          </label>
          <input nbInput type="date" fullWidth id="date_planned" formControlName="date_planned"
                 status="{{ isSubmitted && form.controls.date_planned.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <label for="description" class="form-text text-muted font-weight-bold">
            Descripión:
          </label>
          <textarea nbInput fullWidth id="description" formControlName="description"
                    status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" [disabled]="loading">Guardar</button>
    </nb-card-footer>
  </nb-card>

</form>
