<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <label for="company" class="form-text text-muted font-weight-bold">Compañia:</label>
          <nb-select [selected]="this.data.company_id" formControlName="company_id" id="company_id" fullWidth
            status="{{ isSubmitted && form.controls.company_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.company_id }}" *ngFor="let item of company" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="ciiu_class" class="form-text text-muted font-weight-bold">Clase de clasificación industrial internacional uniforme:</label>
          <nb-select [selected]="this.data.ciiu_class_id" formControlName="ciiu_class_id" id="ciiu_class_id" fullWidth
            status="{{ isSubmitted && form.controls.ciiu_class_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.ciiu_class_id }}" *ngFor="let item of ciiu_class" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="fiscal_clasification" class="form-text text-muted font-weight-bold">Clasificación fiscal:</label>
          <nb-select [selected]="this.data.fiscal_clasification_id" formControlName="fiscal_clasification_id" id="fiscal_clasification_id" fullWidth
            status="{{ isSubmitted && form.controls.fiscal_clasification_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.fiscal_clasification_id }}" *ngFor="let item of fiscal_clasification" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>