<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <label for="company" class="form-text text-muted font-weight-bold">Compañia:</label>
          <nb-select [selected]="this.data.company_id" formControlName="company_id" id="company_id" fullWidth
            status="{{ isSubmitted && form.controls.company_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.company_id }}" *ngFor="let item of company" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="class" class="form-text text-muted font-weight-bold">Clase de clasificación industrial internacional uniforme:</label>
          <nb-select [selected]="this.data.class_id" formControlName="class_id" id="class_id" fullWidth
            status="{{ isSubmitted && form.controls.class_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.class_id }}" *ngFor="let item of class" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="clasification" class="form-text text-muted font-weight-bold">Clasificación fiscal:</label>
          <nb-select [selected]="this.data.clasification_id" formControlName="clasification_id" id="clasification_id" fullWidth
            status="{{ isSubmitted && form.controls.clasification_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.clasification_id }}" *ngFor="let item of clasification" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>