<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content *ngIf="entity">
    <nb-tabset fullWidth (changeTab)="tablock($event)">
      <nb-tab tabTitle="RECIBIDOS">
        <div *ngIf="this.show == 1">
          <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity"
            customData='pharmacy_product_request' [messageToltip]="messageToltip">
            <div actions>
              <div class="actions">
                <!-- <button nbButton status="danger" ngxCheckPerms="create" (click)="NewPharmacyStock()">CREAR</button> -->
              </div>
            </div>
          </ngx-base-table>
        </div>
      </nb-tab>

      <nb-tab tabTitle="POR ACEPTAR">
        <div *ngIf="this.show == 2">
          <ngx-assistance-stock-req>
          </ngx-assistance-stock-req>
        </div>
      </nb-tab>

      <nb-tab tabTitle="SOLICITUDES">
        <div *ngIf="this.show == 3">
          <ngx-insume-request [messageError]="null">
          </ngx-insume-request>
        </div>
      </nb-tab>

    </nb-tabset>


  </div>
</ngx-base-list>