    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper (stepChange)="saveMcEa()"  [linear]="linearMode">
          <nb-step [stepControl]="nameForm" label="Nota de ingreso">

            <ngx-form-reason-consultation-nursing  [record_id]="record_id" [type_record]="1" (messageEvent)="inputMessage($event)" [has_input]="has_input" ></ngx-form-reason-consultation-nursing>

          </nb-step>

          <nb-step [stepControl]="nameForm" label="Ex Físico">

            <div class="row">
              <div class="col-md-12">
                <ngx-nursing-physical-exam [record_id]="record_id" [type_record_id]="1" [enfermery]="true" (messageEvent)="inputMessage($event)" [has_input]="has_input" ></ngx-nursing-physical-exam>
              </div>
            </div>

          </nb-step>

          <nb-step [stepControl]="nameForm" label="Signos Vitales">

            <ngx-signs [record_id]="record_id" (messageEvent)="inputMessage($event)" [type_record_id]="type_record_id" [admissions]="admission" [has_input]="has_input"></ngx-signs>

          </nb-step>

          <nb-step [hidden]="true">

            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>
            
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>