<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content *ngIf="settings && this.entity">

    <ngx-base-table  [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity"
      customData="assigned_management_plan" [messageToltip]="messageToltip">
      <div title *ngIf="user">
        <p class="parrafo" *ngIf="user"><b>CÉDULA:</b> {{user.identification}} </p>
        <p class="parrafo" *ngIf="user"><b>NOMBRE:</b>  {{user.nombre_completo}}</p>
        <p class="parrafo" *ngIf="user"><b>FECHA DE NACIMIENTO:</b> {{this.datePipe.transform3(user.birthday)}} </p>
        <p class="parrafo" *ngIf="user"><b>EDAD:</b> {{user.age}} </p>
        <p class="parrafo" *ngIf="user"><b>GÉNERO:</b> {{user.gender.name}} </p>
        <p class="parrafo" *ngIf="user"><b>EPS:</b> {{user.admissions[0].contract.company.name}} </p>
        <p class="parrafo" *ngIf="user.inability"><b>DISCAPACIDAD:</b> {{user.inability}} </p>
        <p class="parrafo" *ngIf="!user.inability"><b>DISCAPACIDAD:</b> SIN DISCAPACIDADES </p>
        <p class="parrafo" *ngIf="management"><b>TIPO DE ATENCIÓN:</b> {{management[0].type_of_attention.name}} </p>
        <p class="parrafo" *ngIf="management[0].preparation!=null"><b>PREPARACIÓN:</b> {{management[0].preparation}} </p>
        <p class="parrafo" *ngIf="management[0].route_of_administration!=null"><b>VIA DE ADMINISTRACIÓN:</b> {{management[0].route_of_administration}} </p>
        <p class="parrafo" *ngIf="management[0].blend!=null"><b>MEZCLA:</b> {{management[0].blend}} </p>
        <p class="parrafo" *ngIf="management[0].administration_time!=null"><b>TIEMPO DE ADMINISTRACIÓN:</b> {{management[0].administration_time}} </p>
        <!-- <p class="parrafo" *ngIf="user.gender.name">GÉNERO:</b> {{user.gender.name}} </p> -->
      </div>
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>