<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" entity="assigned_management_plan/{{management_id}}/{{user_logged}}"
      customData="assigned_management_plan" [messageToltip]="messageToltip">
      <div title *ngIf="user">
        <p class="parrafo" *ngIf="user">CÉDULA: {{user.identification}} </p>
        <p class="parrafo" *ngIf="user">NOMBRE:  {{user.nombre_completo}}</p>
        <p class="parrafo" *ngIf="user">FECHA DE NACIMIENTO: {{user.birthday}} </p>
        <p class="parrafo" *ngIf="user">EDAD: {{user.age}} </p>
        <!-- <p class="parrafo" *ngIf="user.gender.name">GÉNERO: {{user.gender.name}} </p> -->
      </div>
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>