<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row ">
    <fieldset class="field_set">
      <legend class="prue1 center">HABLA</legend>
      <div class="row justify-content-md">
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Respiración </label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group nbSelect (disabled)="this.has_input" formControlName="breathing" breathing id="breathing" name="breathing" fullWidth
            status="{{ isSubmitted && form.controls.breathing.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Conservado">Conservado</nb-radio>
            <nb-radio value="Alterado">Alterado</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Articulación</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group nbSelect (disabled)="this.has_input" formControlName="joint" joint id="joint" name="joint" fullWidth
            status="{{ isSubmitted && form.controls.joint.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Conservado">Conservado</nb-radio>
            <nb-radio value="Alterado">Alterado</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Resonancia </label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group nbSelect (disabled)="this.has_input" formControlName="resonance" resonance id="resonance" name="resonance" fullWidth
            status="{{ isSubmitted && form.controls.resonance.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Conservado">Conservado</nb-radio>
            <nb-radio value="Alterado">Alterado</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-12">
          <hr />
        </div>

        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Fluidez </label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group nbSelect (disabled)="this.has_input" formControlName="fluency" fluency id="fluency" name="fluency" fullWidth
            status="{{ isSubmitted && form.controls.fluency.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Conservado">Conservado</nb-radio>
            <nb-radio value="Alterado">Alterado</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Prosodia</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group nbSelect (disabled)="this.has_input" formControlName="prosody" prosody id="prosody" name="prosody" fullWidth
            status="{{ isSubmitted && form.controls.prosody.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Conservado">Conservado</nb-radio>
            <nb-radio value="Alterado">Alterado</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Observaciones</label>
        </div>
        <div class="col col-lg-2">
          <textarea id="observations" nbInput fullWidth formControlName="observations" observations
            onpaste="return false" rows="3" cols="50"
            status="{{ isSubmitted && form.controls.observations.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
        </div>
      </div>

    </fieldset>

    <div class="container" *ngIf="!has_input">
      <div class="row">
        <div class="col-md-12">
          <button nbButton status="danger" class="ml-1 btn-save"  [disabled]="disabled" type="submit">GUARDAR</button>
        </div>
      </div>
    </div>

  </div>

</form>