<form [formGroup]="form" (ngSubmit)="save()">
  <div>

    <label class="form-text text-muted font-weight-bold align"></label>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">APLICACIÓN DE MEDICAMENTOS</legend>
            <div class="row justify-content-md-center">
              <div class="col col-lg-2">
                <nb-radio-group formControlName="exit_status" exit_status id="exit_status" class="d-flex text center"
                  name="exit_status"
                  status="{{ isSubmitted && form.controls.exit_status.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
                  <nb-radio value="1">APLICADO</nb-radio>
                  <nb-radio value="2">NO APLICADO</nb-radio>
                </nb-radio-group>
              </div>
            </div>

            <label class="form-text text-muted font-weight-bold">OBSERVACIONES</label>
            <textarea id="observation" nbInput fullWidth formControlName="observation" observation
              onpaste="return false" rows="4" cols="50"
              status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>

  </div>
</form>