<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div class="row">

      <div class="col-12 col-sm-12 col-md-6">
        <label for="billing_id" class="form-text text-muted font-weight-bold">Seleccionar factura:</label>
        <nb-select [selected]="this.data.billing_id" formControlName="billing_id" id="billing_id" fullWidth
          (selectedChange)="BillingSelect($event)"
          status="{{ isSubmitted && form.controls.billing_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option selected="{{ item.id == data.billing_id }}" *ngFor="let item of billing_id" [value]="item.id">
            {{ item.num_evidence }} - {{item.company.name}}</nb-option>
        </nb-select>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <label for="billing_stock_id" class="form-text text-muted font-weight-bold">Nombre producto:</label>
        <nb-select [selected]="this.data.billing_stock_id" formControlName="billing_stock_id" id="billing_stock_id" fullWidth
        (selectedChange)="ProdSelect($event)"
          status="{{ isSubmitted && form.controls.billing_stock_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option selected="{{ item.id == data.billing_stock_id }}" *ngFor="let item of billing_stock_id" [value]="item.id">
            {{ item.product.name }} - {{ item.product.product_generic.description }}</nb-option>
        </nb-select>
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="billing_stock_id" class="form-text text-muted font-weight-bold">Cantidad ordenada:</label>
        <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="billing_stock_id"
          formControlName="billing_stock_id" billing_stock_id  [value]="this.bill_value" disabled="true"
          status="{{ isSubmitted && form.controls.billing_stock_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="enter_amount" class="form-text text-muted font-weight-bold">Cantidad a ingresar:</label>
        <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="enter_amount"
          formControlName="enter_amount" enter_amount
          status="{{ isSubmitted && form.controls.enter_amount.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="billing_id" class="form-text text-muted font-weight-bold">Valor de la factura $:</label>
        <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="billing_id"
          formControlName="billing_id" billing_id [value]="this.billing_value" disabled="true"
          status="{{ isSubmitted && form.controls.billing_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <label for="unit_value" class="form-text text-muted font-weight-bold">Valor unidad $:</label>
        <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="unit_value"
          formControlName="unit_value" unit_value
          status="{{ isSubmitted && form.controls.unit_value.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="lot" class="form-text text-muted font-weight-bold">Lote:</label>
        <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="lot" formControlName="lot" lot
          status="{{ isSubmitted && form.controls.lot.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <div class="form-group">
          <label for="expiration_date" class="form-text text-muted font-weight-bold">Fecha vencimiento:</label>
          <input type="date" nbInput fullWidth id="expiration_date" formControlName="expiration_date" expiration_date
            status="{{ isSubmitted && form.controls.expiration_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
      </div>

    </div>
    <div class="div-send">
      <label></label>
      <button [disabled]="disabled" type="submit" nbButton status="success">GUARDAR</button>
    </div>

  </div>

</form>