<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1500px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <label for="cantidad_enviada" class="form-text text-muted font-weight-bold">CANTIDAD TOTAL ENVIADA:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput type="number" min="0" pattern="^[0-9]+"
            fullWidth id="cantidad_enviada" formControlName="cantidad_enviada" disabled="disabled" />
        </div>

        <div class="col-12 col-sm-12 col-md-12">
          <ngx-income-package (messageEvent)="receiveMessage($event)" [parentData]="parentData">
            <!-- <ngx-income-package (messageEvent)="receiveMessage($event)" [parentData]="parentData" [my_pharmacy_id]="my_pharmacy_id"> -->
          </ngx-income-package>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
          <label></label>
        </div>


        <div class="col-12 col-sm-12 col-md-6">
          <label for="observation" class="form-text text-muted font-weight-bold">OBSERVACIÓN:</label>
          <textarea id="observation" nbInput fullWidth formControlName="observation" observation rows="4" cols="50"
            status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
        </div>

      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">ACEPTAR</button>
    </nb-card-footer>
  </nb-card>
</form>