<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1500px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <label for="cantidad_enviada" class="form-text text-muted font-weight-bold">CANTIDAD ENVIADA TOTAL:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput type="number" fullWidth id="cantidad_enviada"
            formControlName="cantidad_enviada" disabled="disabled" />
        </div>

        <div class="col-12 col-sm-12 col-md-12">
          <ngx-income-package (messageEvent)="receiveMessage($event)" [parentData]="parentData">
          </ngx-income-package>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
          <label></label>
        </div>

        
        <div class="col-12 col-sm-12 col-md-6">
          <label for="observation" class="form-text text-muted font-weight-bold">OBSERVACIÓN:</label>
          <textarea id="observation" nbInput fullWidth formControlName="observation" observation rows="4" cols="50"
            status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>

      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">ENVIAR</button>
    </nb-card-footer>
  </nb-card>
</form>