input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn-save{
  margin-top: 8PX;

    float: RIGHT;
}

.center{
  text-align: center;
}