<div class="col-12 col-sm-12 col-md-12">
  <ngx-form-insume-request (messageEvent)="receiveMessage($event)" [user]="this.user"
    [admissions_id]="this.admissions_id" [record_id]="record_id">
  </ngx-form-insume-request>
</div>
<ngx-base-list [messageError]="messageError">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
      entity="pharmacy_product_request/?admissions_id={{this.admissions_id}}&status=PATIENT&product=2"
      customData='pharmacy_product_request' [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>