<form [formGroup]="form" (ngSubmit)="save()">
  <div>
  
    <div class="row justify-content-md-center">
      <div class="col col-lg-6"> <label class="form-text text-muted font-weight-bold align">MATERIALES E INSUMOS UTILIZADOS</label>
        <nb-select multiple formControlName="materialused" id="materialused" fullWidth placeholder="Seleccione..."
          status="{{ isSubmitted && form.controls.materialused.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          <nb-option value="ELEMENTOS DE BIOSEGURIDAD (BATA, GUANTES, GORRO, POLAINAS">ELEMENTOS DE BIOSEGURIDAD (BATA, GUANTES, GORRO, POLAINAS</nb-option>
          <nb-option value="MATERIALES DIDÁCTICOS">MATERIALEs DIDÁCTICOS</nb-option>
          <nb-option value="ALIMENTOS Y LÍQUIDOS">ALIMENTOS Y LÍQUIDOS</nb-option>
          <nb-option value="MATERIAL DE PAPELERÍA">MATERIAL DE PAPELERÍA</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>