<form [formGroup]="form" (ngSubmit)="save()">
  <div>

    <div class="row justify-content-center">

      <div class="row justify-content-md-center">
        <div class="col col-lg-3 checks">
          <a>
            <nb-card status="{{this.form.controls.check1_cognitive.value ? 'success' : 'basic'}}" size="tiny">
              <nb-card-header>
                <nb-checkbox formControlName="check1_cognitive" check1_cognitive id="check1_cognitive"><b>Material 1</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body> {{this.arrayObjectives[0].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check2_colors.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check2_colors" check2_colors id="check2_colors"><b>Material 2</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body> {{this.arrayObjectives[1].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check3_elements.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check3_elements" check3_elements id="check3_elements">
                  <b>Material 3</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body>{{this.arrayObjectives[2].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check4_balls.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check4_balls" check4_balls id="check4_balls"><b>Material 4</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body>{{this.arrayObjectives[3].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check5_material_paper.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check5_material_paper" check5_material_paper id="check5_material_paper">
                  <b>Material 5</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body>
                {{this.arrayObjectives[4].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check6_material_didactic.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check6_material_didactic" check6_material_didactic id="check6_material_didactic">
                  <b>Material 6</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body>
                {{this.arrayObjectives[5].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check7_computer.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check7_computer" check7_computer id="check7_computer"><b>Material 7</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body>
                {{this.arrayObjectives[6].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check8_clay.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check8_clay" check8_clay id="check8_clay">
                  <b>Material 8</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body>
                {{this.arrayObjectives[7].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check9_colbon.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check9_colbon" check9_colbon id="check9_colbon"><b>Material 9</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body> {{this.arrayObjectives[8].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>

        <div class="col col-lg-3 checks justify-content">
          <a>
            <nb-card size="tiny" status="{{this.form.controls.check10_pug.value ? 'success' : 'basic'}}">
              <nb-card-header>
                <nb-checkbox formControlName="check10_pug" check10_pug id="check10_pug">
                  <b>Material 10</b>
                </nb-checkbox>
              </nb-card-header>
              <nb-card-body> {{this.arrayObjectives[9].description}}<br>
              </nb-card-body>
            </nb-card>
          </a>
        </div>
      </div>
    </div>

    <div class="div-send">
      <button nbButton status="danger" class="ml-FUNCIONAL btn-save" [disabled]="disabled" type="button"
        (click)="save()">GUARDAR</button>
    </div>
  </div>
</form>