<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div *ngIf="show_table" style="margin-top: 10px;">
          <ngx-rent-relief-package (messageEvent)="receiveMessage($event)" [parentData]="parentData"></ngx-rent-relief-package>
        </div>

      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>