<ngx-base-list [messageError]="messageError">
  <div content>
    <ngx-base-table [title]="title" [settings]="settings" [entity]="entity" customData="categories">
      <div actions>
          <a style="float: right; margin-bottom: 1em;"nbButton status="danger" [routerLink]="createLink" *ngIf="!origin_id">Crear</a>
          <a nbButton status="danger" (click)="open(dialog)" *ngIf="origin_id">Asociar</a>
          <div *ngIf="!origin_id">
            <nb-select (selectedChange)="ChangeProgram($event)" placeholder="Filtrar por programa o subprograma">
              <nb-option value="0">Todos los registros</nb-option>
              <nb-option value="1">Programas</nb-option>
              <nb-option value="2">Subprogramas</nb-option>
          </nb-select>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Asociar programa</nb-card-header>
    <nb-card-body>
      <nb-select fullWidth placeholder="Seleccione un programa" [(ngModel)]="selectedItemNgModel" status="info">
        <nb-option selected="{{ selectedItemNgModel ? (item.id == selectedItemNgModel) : false }}"
          *ngFor="let item of categories" [value]="item.id">{{ item.name }}</nb-option>
      </nb-select>
    </nb-card-body>
    <nb-card-footer>
      <div class="row text-center">
        <div class="col">
          <button nbButton (click)="ref.close()">Cancelar</button>
        </div>
        <div class="col">
          <button nbButton status="danger" (click)="AddCategoryOrigin()">Guardar</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>