<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <div title *ngIf="user">
      <p class="parrafo" *ngIf="user"><b>CÉDULA:  </b> {{user.identification}} </p>
      <p class="parrafo" *ngIf="user"><b>NOMBRE:  </b> {{this.user.firstname + ' ' + this.user.lastname}}</p>
      <p class="parrafo" *ngIf="user"><b>FECHA DE NACIMIENTO:  </b> {{user.birthday}} </p>
      <p class="parrafo" *ngIf="user"><b>EDAD:  </b> {{user.age}} </p>
    </div>
    <nb-tabset fullWidth class="tabset" (changeTab)="tablock($event)">

      <nb-tab tabTitle="INGRESO">
        <div *ngIf="this.show == 1">
          <ngx-language-list [record_id]="this.record_id">
          </ngx-language-list>
        </div>
      </nb-tab>

      <nb-tab tabTitle="REGULAR">
        <div *ngIf="this.show == 2">
          <ngx-regularlanguage-list [record_id]="this.record_id"></ngx-regularlanguage-list>
        </div>
      </nb-tab>

    </nb-tabset>
    <div style="text-align: center;">
      <a (click)="finish()" nbButton>Finalizar registro</a>
    </div>
  </div>

</ngx-base-list>