<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" entity="gloss/?pagination=true"
      customData="gloss" [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <nb-select style="margin-right: 5px;" (selectedChange)="ChangeGlossStatus($event)" placeholder="Filtrar por estado">
            <nb-option value="0">Todos los registros</nb-option>
            <nb-option *ngFor="let item of glossStatus" [value]="item.id">{{item.name}}</nb-option>
        </nb-select>
          <form [formGroup]="form" ngxCheckPerms="update">
            <div class="file-select" id="src-file1" [nbSpinner]="loading">
              <input class="file" accept=".xlsm" type="file" id="file" file fullWidth (change)="saveFile($event)" />
            </div>
          </form>
          <button ngxCheckPerms="create" nbButton status="danger" (click)="NewGloss()">Crear</button>
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>