<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title"
     [subtitle]="subtitle"
     [settings]="settings"
     entity="gloss/?pagination=true" 
     customData="gloss"
     [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <button nbButton status="danger" (click)="NewGloss()">Crear</button>
        </div>
        <div class="actions" style="margin-top:1em;">
          </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>