.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%
}
.div-send {
  padding-top: 30px;
}
.file-select {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.file-select::before {
  background-color: #54bcc1;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'CARGA MASIVA'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 150px;
  margin-right: 5px;
  height: 40px;
  display: inline-block;
}
