<form [formGroup]="form" (ngSubmit)="save()">

    <div class="row justify-content-center">   

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">CABEZA Y CUELLO:</label>
        <nb-select [selected]="this.data.head" formControlName="head" id="head" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.head.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Leve">Leve</nb-option>
          <nb-option value="Moderado">Moderado</nb-option>
          <nb-option value="Severo">Severo</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">TRONCO:</label>
        <nb-select [selected]="this.data.trunk" formControlName="trunk" id="trunk" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.trunk.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Leve">Leve</nb-option>
          <nb-option value="Moderado">Moderado</nb-option>
          <nb-option value="Severo">Severo</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO SUPERIOR DERECHO:</label>
        <nb-select [selected]="this.data.sup_right" formControlName="sup_right" id="sup_right" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.sup_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Leve">Leve</nb-option>
          <nb-option value="Moderado">Moderado</nb-option>
          <nb-option value="Severo">Severo</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO SUPERIOR IZQUIERDO:</label>
        <nb-select [selected]="this.data.sup_left" formControlName="sup_left" id="sup_left" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.sup_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Leve">Leve</nb-option>
          <nb-option value="Moderado">Moderado</nb-option>
          <nb-option value="Severo">Severo</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO INFERIOR DERECHO:</label>
        <nb-select [selected]="this.data.inf_right" formControlName="inf_right" id="inf_right" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.inf_right.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Leve">Leve</nb-option>
          <nb-option value="Moderado">Moderado</nb-option>
          <nb-option value="Severo">Severo</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-6">
        <label class="form-text text-muted font-weight-bold">MIEMBRO INFERIOR IZQUIERDO:</label>
        <nb-select [selected]="this.data.inf_left" formControlName="inf_left" id="inf_left" fullWidth
          title="Seleccione..."
          status="{{ isSubmitted && form.controls.inf_left.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option value="Leve">Leve</nb-option>
          <nb-option value="Moderado">Moderado</nb-option>
          <nb-option value="Severo">Severo</nb-option>
        </nb-select>
      </div>

      <div class="col col-lg-12">
        <label class="form-text text-muted font-weight-bold">OBSERVACIONES:</label>
        <textarea id="observation" nbInput fullWidth formControlName="observation" current_illness rows="3"
          cols="50"
          status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
      </div>

    </div>

    <div class="div-send">
      <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
    </div>
</form>