<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">DIAGNOSTICO</legend>
            <div class="row">
              <div class="col-md-4">
                <label for="code" class="form-text text-muted font-weight-bold">Código:</label>
                <input type="number" class="form-text text-muted font-weight-bold" nbInput fullWidth
                  id="cardiac_frequency" formControlName="cardiac_frequency" required nbInput ngModel something>
              </div>
              <div class="col-md-8">
                <label for="name" class="form-text text-muted font-weight-bold">Nombre:</label>
                <input type="number" id="respiratory_frequency" class="form-text text-muted font-weight-bold" nbInput
                  fullWidth formControlName="respiratory_frequency" required nbInput ngModel>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <fieldset class="field_set">
      <legend class="prue1">DIAGNOSTICO</legend>
      <div>
        <ngx-diagnostic></ngx-diagnostic>
       <!-- <ngx-diagnostic [dietTherapeuticComponents]="selectedOptions2"></ngx-diagnostic>-->
      </div>
    </fieldset>


    <div class="div-send">
      <label></label>
      <button [disabled]="disabled" type="submit" nbButton status="success">GUARDAR</button>
    </div>
  </div>


</form>