<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError" [routeBack]="routeBack"
               [actionSave]="Save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="Save()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name" class="form-text text-muted font-weight-bold">
              Nombre<span>*</span>:
            </label>
            <input nbInput fullWidth id="name" formControlName="name" name
                   status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="concept_type_id" class="form-text text-muted font-weight-bold">
              Tipo concepto<span>*</span>:
            </label>
            <nb-select formControlName="concept_type_id" id="concept_type_id" fullWidth
                       status="{{ isSubmitted && form.controls.concept_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of conceptTypes" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="form-group">
            <label for="unit_id" class="form-text text-muted font-weight-bold">
              Unidad<span>*</span>:
            </label>
            <nb-select formControlName="unit_id" id="unit_id" fullWidth
                       status="{{ isSubmitted && form.controls.unit_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of units" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description" class="form-text text-muted font-weight-bold">
              Descripción:
            </label>
            <textarea nbInput fullWidth id="description" formControlName="description" description rows="4"
                      status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isTransporte">
        <div class="col-md-12">
          <p>Transporte</p>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="transport_type_id" class="form-text text-muted font-weight-bold">
              Tipo transporte<span>*</span>:
            </label>
            <nb-select formControlName="transport_type_id" id="transport_type_id" fullWidth
                       status="{{ isSubmitted && form.controls.transport_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of transportTypes" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="origin" class="form-text text-muted font-weight-bold">
              Origen<span>*</span>:
            </label>
            <input nbInput fullWidth id="origin" formControlName="origin" origin
                   status="{{ isSubmitted && form.controls.origin.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="destination" class="form-text text-muted font-weight-bold">
              Destino<span>*</span>:
            </label>
            <input nbInput fullWidth id="destination" formControlName="destination" destination
                   status="{{ isSubmitted && form.controls.destination.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div end>
    <ngx-concept *ngIf="data" [concept_base_id]="data.id" [municipality_id]="municipality_id">

    </ngx-concept>
  </div>
</ngx-base-form>
