<ngx-base-list [messageError]="messageError">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" customData="patients" [settings]="settings" entity="user/byAdmission/2?admission_route_id=1" [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <!-- <button nbButton status="danger" (click)="NewMenu()">Crear</button> -->
        </div>
        <div class="actions" style="margin-top:1em;">
          </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>