<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
          <label for="validity_id" class="form-text text-muted font-weight-bold">Vigencia:</label>
          <nb-select (selectedChange)="onChangeValidity($event)" [selected]="this.data.validity_id"
            formControlName="validity_id" id="validity_id" fullWidth
            status="{{ isSubmitted && form.controls.validity_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.validity_id }}" *ngFor="let item of validities" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-8">
          <label for="origin_id" class="form-text text-muted font-weight-bold">Plan de Formación:</label>
          <nb-select (selectedChange)="onChangeOrigin($event)" [selected]="this.data.origin_id"
            formControlName="origin_id" id="origin_id" fullWidth
            status="{{ isSubmitted && form.controls.origin_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.origin_id }}" *ngFor="let item of origins" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <label for="category_id" class="form-text text-muted font-weight-bold">Programa:</label>
          <nb-select (selectedChange)="onChangeCategory($event)" [selected]="this.data.category_id"
            formControlName="category_id" id="category_id" fullWidth
            status="{{ isSubmitted && form.controls.category_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.category_id }}" *ngFor="let item of categories" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <label for="coursebase_id" class="form-text text-muted font-weight-bold">Curso Base:</label>
          <nb-select [selected]="this.data.coursebase_id" formControlName="coursebase_id" id="coursebase_id" fullWidth
            status="{{ isSubmitted && form.controls.coursebase_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.coursebase_id }}" *ngFor="let item of baseCourses"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="entity_type_id" class="form-text text-muted font-weight-bold">Modalidad:</label>
          <nb-select [selected]="this.data.entity_type_id" formControlName="entity_type_id" id="entity_type_id"
            fullWidth
            status="{{ isSubmitted && form.controls.entity_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.entity_type_id }}" *ngFor="let item of entities" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="campus_id" class="form-text text-muted font-weight-bold">Sede:</label>
          <nb-select [selected]="this.data.campus_id" formControlName="campus_id" id="campus_id" fullWidth
            status="{{ isSubmitted && form.controls.campus_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.campus_id }}" *ngFor="let item of campus" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <label for="course_template" class="form-text text-muted font-weight-bold">Código Semilla LMS</label>
            <input nbInput fullWidth id="course_template" formControlName="course_template" course_template
              status="{{ isSubmitted && form.controls.course_template.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="start_date" class="form-text text-muted font-weight-bold">Fecha de Inicio de Inscripción:</label>
          <input type="date" nbInput fullWidth id="start_date" formControlName="start_date" start_date
            status="{{ isSubmitted && form.controls.start_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="finish_date" class="form-text text-muted font-weight-bold">Fecha Fin de Inscripción:</label>
          <input type="date" nbInput fullWidth id="finish_date" formControlName="finish_date" finish_date
            status="{{ isSubmitted && form.controls.finish_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="quota" class="form-text text-muted font-weight-bold">Cupos disponibles por grupo:</label>
          <input type="number" nbInput fullWidth id="quota" formControlName="quota" quota
            status="{{ isSubmitted && form.controls.quota.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="course_type_id" class="form-text text-muted font-weight-bold">Tipo de Actividad Académica:</label>
          <nb-select [selected]="this.data.course_type_id" formControlName="course_type_id" id="course_type_id"
            fullWidth
            status="{{ isSubmitted && form.controls.course_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.course_type_id }}" *ngFor="let item of courseTypes"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="course_states_id" class="form-text text-muted font-weight-bold">Estado del Curso:</label>
          <nb-select [selected]="this.data.course_states_id" formControlName="course_states_id" id="course_states_id"
            fullWidth
            status="{{ isSubmitted && form.controls.course_states_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.course_states_id }}" *ngFor="let item of courseStates"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="certificates_id" class="form-text text-muted font-weight-bold">Certificado:</label>
          <nb-select [selected]="this.data.certificates_id" formControlName="certificates_id" id="certificates_id"
            fullWidth
            status="{{ isSubmitted && form.controls.certificates_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.certificates_id }}" *ngFor="let item of certificates"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <nb-card style="margin-top: 20px; height: 200px;">
            <nb-card-header>
              Módulos
            </nb-card-header>
            <nb-list>
              <nb-list-item *ngIf="modules.length==0">Sin Módulos</nb-list-item>
              <nb-list-item *ngFor="let item of modules">
                <nb-checkbox status="basic" [checked]="item.checked" (checkedChange)="toggle($event, item)">
                  {{item.name}}
                </nb-checkbox>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <nb-card style="margin-top: 20px; height: 200px;">
            <nb-card-header>
              Temas
            </nb-card-header>
            <nb-list>
              <nb-list-item *ngIf="themes.length==0">Sin Temas</nb-list-item>
              <nb-list-item *ngFor="let item of themes">
                <nb-checkbox status="basic" [checked]="item.checked" (checkedChange)="toggle2($event, item)">
                  {{item.name}}
                </nb-checkbox>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </div>
        <div class="col-md-12">
          <nb-card style="margin-top: 20px; height: 200px;">
            <nb-card-header>
              Competencias
            </nb-card-header>
            <nb-list>
              <nb-list-item *ngIf="themes.length==0">Sin Competencias</nb-list-item>
              <nb-list-item *ngFor="let item of competition">
                <nb-checkbox status="basic" [checked]="item.checked" (checkedChange)="toggle3($event, item)">
                  {{item.name}}
                </nb-checkbox>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>