<form [formGroup]="form" >
  <div>
    <fieldset class="field_set center" *ngIf="is_pad">
      <ngx-ch-nursing-note [record_id]="record_id" [type_record]="type_record"></ngx-ch-nursing-note>
    </fieldset>

    <div class="container"  *ngIf="is_pad">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>

    <fieldset class="field_set center">
      <ngx-ch-position [record_id]="record_id" [type_record]="type_record"></ngx-ch-position>
    </fieldset>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>

    <fieldset  class="field_set center">
      <ngx-ch-hair-valoration [record_id]="record_id" [type_record]="type_record"></ngx-ch-hair-valoration>
    </fieldset>

    <div class="col-md-12">
      <label for="has_oxigen" class="form-text text-muted font-weight-bold">¿Tiene oxígeno?
      </label>
      <nb-toggle formControlName="has_oxigen" has_oxigen>
      </nb-toggle>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>
    
    <fieldset *ngIf="this.form.controls.has_oxigen.value" class="field_set center">
      <ngx-ch-oxigen [record_id]="record_id" [type_record]="type_record"></ngx-ch-oxigen>
    </fieldset>

    
    <div *ngIf="this.form.controls.has_oxigen.value" class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>

    <fieldset class="field_set center">
      <legend class="prue1">UNIDAD DEL PACIENTE</legend>
      <div class="row">
        <div class="col-md-6">
          <label for="patient_position_id" class="form-text text-muted font-weight-bold align">CAMBIO DE POSICIÓN:</label>
          <nb-select [selected]="this.data.patient_position_id" formControlName="patient_position_id"
            id="patient_position_id" fullWidth title="Seleccione..."
            status="{{ isSubmitted && form.controls.patient_position_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.patient_position_id }}" *ngFor="let item of patient_positions"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-6">
          <label for="patient_dry" class="form-text text-muted font-weight-bold align">BAÑO DEL PACIENTE:</label>
          <nb-select [selected]="this.data.patient_dry" formControlName="patient_dry"
            id="patient_dry" fullWidth title="Seleccione..."
            status="{{ isSubmitted && form.controls.patient_dry.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option value="EN CAMA">EN CAMA</nb-option>
            <nb-option value="EN DUCHA">EN DUCHA</nb-option>
          </nb-select>
        </div>
        <div class="col-md-6">
          <label for="unit_arrangement" class="form-text text-muted font-weight-bold align">ARREGLO DE UNIDAD:</label>
          <nb-select [selected]="this.data.unit_arrangement" formControlName="unit_arrangement"
            id="unit_arrangement" fullWidth title="Seleccione..."
            status="{{ isSubmitted && form.controls.unit_arrangement.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option value="CAMA ABIERTA">CAMA ABIERTA</nb-option>
            <nb-option value="CAMA CERRADA">CAMA CERRADA</nb-option>
            <nb-option value="CAMA OCUPADA">CAMA OCUPADA</nb-option>
          </nb-select>
        </div>
      </div>
    </fieldset>


    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="button" (click)="save()">GUARDAR</button>
      </div>
    </div>
  </div>
</form>