<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <p class="text-muted title-form">Recomendaciones</p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <nb-card accent="info" class="text-justify">
        <nb-card-body>
          Se recomienda a familiares y/o cuidadores asistir y participar en los encuentros del programa
          Cuidándote, donde buscamos entrenar al cuidador y empoderar en los cuidados de los usuarios de Health & Life
          IPS.
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="text-muted title-form">Educación</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <nb-card accent="info">
          <nb-card-header class="text-center">Derechos</nb-card-header>
          <nb-list-item class="text-justify">
            A Recibir atención médica de calidad, digna y humana.
          </nb-list-item>
          <nb-list-item class="text-justify">
            A la elaboración de una historia clínica íntegra, veraz y legible, igualmente que sea tratada de manera
            confidencial y secreta.
          </nb-list-item>
          <nb-list-item class="text-justify">
            A recibir información sobre el estado de salud, seguridad y el cuidado del paciente.
          </nb-list-item>
          <nb-list-item class="text-justify">
            A manifestar cualquier queja o sugerencia que tenga sobre la atención recibida, y que estas sean resueltas
            en el tiempo normativo.
          </nb-list-item>
          <nb-list-item class="text-justify">
            A recibir apoyo espiritual y emocional de acuerdo con sus convicciones.
          </nb-list-item>
          <nb-list-item class="text-justify">
            A obtener acompañamiento que mitigue el sufrimiento para un buen morir con dignidad.
          </nb-list-item>
          <nb-list-item class="text-justify">
            A establecer una comunicación completa y clara con su médico o personal de salud, que le permita disponer de
            información suficiente con respecto a su pronóstico y el propósito del procedimiento y/o tratamiento
            propuesto, así mismo el pronóstico y riesgo de dicho tratamiento.
          </nb-list-item>
        </nb-card>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <nb-card accent="info">
          <nb-card-header class="text-center">Deberes</nb-card-header>
          <nb-list-item class="text-justify">
            Mantener un trato cortés y respetuoso entre pacientes, familiares y personal de la IPS.
          </nb-list-item>
          <nb-list-item class="text-justify">
            Cumplir con las indicaciones dadas para asegurar la mejor atención del paciente.
          </nb-list-item>
          <nb-list-item class="text-justify">
            Cuidar, preservar y retornar los recursos (físicos, tecnológicos y biomédicos) que la institución pone a su
            servicio.
          </nb-list-item>
          <nb-list-item class="text-justify">
            Escuchar y cumplir las recomendaciones de los profesionales para el autocuidado de su salud.
          </nb-list-item>
          <nb-list-item class="text-justify">
            Presentar los documentos de identidad e información veraz durante la prestación del servicio.
          </nb-list-item>
          <nb-list-item class="text-justify">
            Asumir el pago de prestación de servicios por concepto de copago o cuota moderadora según la normativa
            vigente.
          </nb-list-item>
          <nb-list-item class="text-justify">
            Respetar las diferencias de edad, género, orientación sexual, pertenencia étnica, religión, condición de
            discapacidad, de familiares, usuarios o personal de la institución.
          </nb-list-item>
        </nb-card>
      </div>
    </div>
  </div>

</form>