<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>

    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" 
                    [settings]="settings"
                    entity="non_working_days"
                    customData="non_working_days"
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">
          <button nbButton status="danger" ngxCheckPerms="create" (click)="NewNonWorkingDays()">Crear</button>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>
