body {
    padding: 0;
    margin: 0;
}

html,
body,
.map {
    width: auto;
    height: 500px;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    text-align: justify;
    color: #aaa;
}
