<nb-card style="margin: 5px;max-width: 1400px;max-height: 1000px;overflow: auto;">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>

    <nb-tabset fullWidth (changeTab)="tablock($event)">

      <nb-tab tabTitle="SUMINISTROS">
        <div *ngIf="this.show == 1">

          <nb-stepper #stepper [linear]="false">
            <nb-step label="Medicamentos" style="padding: initial;">
              <ngx-assistance-stock [user]="this.user" [admissions_id]="this.admissions_id" [type]="1">
              </ngx-assistance-stock>
            </nb-step>

            <nb-step label="Insumos" style="padding: initial;">
              <ngx-assistance-stock [user]="this.user" [admissions_id]="this.admissions_id" [type]="2">
              </ngx-assistance-stock>
            </nb-step>

            <nb-step label="Activos fijos" style="padding: initial;">
              <ngx-fixed-return  [user]="this.user" [admissions_id]="this.admissions_id"></ngx-fixed-return>
            </nb-step>
          </nb-stepper>
        </div>
      </nb-tab>
      <!-- <nb-card style="margin: 30px; max-width: 1400px; max-height: 900px; overflow: auto;"> -->

      <nb-tab tabTitle="SOLICITUDES">
        <div *ngIf="this.show == 2">
          <nb-stepper #stepper [linear]="false">
            <nb-step label="Insumos" style="padding: initial;">
              <ngx-insume-request [user]="this.user" [admissions_id]="this.admissions_id"></ngx-insume-request>
            </nb-step>
            <nb-step label="Activos fijos" style="padding: initial;">
              <ngx-fixed-plan [user]="this.user" [admissions_id]="this.admissions_id"></ngx-fixed-plan>
            </nb-step>
          </nb-stepper>
        </div>
      </nb-tab>

    </nb-tabset>

  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button nbButton (click)="close()" type="button">Cancelar</button>
  </nb-card-footer>
</nb-card>