@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../@theme/styles/themes";

::ng-deep nb-auth nb-card-header {
  .back-link {
    display: none !important;
  }
  display: none;
  background-color: #54bcc1;
  height: 8.5rem;
  border-bottom: 10px solid #1d70b7 !important;
}

::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 0 !important;
}
::ng-deep nb-card{
  height: calc(100vh - 2 * 0rem) !important;
}
.image-left {
  position: fixed;
  top: 2.8rem;
  width: 220px;
  left: 4.8rem;
}

.image-rigth {
  position: fixed;
  top: 2.8rem;
  width: 320px;
  right: 4.8rem;
}

::ng-deep nb-auth nb-card {
  background-image: url("assets/images/fondo_pergamo.png");
  background-size: cover;
  background-position: "center";
  background-repeat: no-repeat;
}

small {
  margin-bottom: 10px;
  color: red;

  a {
    color: #c2302f;
  }
}

button {
  margin-top: 7px;
}

h5 {
  // font-weight: 500;
  color: #002775;
}

.space-bottom {
  margin-bottom: 20px;
  margin-top: 30px;
}

.img-login {
  width: 50%;
}

.div-img {
  padding: 10%;
}

.text-muted {
    font-size: 15px;
    margin: auto;
    background-color: #1d70b7;
    color: #ffff !important;
    padding: 0.6rem 1.5rem;
    font-weight: 700;
}

.login-container {
  padding: 25px;

  .forgot-text {
    margin-bottom: 5px;
  }
}
::ng-deep small a{
  color: #fff !important;
}
.color-title{
  color: #fff;
  font-weight: 700;
  margin-bottom: 2em;
}
.div-form-login{
  display: flex;
  margin-bottom: 1em;
}

.card-login {
  margin: 1%;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}

@include media-breakpoint-down(sm) {
  .image-left {
    position: fixed;
    top: 0.3rem;
    width: 300px;
    left: 0.8rem;
  }
}

::ng-deep nb-auth nb-auth-block {
  max-width: 50rem !important;
}

.span-title {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.input-login {
  border-radius: 0px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
.title-users{
    color: #000 !important;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
}
.file-select {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.file-select::before {
  background-color: #54bcc1;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'CARGA MASIVA'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 150px;
  margin-right: 5px;
  height: 40px;
  display: inline-block;
}

.file-select-evicencias {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.file-select-evicencias::before {
  background-color: #54bcc1;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border-radius: 3px;
  content: 'AGREGAR FOTO DE PERFIL'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select-evicencias input[type="file"] {
  opacity: 0;
  height: 40px;
  display: inline-block;
}

.file-select-evidencias2 {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.file-select-evidencias2::before {
  background-color: #54bcc1;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'AGREGAR FIRMA'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select-evidencias2 input[type="file"] {
  opacity: 0;
  height: 40px;
  display: inline-block;
}

.avatar-pic {
  width: 150px;
  }


  :host ::ng-deep .cdk-overlay-pane{
    overflow: auto !important;
  }

  .w-100{
    display: flex;
    align-items: center;
  }

  .btn-login{
    margin-top: 0px !important;
    border-radius: 0 !important;
    background-color: #f7f9fc !important;
  }