@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../@theme/styles/themes";

::ng-deep nb-auth nb-card-header {
  .back-link {
    display: none !important;
  }
  display: none;
  background-color: #54bcc1;
  height: 8.5rem;
  border-bottom: 10px solid #1d70b7 !important;
}

::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 0 !important;
}
::ng-deep nb-card{
  height: calc(100vh - 2 * 0rem) !important;
}
.image-left {
  position: fixed;
  top: 2.8rem;
  width: 220px;
  left: 4.8rem;
}

.image-rigth {
  position: fixed;
  top: 2.8rem;
  width: 320px;
  right: 4.8rem;
}

::ng-deep nb-auth nb-card {
  background-image: url("assets/images/fondo_pergamo.png");
  background-size: cover;
  background-position: "center";
  background-repeat: no-repeat;
}

small {
  margin-bottom: 10px;
  color: red;

  a {
    color: #c2302f;
  }
}

button {
  margin-top: 7px;
}

h5 {
  // font-weight: 500;
  color: #002775;
}

.space-bottom {
  margin-bottom: 20px;
  margin-top: 30px;
}

.img-login {
  width: 50%;
}

.div-img {
  padding: 10%;
}

.text-muted {
    font-size: 15px;
    margin: auto;
    background-color: #1d70b7;
    color: #ffff !important;
    padding: 0.6rem 1.5rem;
    font-weight: 700;
}

.login-container {
  padding: 25px;

  .forgot-text {
    margin-bottom: 5px;
  }
}
::ng-deep small a{
  color: #fff !important;
}
.color-title{
  color: #fff;
  font-weight: 700;
  margin-bottom: 2em;
}
.div-form-login{
  display: flex;
  margin-bottom: 1em;
}

.card-login {
  margin: 1%;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}

@include media-breakpoint-down(sm) {
  .image-left {
    position: fixed;
    top: 0.3rem;
    width: 300px;
    left: 0.8rem;
  }
}

::ng-deep nb-auth nb-auth-block {
  max-width: 50rem !important;
}

.span-title {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.input-login {
  border-radius: 0px !important;
}
