<div class="row text-center">
  <div class="col">
    <img src="assets/images/logop.png" alt="healthandlife" width="90%" style="margin-bottom: 2em;" />
  </div>
</div>
<div class="center-items">
  <div class="login-container" style="width: 60%;margin: auto;">
    <!-- <img src="assets/images/LogoEJRLB-FondoOscuro@2x.png" alt="Enseñame" class="image-rigth d-none d-md-block" /> -->
    <div class="row">
      <!-- <div class="col-12 space-bottom div-img">
        <img src="assets/images/teachme.png" alt="Enseñame" class="img-fluid img-login">
      </div> -->
      <div class="col-12 text-center" style="margin-bottom: 2em;">
        <span *ngIf="!resetPasswordForm" class="color-title">Si ya tiene una cuenta, por favor <br>introduzca sus
          datos:</span>
      </div>
      <div class="col-12">
        <form [formGroup]="loginForm" *ngIf="!resetPasswordForm">
          <div class="div-form-login">
            <small class="col-md-4 form-text text-muted">USUARIO</small>
            <input class="input-login input-login-style" type="username" nbInput fullWidth
              status="{{ isSubmitted && loginForm.controls.username.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
              formControlName="username" required username minlength="5" autocomplete="on">
          </div>
          <div *ngIf="loginForm.controls.username.errors && isSubmitted ">
            <small *ngIf="loginForm.controls.username.errors.required">Ingrese su correo</small>
          </div>
          <div class="div-form-login">
            <small class="col-md-4 form-text text-muted">CONTRASEÑA</small>
            <!-- <input (change)="login()" class="input-login input-login-style" type="password" nbInput fullWidth
              status="{{ isSubmitted && loginForm.controls.password.errors ? 'danger' :  isSubmitted ? 'success' : '' }}"
              status="danger" formControlName="password" required minlength="5" autocomplete="on"> -->

              <div class="input-group">
                <nb-form-field class="w-100">
                  <input (change)="login()" class="input-login input-login-style password" [type]="getInputTypePassword()" nbInput fullWidth id="password"
                    formControlName="password" password
                    status="{{ isSubmitted && loginForm.controls.password.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
  
                  <button nbSuffix nbButton ghost (click)="toggleShowPassword()" type="button" class="btn-login">
                    <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                      [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>
              </div>
          </div>
        
          
          <div *ngIf="loginForm.controls.password.errors && isSubmitted ">
            <small *ngIf="loginForm.controls.password.errors.required">Ingrese la contraseña</small>
          </div>
          <div class="actions" style="display:flex;margin-top:2em;margin-bottom: 2em;justify-content: center;">
            <select (change)="ChangeCampus($event.target.value)" placeholder="Seleccione una sede"
              [(selected)]="campus">
              <option value="0">Seleccione una sede</option>
              <option *ngFor="let item of campus" [value]="item.campus.id">{{item.campus.name}}</option>
            </select>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <small>
                <a (click)="resetPasswordForm = true" routerLink="/auth">¿Olvidaste la contraseña?</a>
              </small>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <small>
                <a routerLink="/public/find-username">¿Olvidaste tu correo?</a>
              </small>
            </div>
          </div>
          <!-- <div class="row text-center">
            <div class="col-12">
              <small>
                <a (click)="open()" style="cursor: pointer;">Buscar Empresa (Interno)</a>
              </small>
            </div>
          </div> -->
          <div class="center-items-column text-center">
            <button (click)="chargeCampus()" class="input-login btn-login-w" type="submit" nbButton status="primary"
              style="width: auto;">Iniciar
              Sesión</button>
            <a class="input-login btn-login-w" routerLink="/public/company" nbButton status="info"
              style="margin-top: 10px;width: auto;display: none !important;">O Registrate aquí</a>
          </div>
          <!-- <div class="row text-center" *ngIf="register">
            <div class="col-12">
              <small class="form-text text-muted">
                <a [routerLink]="'/public/register/' + route.snapshot.queryParams.register"
                  [queryParams]="route.snapshot.queryParams">¿Aun no te has registrado?, Registrate aqui.</a>
              </small>
            </div>
          </div> -->
          <!-- <div *ngIf="!environmentInt" class="row text-center">
            <div class="col-12">
              <small class="form-text text-muted">
                <a>{{app_version}}</a>
              </small>
            </div>
          </div> -->
        </form>
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" *ngIf="resetPasswordForm">
          <small class="form-text text-muted">Dirección de correo electrónico:</small>
          <input class="input-login" type="username" nbInput fullWidth
            status="{{ isSubmitted2 && resetForm.controls.username.errors ? 'danger' : isSubmitted2 ? 'success' : '' }}"
            placeholder="Correo" formControlName="username" required username minlength="5" autocomplete="on">
          <div *ngIf="resetForm.controls.username.errors && isSubmitted2 ">
            <small *ngIf="resetForm.controls.username.errors.required">Ingrese su correo</small>
            <small *ngIf="resetForm.controls.username.errors.username">Revise su correo</small>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <small class="form-text text-muted">
                <a (click)="resetPasswordForm = false" routerLink="/auth">Volver</a>
              </small>
            </div>
          </div>
          <button type="submit" nbButton fullWidth status="primary">Restablecer</button>
        </form>
      </div>
      <div class="col-12">
        <h4 *ngIf="resetPasswordForm">Restablecer Contraseña</h4>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col card-login">
        <span *ngIf="!resetPasswordForm">Si ya tiene una cuenta, por favor introduzca sus datos:</span>
        
      </div> -->
    <!-- <div class="col card-login">
        <div class="span-title">
          <span>Si aún no tiene una cuenta, por favor seleccione una de las siguientes opciones:</span>
        </div>
        <div class="row">
          <div class="col-6" style="padding: 4px;">
            <a routerLink="../public/inscriptions/students" class="input-login" size="small" nbButton fullWidth
              status="danger">REGISTRARSE COMO<br>ESTUDIANTE</a>
          </div>
          <div class="col-6" style="padding: 4px;">
            <a routerLink="/public/register/teachers" class="input-login" size="small" nbButton fullWidth
              status="danger">REGISTRARSE COMO<br>FORMADOR</a>
          </div>
        </div> -->
    <!-- <div class="d-flex justify-content-end w-100">
          Inscribirme en:
          <a class="ml-1" routerLink="../public/inscriptions/students">Cursos Actuales</a>
          |
          <a class="" routerLink="/public/register/teachers">Red de formadores</a>
        </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <div class="row" *ngIf="messageError">
      <div class="col-12">
        <nb-alert status="danger" class="container-fluid">
          <strong>Oh Dios!</strong> {{messageError}}
        </nb-alert>
      </div>
    </div>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef" style="margin:5%">
  <nb-card style="margin:5%; background-image: none;width: 100%;">
    <nb-card-header>Buscar empresa</nb-card-header>
    <nb-card-body>
      <small class="form-text text-muted">Ingrese el NIT (sin guiones ni puntos):</small>
      <input class="input-login" type="number" nbInput fullWidth placeholder="NIT" id="NIT" name="NIT" #NIT required>
    </nb-card-body>
    <nb-card-footer>
      <div class="row text-center">
        <div class="col">
          <button class="card-header-btn" nbButton status="info" (click)="ref.close()">Cancelar</button>
        </div>
        <div class="col">
          <button class="card-header-btn" nbButton status="primary" (click)="searchCompany(NIT.value)">Aceptar</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>