<ngx-base-list
  [messageError]="messageError"
  >
  <div content>

    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="session/allByGroup/{{group_id}}"
                    customData="sessions">
      <div actions>
        <div class="actions">
          <!-- <button nbButton status="danger" (click)="NewSubarea()">Crear</button> -->
          <button nbButton type="button"><a routerLink="../../mycourses">Volver</a> </button>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>
