<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table 
                    (propagar)="GetDataSelect($event)"
                    [title]="title"
                    [subtitle]="subtitle"
                    [settings]="settings"
                    entity="manual_price"
                    customData="manual_price">
      <div actions>
        <div class="actions">
          <a nbButton routerLink="/pages/contract/briefcase">Volver</a>
          <nb-select style="margin-left: 5px;" (selectedChange)="ChangeManual($event)" placeholder="Filtrar por Manual" [(selected)]="manual">
            <nb-option value="0">Todos los registros</nb-option>
            <nb-option *ngFor="let item of manual" [value]="item.id">{{item.name}}</nb-option>
        </nb-select>
        </div>
      </div>
    </ngx-base-table>
    <button nbButton status="danger" class="btn-studen-admissions" (click)="ConfirmAction(confirmAction)"> Guardar </button>
  </div>
</ngx-base-list>
<ng-template #confirmAction>
  <div class="container-fluid">
      <nb-card>
          <nb-card-header>Catalogo de servicios</nb-card-header>
          <nb-card-body>
                      <form  [formGroup]="InscriptionForm" (ngSubmit)="saveGroup()">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="factor" class="form-text text-muted font-weight-bold">Factor:</label>
                            <input nbInput fullWidth id="factor" formControlName="factor" factor
                              status="{{ isSubmitted && form.controls.factor.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
                          </div>
                        </div>
                              <div class="div-send">
                                  <button type="submit" nbButton status="success">Agregar</button>
                              </div>
                      </form>
          </nb-card-body>
      </nb-card>
  </div>
</ng-template>
