<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_scale_pediatric_nutrition" 
    [settings]="settings" entity="ch_scale_pediatric_nutrition?ch_record_id={{ch_record_id}}&latest=true">
    <div actions>
      <div class=" actions">
      <button nbButton status="danger" (click)="Historic()">Historico</button>
    </div>
  </div>
</ngx-base-table>
</div>
</ngx-base-list>