<ngx-base-list [messageError]="messageError">
  <div content>
    <nb-tabset fullWidth (changeTab)="reloadForm($event)">
      <nb-tab tabTitle="MEDICAMENTOS EN STOCK">
        <div *ngIf="this.showdiv == 1">
          <div *ngIf="entity">
            <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity"
              customData='pharmacy_lot_stock' [messageToltip]="messageToltip">
              <div actions>
                <div class="actions">
                  <button nbButton status="danger" class="mr-3 btn-save" (click)="Inventory()">Imprimir Inventario</button>
                  <nb-select (selectedChange)="ChangePharmacy($event)" placeholder="Filtrar por Farmacia"
                    [(selected)]="pharmacy">
                    <nb-option value="0">Seleccione una farmacia</nb-option>
                    <nb-option *ngFor="let item of pharmacy_stock" [value]="item.pharmacy_stock_id">{{item.pharmacy.name}}</nb-option>
                  </nb-select>
                </div>
              </div>
            </ngx-base-table>
          </div>
        </div>
      </nb-tab>

      <nb-tab tabTitle="ACEPTAR MEDICAMENTOS">
        <div *ngIf="this.showdiv == 2">
          <ngx-pharmacy-income [parentData]="true"></ngx-pharmacy-income>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>