<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle"
                    [settings]="settings"
                    entity="inscriptionsByCourse"
                    customData="users"
                    [queryParams]="GetParams()">
      <div actions>
        <div class="actions">
          <a nbButton routerLink="/pages/admissions/students">Volver</a>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
