@import "../../../@theme/styles/themes";

@include nb-install-component() {
    nb-accordion-item-body {
        background-color: aliceblue;
    }
    small {
        position: absolute;
        margin-top: 40px;
    }
}
