<ngx-form-skin-valoration (messageEvent)="receiveMessage($event)" [record_id]="record_id" [type_record_id]="type_record_id">
</ngx-form-skin-valoration>
<label class="form-text text-muted font-weight-bold align"> </label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" [title]="title" customData="ch_skin_valoration" [settings]="settings"
      entity="ch_skin_valoration/by_record/{{record_id}}/{{type_record_id}}">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>