<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>

    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="payment_terms/?pagination=true"
                    customData='payment_terms'
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">
          <button nbButton status="danger" ngxCheckPerms="create" (click)="NewPaymentTerms()">Crear</button>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>
