<ngx-form-ass-therapy-respiratory (messageEvent)="receiveMessage($event)" [record_id]="record_id">
</ngx-form-ass-therapy-respiratory>
<div class="center">
  <label class="form-text text-muted font-weight-bold align center">Registros Signos de Dificultad Respiratoria</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_ass_signs"
        [settings]="settings" entity="ch_ass_signs/by_record/{{record_id}}/1">
      </ngx-base-table>
    </div>
  </ngx-base-list>
</div> 