<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError" [routeBack]="routeBack"
  [actionSave]="Save.bind(this)" [showActionsHeaders]="false">
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="Save()">
<!--
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="area_id" class="form-text text-muted font-weight-bold" fullWidth>Área:</label>
            <nb-select [selected]="this.data.area_id" formControlName="area_id" id="area_id" fullWidth
              status="{{ isSubmitted && form.controls.area_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ data ? (item.id == data.area_id) : false }}" *ngFor="let item of areas"
                [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="subarea_id" class="form-text text-muted font-weight-bold">Subárea:</label>
            <nb-select [selected]="this.data.subarea_id" formControlName="subarea_id" id="subarea_id" fullWidth
              status="{{ isSubmitted && form.controls.subarea_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ data ? (item.id == data.subarea_id) : false }}" *ngFor="let item of subareas"
                [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      -->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="category_parent_id" class="form-text text-muted font-weight-bold" fullWidth>Programa
              superior:</label>
            <nb-select [selected]="this.data.category_parent_id" formControlName="category_parent_id"
              id="category_parent_id" fullWidth
              status="{{ isSubmitted && form.controls.category_parent_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ data ? (item.id == data.category_parent_id) : false }}"
                *ngFor="let item of categories" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name" class="form-text text-muted font-weight-bold">Nombre:</label>
            <input nbInput fullWidth type="text" formControlName="name" id="name" 
            status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="description" class="form-text text-muted font-weight-bold">Descripción:</label>
            <textarea rows="4" nbInput fullWidth type="text" formControlName="description" id="description"
            status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-group">
              <label for="url_image" class="form-text text-muted font-weight-bold">
                Imagen del Portal:
              </label>
              <!-- <ng-container *ngIf="form.controls.url_image.errors && form.controls.url_image.touched">
                <p class="caption status-danger" *ngIf="form.controls.url_image.errors?.required">
                  La imagen de encabezado es requerida
                </p>
              </ng-container> -->
              <div *ngIf="previewImage" class="container py-2">
                <img class="img-fluid" [src]="previewImage" alt="">
              </div>
              <button nbButton type="button" status="danger" (click)="uploadImage('url_img')">Subir imagen
              </button>
              <input style="display: none" accept="image/*" type="file" id="url_img" nbInput fullWidth
                (change)="changeImage($event.target.files,1)" />
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <div class="form-group">
              <label for="url_img_ext" class="form-text text-muted font-weight-bold">
                Imagen del Portal Externa:
              </label>
              <div *ngIf="previewImage2" class="container py-2">
                <img class="img-fluid" [src]="previewImage2" alt="">
              </div>
              <button nbButton type="button" status="danger" (click)="uploadImage('url_img_ext')">Subir imagen
              </button>
              <input style="display: none" accept="image/*" type="file" id="url_img_ext" nbInput fullWidth
                (change)="changeImage($event.target.files, 2)" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div actions *ngIf="data.id" class="w-100">
    <div class="d-flex justify-content-end">
      <button nbButton status="info" class="ml-1" type="button" (click)="ShowModules()">Módulos</button>
      <button nbButton status="info" class="ml-1" type="button" (click)="ShowCourses()">Cursos</button>
      <button nbButton status="info" class="ml-1" type="button" (click)="ShowSubProgram()">Subprogramas</button>
      <button nbButton status="info" class="ml-1" type="button" (click)="ShowApproval()">Aprobación</button>
    </div>
  </div>

  <div end>
    <ngx-module *ngIf="data.id && showmodules" [category_id]="data.id"></ngx-module>
    <ngx-course *ngIf="data.id && showcursos" [category_id]="data.id"></ngx-course>
    <ngx-subcategory *ngIf="data.id && showsubprogram" [category_id]="data.id"></ngx-subcategory>
    <ngx-category-approval *ngIf="data.id && showapproval" [category_id]="data.id"></ngx-category-approval>
  </div>
</ngx-base-form>