@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

@import '../../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}
/* You can add global styles to this file, and also import other style files */
@import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-angular-filemanager/styles/material.css";


.scroll {
  nb-dialog-container {
    overflow: auto !important;
  }
}
.nb-theme-corporate nb-layout .scrollable-container::-webkit-scrollbar-thumb {
  background: #54bcc1;
  cursor: pointer;
  border-radius: 0.15625rem;
}

.nb-theme-corporate nb-layout .scrollable-container::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.4rem;
}

.nb-theme-corporate nb-sidebar .scrollable::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.nb-theme-corporate nb-sidebar .scrollable::-webkit-scrollbar-thumb {
  background: #54bcc1;
  cursor: pointer;
  border-radius: 0.15625rem;
}

.nb-theme-corporate nb-sidebar .scrollable::-webkit-scrollbar-track {
  background: #e4e9f2;
}

.nb-theme-corporate nb-card-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.nb-theme-corporate nb-card-body::-webkit-scrollbar-thumb {
  background: #54bcc1;
  cursor: pointer;
  border-radius: 0.15625rem;
}

.nb-theme-corporate nb-card-body::-webkit-scrollbar-track {
  background: #e4e9f2;
}
