<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <label for="company_id" class="form-text text-muted font-weight-bold">Empresas:</label>
          <nb-select [selected]="this.data.company_id" formControlName="company_id" id="company_id" fullWidth
            status="{{ isSubmitted && form.controls.company_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.company_id }}" *ngFor="let item of company" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="document_id" class="form-text text-muted font-weight-bold">Documentos:</label>
          <nb-select [selected]="this.data.document_id" formControlName="document_id" id="document_id" fullWidth
            status="{{ isSubmitted && form.controls.document_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.document_id }}" *ngFor="let item of document" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-group">
              <label for="file" class="form-text text-muted font-weight-bold">
                Subir documentos:
              </label>
              <div *ngIf="previewFile" class="container py-2">
                <a [href]="previewFile" target="_blank">Ver documentos</a>
              </div>
              <input accept="application/pdf" type="file" id="file" nbInput fullWidth
                (change)="changeImage($event.target.files, 1)" />
            </div>
          </div>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>