<ngx-base-list
  [messageError]="messageError"
>
  <div content>
    <ngx-base-table [title]="title"
                    [settings]="settings"
                    entity="answer"
                    customData='answers'
                    [queryParams]="{
                      answer_type_id: answer_type_id
                    }"
    >
      <div actions>
        <div class="actions">
          <button nbButton status="danger" (click)="NewAnswer()">Crear</button>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
