<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">

    <fieldset class="field_set">
      <legend class="prue1 center">COGNITIVO</legend>
      <div class="row justify-content-md">
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Memoria</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="memory" nbSelect (disabled)="this.has_input" memory id="memory" name="memory"
            status="{{ isSubmitted && form.controls.memory.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Atención</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="attention" nbSelect (disabled)="this.has_input" attention id="attention" name="attention"
            status="{{ isSubmitted && form.controls.attention.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-2">
          <label class="form-text text-muted font-weight-bold">Concentración</label>
        </div>
        <div class="col col-lg-2">
          <nb-radio-group formControlName="concentration" nbSelect (disabled)="this.has_input" concentration id="concentration" name="concentration"
            status="{{ isSubmitted && form.controls.concentration.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio value="Si">Si</nb-radio>
            <nb-radio value="No">No</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col col-lg-12">
          <hr />
        </div>


        <div class="col col-lg-12">
          <label class="form-text text-muted font-weight-bold center">Observaciones:</label>

          <textarea class="form-text col col-lg-12 detail" id="observations" nbInput (disabled)="this.has_input" fullWidth
            formControlName="observations" analisys onpaste="return false" rows="3" cols="70"
            status="{{ isSubmitted && form.controls.observations.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
        </div>

      </div>
    </fieldset>
    <div class="container" *ngIf="!has_input">
      <div class="row">
        <div class="col-md-12">
          <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
        </div>
      </div>
    </div>

  </div>

</form>