<ngx-base-form [messageError]="messageError"
               [actionSave]="Save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <form class="container" [formGroup]="form" (ngSubmit)="Save()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="form-text text-muted font-weight-bold">
              Concepto:
            </label>
            <ngx-autocomplete-remote
              url="conceptAutocomplete"
              returnData="concepts"
              formControlName="concept_id"
              [params]="paramsConceptAutocomplete.bind(this)"
              [initValue]="initConcept.bind(this)"
              status="{{ isSubmitted && form.controls.concept_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
            >
            </ngx-autocomplete-remote>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="planned_unit_value" class="form-text text-muted font-weight-bold">
              Valor:
            </label>

            <input id="planned_unit_value" type="number"
                   nbInput formControlName="planned_unit_value"
                   fullWidth
                   status="{{ isSubmitted && form.controls.planned_unit_value.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <small class="pr-2 form-text text-muted">{{ form.controls.planned_unit_value.value | currency }}</small>
          </div>
        </div>


      </div>
    </form>
  </div>
</ngx-base-form>
