<ngx-form-physical-exam (messageEvent)="receiveMessage($event)"  [record_id]="record_id">
</ngx-form-physical-exam>
<label for="ch_external_cause" class="form-text text-muted font-weight-bold align">REVISIÓN ESTADO FÍSICO</label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" [title]="title" customData="ch_physical_exam" [settings]="settings"
      entity="ch_physical_exam/by_record/{{record_id}}/1/?pagination=false">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>