
<div class="row justify-content-center col col-lg-12">

  <div class="col col-lg-12">

  </div>


  <div class="col col-lg-12">

    <label class="form-text text-muted text-center font-weight-bold">REGISTROS OBJETIVOS TERAPEUTICOS INGRESO</label>
    <ngx-base-list [messageError]="messageError" [routes]="routes">
      <div content>
        <ngx-base-table pager="false" [title]="title" customData="ch_e_ther_goals_f_t" [settings]="settings"
          entity="ch_e_ther_goals_f_t/by_record/{{record_id}}/1">
          <div actions>
            <div class="actions">
            </div>
            <div class="actions" style="margin-top:1em;">
            </div>
          </div>
        </ngx-base-table>
      </div>
    </ngx-base-list>

  </div>



</div>


