<div class="row">
    <div class="col-12">
        <nb-card class="nb-card-title">
            <div class="icon-container">
                <div class="icon status-warning">
                    <i class="nb-tables"></i>
                </div>
            </div>
            <div class="details">
                <div class="title h5">Repositorio</div>
                <div class="status paragraph-2">Repositorio de archivos</div>
            </div>
        </nb-card>
    </div>
</div>
<ejs-filemanager id='default-filemanager' [ajaxSettings]='ajaxSettings' [allowDragAndDrop]='true'>
</ejs-filemanager>