<ngx-base-list [messageError]="messageError">
  <div content>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="row text-center">
          <div class="col-12">
            <h3>Restablecer Contraseña</h3>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="ResetPassword()">
          <div class="form-group">
            <label for="email" class="form-text text-muted">Dirección de correo electrónico:</label>
            <input type="email" id="email" nbInput fullWidth fieldSize="giant"
                   status="{{ isSubmitted && form.controls.email.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
                   formControlName="email" required email minlength="5" autocomplete="off">
            <div *ngIf="form.controls.email.errors && isSubmitted ">
              <small *ngIf="form.controls.email.errors.required">Ingrese su correo</small>
              <small *ngIf="form.controls.email.errors.email">Revise su correo</small>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="form-text text-muted">Contraseña:</label>
            <input type="password" id="password" nbInput fullWidth fieldSize="giant"
                   status="{{ isSubmitted && form.controls.password.errors ? 'danger' :  isSubmitted ? 'success' : '' }}"
                   formControlName="password" required minlength="5" autocomplete="off">
            <div *ngIf="form.controls.password.errors && isSubmitted ">
              <small *ngIf="form.controls.password.errors.required">Ingrese la contraseña</small>
              <small *ngIf="form.controls.password.errors.minlength">Revise su contraseña</small>
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirmation" class="form-text text-muted">Confirmar contraseña:</label>
            <input type="password" id="password_confirmation" nbInput fullWidth fieldSize="giant"
                   status="{{ isSubmitted && form.controls.password_confirmation.errors ? 'danger' :  isSubmitted ? 'success' : '' }}"
                   formControlName="password_confirmation" required minlength="5" autocomplete="off">
            <div *ngIf="form.controls.password_confirmation.errors && isSubmitted ">
              <small *ngIf="form.controls.password_confirmation.errors.required">Ingrese la contraseña</small>
              <small *ngIf="form.controls.password_confirmation.errors.minlength">Revise su contraseña</small>
            </div>
          </div>
          <button type="submit" nbButton fullWidth status="danger">Cambiar contraseña</button>
        </form>
      </div>
    </div>

  </div>
</ngx-base-list>
