<nb-accordion multi>
    <nb-accordion-item #item *ngFor="let category of categories">
        <nb-accordion-item-header>
            <div class="target">
                <a routerLink="../courses/{{category.id}}">{{category.name}}</a>
                <br>
                {{category.description}}
            </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div *ngIf="category.subcategories.length>0">
                <ngx-dynamic-category [categories]="category.subcategories"></ngx-dynamic-category>
            </div>
            <div *ngIf="category.subcategories.length==0">
                <h5>Sin subcategorías</h5>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>