.div-send {
  padding-top: 30px;
}

.btn-studen-admissions {
  margin-top: 30px;
  float: right;
}

.actions {
  display: flex;
}

:host ::ng-deep .ng2-smart-action-multiple-select {
  text-align: center;
}


:host ::ng-deep .ng2-smart-action-multiple-select>input {
  width: 1.25rem;
  height: 1.25rem;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  border-radius: 0.17rem;
  position: relative;
  transition-duration: 0.15s;
  transition-property: background-color, border, box-shadow;
  background-color: rgba(143, 155, 179, 0.08);
  border-color: #8f9bb3;
  transition-timing-function: ease-in;
}

:host ::ng-deep .ng-star-inserted>input {
  width: 1.25rem;
  height: 1.25rem;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  border-radius: 0.17rem;
  position: relative;
  transition-duration: 0.15s;
  transition-property: background-color, border, box-shadow;
  background-color: rgba(143, 155, 179, 0.08);
  border-color: #8f9bb3;
  transition-timing-function: ease-in;
}

:host ::ng-deep .ng-star-inserted> {
  padding-right: 0rem !important;
}

:host ::ng-deep .ng2-smart-action-multiple-select>input.checked {
  background-color: #002775;
  border-color: #002775;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.title-users {
  color: #000 !important;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}