<nb-card class="text-center" [nbSpinner]="loading" *ngIf="loading">
  <nb-card-body class="d-flex justify-content-center align-items-center">Cargando información</nb-card-body>
</nb-card>

<div *ngIf="!loading">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Nombre de la actividad:
        </label>
        <p>{{ data?.name }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Plan de estudio:
        </label>
        <p>{{ data?.origin?.name }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Programa:
        </label>
        <p>{{ data?.program }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Sub programa:
        </label>
        <p>{{ data?.subprogram }}</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Ciudad:
        </label>
        <p>{{ data.municipality?.name }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Tipo de evento:
        </label>
        <p>{{ data.entity_type?.name }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Lugar:
        </label>
        <p>{{ data.place }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Estado:
        </label>
        <p>{{ data.approved_status?.name }}</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-2">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Fecha de inicio:
        </label>
        <p>{{ data.initial_date }}</p>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Fecha de finalización:
        </label>
        <p>{{ data.final_date }}</p>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Convocados:
        </label>
        <p>{{ data.summoned_participants }}</p>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Formadores:
        </label>
        <p>{{ data.number_trainers }}</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Coordinador:
        </label>
        <p>{{ data.user_coordinate.lastname }} {{ data.user_coordinate.middlelastname ? data.user_coordinate.middlelastname : '' }} {{ data.user_coordinate?.firstname }} {{ data.user_coordinate?.middlefirstname ? data.user_coordinate?.middlefirstname : '' }}</p>
      </div>
    </div>
  </div>

  <div class="row">

    <!--<div class="col-sm-3">
      <div class="form-group">
        <label class="form-text text-muted font-weight-bold">
          Monto del presupuesto disponible:
        </label>
        <p>El presupuesto disponible</p>
      </div>
    </div>-->
  </div>
</div>
