<ngx-base-list [messageError]="messageError">
  <div content>

    <nb-tabset *ngIf="this.my_pharmacy_id" fullWidth (changeTab)="reloadForm($event)">
      <nb-tab tabTitle="FARMACIA">
        <div *ngIf="this.showdiv == 1">
          <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
            entity="pharmacy_product_request/?pagination=true&status=SOLICITADO&request_pharmacy_stock_id={{this.my_pharmacy_id}}"
            customData='pharmacy_product_request' [messageToltip]="messageToltip">
          </ngx-base-table>
        </div>
      </nb-tab>
      <nb-tab tabTitle="PACIENTE">
        <div *ngIf="this.showdiv==2">
          <ngx-pharmacy-request-patient></ngx-pharmacy-request-patient>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>