<ngx-base-list [messageError]="messageError">
  <div content>

    <nb-tabset *ngIf="this.my_pharmacy_id" fullWidth (changeTab)="reloadForm($event)">
      <nb-tab tabTitle="FARMACIA">
        <div *ngIf="this.showdiv == 1">
          <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity"
            customData='pharmacy_product_request' [messageToltip]="messageToltip">
            <div actions>
              <div class="actions">
                <nb-select (selectedChange)="ChangePharmacy($event)" placeholder="Filtrar por Farmacia"
                  [(selected)]="pharmacy">
                  <nb-option value="0">Seleccione una farmacia</nb-option>
                  <nb-option *ngFor="let item of pharmacy_stock" [value]="item.pharmacy_stock_id">
                    {{item.pharmacy.name}}</nb-option>
                </nb-select>
              </div>
            </div>
          </ngx-base-table>
        </div>
      </nb-tab>
      <nb-tab tabTitle="DEVOLUCIONES">
        <div *ngIf="this.showdiv==2">
          <ngx-pharmacy-return></ngx-pharmacy-return>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>