<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div class="row">

      <div class="col-12 col-sm-12 col-md-6">
        <label class="form-text text-muted font-weight-bold">ACTIVO FIJO A SOLICITAR:</label>
        <input type="text" list="codes1" class="data-list" id="fixed_nom_product_id"
          (change)="saveCode1($event.target.value)" formControlName="fixed_nom_product_id" fixed_nom_product_id fullWidth
          nbInput
          status="{{ isSubmitted && form.controls.fixed_nom_product_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <datalist id="codes1">
          <option *ngFor="let item of fixed_nom_product_id" [value]="item.name">
            {{item.fixed_clasification.fixed_type.name}} - {{ item.name }}
          </option>
        </datalist>
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="procedure_id" class="form-text text-muted font-weight-bold">PROCEDIMIENTO:</label>
        <input fullWidth nbInput list="codes" (change)="saveCode($event.target.value)" id="procedure_id"
          formControlName="procedure_id" procedure_id type="text" required
          status="{{ isSubmitted && form.controls.procedure_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <datalist id="codes" *ngIf="procedure">
          <option *ngFor="let item of procedure" [value]="item.manual_price.name">{{ item.manual_price.own_code }} -
            {{item.manual_price.homologous_id}} </option>
        </datalist>
      </div>

    </div>
    <div class="div-send">
      <label></label>
      <button [disabled]="disabled" type="submit" nbButton status="success">SOLICITAR</button>
    </div>
  </div>
</form>