<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <form [formGroup]="form">

      <div class="actions">
        <div class="col-md-6">
          <label for="start_date" class="form-text text-muted font-weight-bold">Fecha de inicio:</label>
          <input type="date" nbInput fullWidth id="start_date" formControlName="start_date" start_date
            status="{{ isSubmitted && form.controls.start_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>
        <div class="col-md-6">
          <label for="finish_date" class="form-text text-muted font-weight-bold">Fecha de final:</label>
          <input type="date" nbInput fullWidth id="finish_date" formControlName="finish_date" finish_date
            status="{{ isSubmitted && form.controls.finish_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>
      </div>

    </form>

    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings" [entity]="entity"
      customData="medical_diary_days" [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <!-- <button nbButton status="danger" ngxCheckPerms="create" (click)="NewCopayParameters()">Crear</button> -->
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>