<ngx-form-supplies-therapy (messageEvent)="receiveMessage($event)" [record_id]="record_id" [type_record]="type_record">
</ngx-form-supplies-therapy>
<div class="center">
  <label class="form-text text-muted font-weight-bold align center">Registro de Pedidos de insumos</label>
  <ngx-base-list [messageError]="messageError" [routes]="routes">
    <div content>
      <ngx-base-table pager="false" class="table" [title]="title" [subtitle]="subtitle" customData="ch_supplies_therapy"
        [settings]="settings" entity="ch_supplies_therapy/by_record/{{record_id}}/{{this.type_record}}">
      </ngx-base-table>
    </div>
  </ngx-base-list>
</div>