<ngx-base-list [messageError]="messageError">


  <div content>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="INVENTARIO">
        <!-- <div *ngIf="entity"> -->
          <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
          entity="fixed_assets/?pagination=true" customData='fixed_assets'
          [messageToltip]="messageToltip">
          <div actions>
          </div>
        </ngx-base-table>
        <!-- </div> -->
      </nb-tab>

      <nb-tab tabTitle="INVENTARIO ACCESORIOS">
        <ngx-fixed-accessories></ngx-fixed-accessories>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>