<ngx-base-list [messageError]="messageError">
  <!-- //INVENTARIO DE ACTIVOS  -->
  <div content>
    <nb-tabset fullWidth>

      <nb-tab tabTitle="ASIGNADOS">
        <ngx-fixed-inventary-add></ngx-fixed-inventary-add>
      </nb-tab>

      <nb-tab tabTitle="DISPONIBLE">
        <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
          entity="fixed_assets/?pagination=true" customData='fixed_assets' [messageToltip]="messageToltip">
        </ngx-base-table>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>