<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode" (click)="goto($event)">

          <nb-step [stepControl]="nameForm" label="Nota regular">
            <ngx-sw-support-network [record_id]="record_id" [type_record_id]="type_record_id"></ngx-sw-support-network>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Intervención">
            <div class="row" *ngIf="this.show1">
              <div class="col-md-12">
                <ngx-ps-intervention [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ps-intervention>
              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Recomendaciones / Educación">
            <div class="row" *ngIf="this.show2">
              <div class="col-md-12">
                <ngx-ch-sw-education [record_id]="record_id" [type_record_id]="type_record_id"></ngx-ch-sw-education>
              </div>
            </div>
          </nb-step>


          <nb-step [hidden]="true">

            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>

          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>