<div class="row" *ngIf="messageError">
    <div class="col-12">
        <nb-alert status="danger" class="container-fluid">
            <strong>Oh Dios!</strong> {{messageError}}
        </nb-alert>
    </div>
</div>
<ngx-breadcrumb [routes]="routes"></ngx-breadcrumb>
<div class="row">
    <div class="col-12">
        <nb-card class="nb-card-title">
            <div class="icon-container">
                <div class="icon status-warning">
                    <i class="nb-list"></i>
                </div>
            </div>
            <div class="details" *ngIf="courseBS.courses[0]">
                <div class="title h5">Grupo {{group}}</div>
                <div class="status paragraph-2">Categoría: {{courseBS.courses[0].short_name}}</div>
                <div class="status paragraph-2" *ngIf="institutionBS.educationalInstitutions[0]">Centro:
                    {{institutionBS.educationalInstitutions[0].educational_institution.name}}
                </div>
                <div class="status paragraph-2" *ngIf="institutionBS.educationalInstitutions[0]">Depto:
                    {{institutionBS.educationalInstitutions[0].municipality.region.name}}</div>
                <div class="status paragraph-2" *ngIf="institutionBS.educationalInstitutions[0]">Municipio:
                    {{institutionBS.educationalInstitutions[0].municipality.name}}</div>
                <div class="status paragraph-2" *ngIf="institutionBS.educationalInstitutions[0]">Institución:
                    {{institutionBS.educationalInstitutions[0].name}}</div>
            </div>
        </nb-card>
    </div>
</div>
<nb-card class="nb-card-padding">
    <div class="row">
        <div class="col-6">
            <small>Módulo</small>
            <nb-select placeholder="Módulos" (selectedChange)="FilterModuleSession($event, 0)" fullWidth>
                <nb-option value="0">Todos</nb-option>
                <nb-option *ngFor="let module of modulesFilter" [value]="module.id">{{module.name}}
                </nb-option>
            </nb-select>
        </div>
        <div class="col-6">
            <small>Sesión</small>
            <nb-select placeholder="Sesiones" (selectedChange)="FilterModuleSession(modules[0].id, $event)" fullWidth>
                <nb-option value="0">Todas</nb-option>
                <nb-option *ngFor="let session of sessionsFilter" [value]="session.id">{{session.id}}
                </nb-option>
            </nb-select>
        </div>
    </div>
</nb-card>
<div class="table-responsive" *ngIf="courseBS.courses[0]">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="3">Aprendiz</th>
                <th *ngFor="let module of modules" [attr.colspan]="module.colspan" [nbTooltip]="module.name"
                    nbTooltipPlacement="top" nbTooltipStatus="warning" status="warning">{{module.name}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let session of sessions" [attr.colspan]="session.colspan" [nbTooltip]="session.name"
                    nbTooltipPlacement="top" nbTooltipStatus="warning" status="warning">
                    {{session.id}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let activity of activities" [nbTooltip]="activity.name" nbTooltipPlacement="top"
                    nbTooltipStatus="warning" status="warning">
                    {{activity.id}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of courseBS.userRoleCourseList">
                <td>{{user.user_role.user.firstname+' '+user.user_role.user.lastname}}</td>
                <td *ngFor="let activity of activities">
                    <div *ngFor="let del of user.user_role.user.deliveries">
                        <button nbButton size="tiny" *ngIf="activity.id==del.activity_id" status="warning"
                            (click)="openWindow(contentTemplate, del, user.user_role.user.firstname)">Ver</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #contentTemplate let-data>
    <div class="row" style="max-width: 30rem !important;">
        <div class="col-12">
            <nb-card size="tiny" accent="info">
                <nb-card-header>Entrega</nb-card-header>
                <nb-list>
                    <nb-list-item style="display: block; line-height: 0.25rem;">
                        <h6>Actividad</h6>
                        <p>{{data.delivery.activity.name}}</p>
                        <h6 *ngIf="data.delivery.created_at">Fecha</h6>
                        <p>{{_dateFormatPipe.transform(data.delivery.created_at)}}</p>
                        <h6 *ngIf="!data.delivery.file_name">Sin Archivo</h6>
                        <h6 *ngIf="data.delivery.file_name">Archivo</h6>
                        <a href="{{filePath+data.delivery.file_path}}" target="_blank">{{data.delivery.file_name}}</a>
                    </nb-list-item>
                </nb-list>
            </nb-card>
        </div>
        <div class="col-12">
            <nb-card size="tiny" accent="info">
                <nb-card-header>Calificaciones</nb-card-header>
                <nb-list>
                    <nb-list-item style="display: block; line-height: 0.25rem;" *ngIf="data.delivery.scores.length==0">
                        <h5>Sin Calificaciones</h5>
                    </nb-list-item>
                    <nb-list-item style="display: block; line-height: 0.25rem;"
                        *ngFor="let score of data.delivery.scores">
                        <h5 *ngIf="score.created_at">Calificación: {{score.score}}</h5>
                        <h6 *ngIf="score.created_at">Fecha</h6>
                        <p>{{_dateFormatPipe.transform(score.created_at)}}</p>
                        <h6 *ngIf="score.criterion_activity_goal.criterion">Criterio</h6>
                        <p>{{score.criterion_activity_goal.criterion.name}}</p>
                        <h6 *ngIf="score.criterion_activity_goal.goal">Meta</h6>
                        <p>{{score.criterion_activity_goal.goal.name}}</p>
                        <p>{{score.criterion_activity_goal.goal.description}}</p>
                    </nb-list-item>
                </nb-list>
            </nb-card>
        </div>
    </div>
</ng-template>