<form [formGroup]="form">
  <nb-card class="rounded_card">
    <nb-card-header>
      <div class="row">
        <div class="col-md-6" style="
        text-align: center;
        align-self: center;">{{ title }}</div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label fullWidth for="applicable" class="form-text text-muted font-weight-bold">Aplicaciones
              disponibles: {{text}}</label>
            <!-- <input type="text" nbInput id="applicable" formControlName="applicable" applicable readonly> -->
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body *ngIf="this.applicated > 0">

      <label class="form-text text-muted font-weight-bold align"></label>
      <div class="row">
        <div class="col-md-12">
          <div class="center">
            <fieldset class="field_set">
              <legend class="prue1">{{label}}</legend>
              <div class="row">
                <div class="col-md-6">
                  <label for="clock" class="form-text text-muted font-weight-bold align">HORA DE ADMINISTRACIÓN</label>
                  <input type="time" nbInput id="clock" formControlName="clock" clock fullWidth
                    status="{{ isSubmitted && form.controls.clock.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                </div>
                <div class="col-md-6">
                  <label for="quantity" class="form-text text-muted font-weight-bold align">CANTIDAD APLICADA</label>
                  <input type="text" pattern="[0-9]+" nbInput id="quantity" formControlName="quantity" quantity fullWidth
                    status="{{ isSubmitted && form.controls.quantity.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                </div>
                <div class="col-md-12">
                  <label class="form-text text-muted font-weight-bold">OBSERVACIONES</label>
                  <textarea id="observation" nbInput fullWidth formControlName="observation" observation rows="4"
                    cols="50"
                    status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
                </div>

              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </nb-card-body>


    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button *ngIf="this.applicated > 0" nbButton status="danger" class="ml-1 btn-save" type="button"
          (click)="save()">REGISTAR</button>
        <button nbButton status="basic" class="ml-1 btn-save" type="button"
          (click)="close()">CANCELAR</button>
      </div>
    </div>

  </nb-card>
</form>