input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn-save{
  margin-top: 8PX;

    float: RIGHT;
}

.ImpPeq
{
  outline: none; 
  border: 0;
  margin: 10px;
  height: 23px;
  width: 75px;
  border:1px solid #eaeaea; 
}