<ngx-base-list [messageError]="messageError">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="false">
          <nb-step label="Antropometría">
            <ngx-table-anthropometry (messageEvent)="receiveMessage($event)" [has_input]="has_input"  [data]="this.data"
              [record_id]="this.record_id" [type_record_id]="1"></ngx-table-anthropometry>
          </nb-step>

          <nb-step label="Gastrointestinales">
            <ngx-table-gastrointestinal [data]="this.data" [type_record_id]="1" [record_id]="this.record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input" >
            </ngx-table-gastrointestinal>
          </nb-step>

          <nb-step label="Anamnesis Alimentaria">
            <ngx-table-food-history [data]="this.data" [type_record_id]="1" [record_id]="this.record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input" ></ngx-table-food-history>
          </nb-step>

          <nb-step label="Cálculos de Nutrición Parenteral">
            <div >
              <ngx-table-parenteral-nutrition [data]="this.data"  [type_record_id]="1"
                [record_id]="this.record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input" ></ngx-table-parenteral-nutrition>
            </div>
            <div *ngIf="!this.weight">
              Debes diligenciar y guardar Antropometría para acceder a este campo
            </div>
          </nb-step>

          <nb-step label="Antecedentes">
            <ngx-back-list [record_id]="record_id" [user]="this.data" (messageEvent)="inputMessage($event)" ></ngx-back-list>
          </nb-step>

          <nb-step label="Análisis e Interpretación">
            <ngx-form-analysis-and-interpretation [data]="this.data" [type_record_id]="1" [record_id]="this.record_id" (messageEvent)="inputMessage($event)" >
            </ngx-form-analysis-and-interpretation>
          </nb-step>

          <nb-step label="Recomendaciones / Educación">
            <ngx-recommendations-evo [record_id]="record_id" [type_record]="1" (messageEvent)="inputMessage($event)" [has_input]="has_input" ></ngx-recommendations-evo>
          </nb-step>

        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>