<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="medium" style="max-width: 600px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <label for="municipality_id" class="form-text text-muted font-weight-bold">MUNICIPIO:</label>
          <input fullWidth nbInput list="codes" (change)="saveCode($event.target.value)" id="municipality_id"
            formControlName="municipality_id" municipality_id type="text" required
            status="{{ isSubmitted && form.controls.municipality_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          <datalist id="codes">
            <option *ngFor="let item of municipality" [value]="item.name">{{item.name}}</option>
          </datalist>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
          <label for="value" class="form-text text-muted font-weight-bold">VALOR:</label>
          <div class="row" style="align-items: center;">
            <div class="col-12 col-sm-12 col-md-6">
              <input type="number" nbInput fullWidth id="value" formControlName="value" value placeholder=""
                status="{{ isSubmitted && form.controls.value.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              * 1000
            </div>
          </div>
        </div>

      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>