<ngx-base-list
    [messageError]="messageError"
    [routes]="routes">
    <div content>

        <ngx-base-table [title]="title"
            [subtitle]="subtitle" [settings]="settings"
            entity="origin/?pagination=true"
            customData='origins'
            [messageToltip]="messageToltip"
        >
            <div actions>
                <div class="actions">
                    <a nbButton status="danger" routerLink="/pages/educationalconfiguration/origin/create">Crear</a>
                </div>
            </div>
        </ngx-base-table>

    </div>
</ngx-base-list>
<ng-container>
    <div #myDiv ng-hiden="formVisibility">

    </div>
</ng-container>
