<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label class="form-text text-muted font-weight-bold align"></label>

    <fieldset class="field_set">
      <legend class="prue1  center ">RECOMENDACIONES</legend>

      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <nb-radio-group formControlName="patient_family_education" patient_family_education
              id="patient_family_education" class="d-flex text center" name="patient_family_education"
              status="{{ isSubmitted && form.controls.patient_family_education.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-radio value="Si">Educación al paciente/familiar</nb-radio>
            </nb-radio-group>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-8 center">
            <label for=" recommendations_evo_id " class="form-text text-muted font-weight-bold">Recomendación:</label>
            <nb-select [selected]="this.data.recommendations_evo_id" formControlName="recommendations_evo_id"
              id="recommendations_evo_id" (selectedChange)="onDescriptionChange($event)"
              status="{{ isSubmitted && form.controls.recommendations_evo_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.recommendations_evo_id }}"
                *ngFor="let item of recommendations_evo_id" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mt-3" style="align-items: center;">

        <div class="col-md-10">
          <label for="description" class="form-text text-muted font-weight-bold center">Descripción</label>
          <textarea id="description" nbInput fullWidth formControlName="description" description onpaste="return false"
            rows="4" cols="50"
            status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>

      </div>
    </fieldset>

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="button"
          (click)="save()">GUARDAR</button>
      </div>
    </div>
  </div>

</form>