<form [formGroup]="form">
  <div>

    <label class="form-text text-muted font-weight-bold align"></label>
    <div class="row">

      <div class="col-md-12">

        <div class="center">

          <fieldset class="field_set">

            <legend class="prue1">PLAN DE CUIDADOS DE ENFERMERIA</legend>

            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-lg-12">
                  <hr />
                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">

              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check1.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check1" check1 id="check1" (change)="saveCode($event,1)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[0].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check2.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check2" check2 id="check2" (change)="saveCode($event,2)" 
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[1].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check3.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check3" check3 id="check3" (change)="saveCode($event,3)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[2].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check4.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check4" check4 id="check4" (change)="saveCode($event,4)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[3].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check5.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check5" check5 id="check5" (change)="saveCode($event,5)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[4].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check6.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check6" check6 id="check6" (change)="saveCode($event,6)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[5].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check7.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check7" check7 id="check7" (change)="saveCode($event,7)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[6].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check8.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check8" check8 id="check8" (change)="saveCode($event,8)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[7].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check9.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check9" check9 id="check9" (change)="saveCode($event,9)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[8].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check10.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check10" check10 id="check10" (change)="saveCode($event,10)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[9].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check11.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check11" check11 id="check11" (change)="saveCode($event,11)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[10].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check12.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check12" check12 id="check12" (change)="saveCode($event,12)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[11].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check13.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check13" check13 id="check13" (change)="saveCode($event,13)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[12].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check14.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check14" check14 id="check14" (change)="saveCode($event,14)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[13].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check15.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check15" check15 id="check15" (change)="saveCode($event,15)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[14].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check16.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check16" check16 id="check16" (change)="saveCode($event,16)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[15].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check17.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check17" check17 id="check17" (change)="saveCode($event,17)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[16].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check18.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check18" check18 id="check18" (change)="saveCode($event,18)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[17].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check19.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check19" check19 id="check19" (change)="saveCode($event,19)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[18].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check20.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check20" check20 id="check20" (change)="saveCode($event,20)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[19].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check21.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check21" check21 id="check21" (change)="saveCode($event,21)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[20].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check22.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check22" check22 id="check22" (change)="saveCode($event,22)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[21].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check23.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check23" check23 id="check23" (change)="saveCode($event,23)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[22].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check24.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check24" check24 id="check24" (change)="saveCode($event,24)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[23].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check25.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check25" check25 id="check25" (change)="saveCode($event,25)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[24].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check26.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check26" check26 id="check26" (change)="saveCode($event,26)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[25].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check27.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check27" check27 id="check27" (change)="saveCode($event,27)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[26].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check28.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check28" check28 id="check28" (change)="saveCode($event,28)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[27].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check29.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check29" check29 id="check29" (change)="saveCode($event,29)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[28].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check30.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check30" check30 id="check30" (change)="saveCode($event,30)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[29].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check31.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check31" check31 id="check31" (change)="saveCode($event,31)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[30].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>
              <div class="col col-lg-3 checks">
                <a>
                  <nb-card size="auto" status="{{this.form.controls.check32.value ? 'success' : 'basics'}}">
                    <nb-card-header>
                      <nb-checkbox formControlName="check32" check32 id="check32" (change)="saveCode($event,32)"
                      status="{{ isSubmitted && form.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></nb-checkbox>
                    </nb-card-header>
                    <nb-card-body>
                      <b>Plan:</b> {{this.arrayCarePlans[31].description}}<br>
                    </nb-card-body>
                  </nb-card>
                </a>
              </div>

            </div>

          </fieldset>
        
        </div>
      
      </div>
    
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>





    <!-- <div class="col-md-12">
      <div class="center">
        <fieldset class="field_set">
          <legend class="prue1">Observaciones</legend>
          <textarea id="observation" nbInput fullWidth formControlName="observation" observation onpaste="return false"
            rows="4" cols="50"
            status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </fieldset>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="button" (click)="save()">GUARDAR</button>
      </div>
    </div>

  </div>
</form>