<form [formGroup]="form" style="height: 80%;margin: 5%;max-width: 1000px;">
  <nb-card size="big" style="width: 100%;height: 100%;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body style="width: 100%;height: 100%;overflow: auto;">
      <div class="row">
        <div class="col-md-12">
          <label for="code" class="form-text text-muted font-weight-bold">Dias:</label>
          <nb-select [selected]="this.data.days_id" multiple formControlName="days_id" id="days_id" fullWidth
            status="{{ isSubmitted && form.controls.days_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option>Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.days_id }}" *ngFor="let item of days" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="flat_id" class="form-text text-muted font-weight-bold">Piso:</label>
          <nb-select [selected]="this.data.flat_id" formControlName="flat_id" id="flat_id" fullWidth
            status="{{ isSubmitted && form.controls.flat_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option>Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.flat_id }}" *ngFor="let item of flats" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="pavilion_id" class="form-text text-muted font-weight-bold">Pabellón:</label>
          <nb-select [selected]="this.data.pavilion_id" formControlName="pavilion_id" id="pavilion_id" fullWidth
            status="{{ isSubmitted && form.controls.pavilion_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option>Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.pavilion_id }}" *ngFor="let item of pavilions" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="code" class="form-text text-muted font-weight-bold">Consultorio:</label>
          <nb-select [selected]="this.data.office_id" formControlName="office_id" id="office_id" fullWidth
            status="{{ isSubmitted && form.controls.office_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option>Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.office_id }}" *ngFor="let item of offices" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="code" class="form-text text-muted font-weight-bold">Código Cups:</label>
          <input fullWidth formControlName="procedure_id" nbInput type="text" placeholder="Seleccione..."
            status="{{ isSubmitted && form.controls.procedure_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
            [nbAutocomplete]="autoControl" />

          <nb-autocomplete #autoControl (selectedChange)="onSelectionChange($event)">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option *ngFor="let item of filteredControlOptions$ | async" [value]="item.name">
              {{ item.code }} - {{item.equivalent}} - {{item.name}}
            </nb-option>

          </nb-autocomplete>
        </div>
        <div class="col-md-6">
          <label for="start_date" class="form-text text-muted font-weight-bold">Desde:</label>
          <input class="inputdate" type="date" [min]="min" [max]="this.form.controls.finish_date.value" nbInput fullWidth id="start_date" formControlName="start_date"
            status="{{ isSubmitted && form.controls.start_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
            start_date />
        </div>
        <div class="col-md-6">
          <label for="finish_date" class="form-text text-muted font-weight-bold">Hasta:</label>
          <input class="inputdate" type="date" nbInput fullWidth [min]="this.form.controls.start_date.value" id="finish_date" formControlName="finish_date"
            status="{{ isSubmitted && form.controls.finish_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
            finish_date />
        </div>
        <div class="col-md-6">
          <label for="start_time" class="form-text text-muted font-weight-bold">Hora de inicio:</label>
          <input type="time" nbInput id="start_time" formControlName="start_time" start_time fullWidth
            status="{{ isSubmitted && form.controls.start_time.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        </div>
        <div class="col-md-6">
          <label for="finish_time" class="form-text text-muted font-weight-bold">Hora de fin:</label>
          <input type="time" nbInput id="finish_time" formControlName="finish_time" [min]="this.form.controls.start_time.value" finish_time fullWidth
            status="{{ isSubmitted && form.controls.finish_time.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        </div>
        <div class="col-md-6">
          <label for="interval" class="form-text text-muted font-weight-bold">Tiempo de consulta:</label>
          <input minlength="1" maxlength="3" type="text" nbInput id="interval" formControlName="interval" finish_time
            fullWidth placeholder="En minutos"
            status="{{ isSubmitted && form.controls.interval.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
            onkeypress="return /[0-9\+\-\ ]/i.test(event.key)">
        </div>
        <div class="col-md-6">
          <label for="telemedicine" class="form-text text-muted font-weight-bold">Consulta por teleconsulta:</label>
          <nb-toggle formControlName="telemedicine" telemedicine>
          </nb-toggle>
        </div>
        <div class="col-md-6">
          <label for="patients" class="form-text text-muted font-weight-bold">Atención a multiples pacientes:</label>
          <nb-toggle formControlName="patients" patients>
          </nb-toggle>
        </div>
        <div class="col-md-6" *ngIf="this.form.controls.patients.value">
          <label for="patient_quantity" class="form-text text-muted font-weight-bold">Cantidad de pacientes:</label>
          <input type="number" nbInput id="patient_quantity" formControlName="patient_quantity" finish_time fullWidth
            status="{{ isSubmitted && form.controls.patient_quantity.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}" type="button"
        (click)="save()">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>