<form [formGroup]="form" (ngSubmit)="save()">
    <nb-card size="medium" style="max-width: 400px">
      <nb-card-header>{{ title }}</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <label for="name" class="form-text text-muted font-weight-bold">Nombre:</label>
            <input nbInput fullWidth id="name" formControlName="name" name
                   status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
          <div class="col-12">
            <label for="description" class="form-text text-muted font-weight-bold">Descripción:</label>
            <input nbInput fullWidth id="description" formControlName="description" name
                   status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
          <div class="col-12">
            <label for="status" class="form-text text-muted font-weight-bold">Estado:</label>
            <!-- <nb-select [selected]="this.data.status_id" formControlName="status_id" id="status" fullWidth
                       status="{{ isSubmitted && form.controls.status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ item.id == data.status_id }}" *ngFor="let item of status"
                         [value]="item.id">{{ item.name }}</nb-option>
            </nb-select> -->
            <nb-toggle status="success" [checked]="true" (click)="ChangeLabel()" labelPosition="end" formControlName="status_id"> 
              {{status_label}}             
            </nb-toggle>
          </div>
        </div>
  
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <button nbButton (click)="close()" type="button">Cancelar</button>
        <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
      </nb-card-footer>
    </nb-card>
  </form>