<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">

    <fieldset class="field_set">
      <legend class="prue1 center">HEMICARA DERECHA</legend>
      <div class="row justify-content-md">
        <div class="col-md-6">
          <label class="form-text text-muted font-weight-bold">Simetría</label>
          <textarea id="right_hermiface_symmetry" nbInput fullWidth formControlName="right_hermiface_symmetry"
            right_hermiface_symmetry onpaste="return false" rows="4" cols="50"
            status="{{ isSubmitted && form.controls.right_hermiface_symmetry.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>

        <div class="col-md-6">
          <label class="form-text text-muted font-weight-bold">Tono</label>
          <textarea id="right_hermiface_tone" nbInput fullWidth formControlName="right_hermiface_tone"
            right_hermiface_tone onpaste="return false" rows="4" cols="50"
            status="{{ isSubmitted && form.controls.right_hermiface_tone.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>



        <div class="col col-lg-12">
          <label class="form-text text-muted font-weight-bold center">Sensibilidad</label>
          <textarea id="right_hermiface_sensitivity" nbInput fullWidth formControlName="right_hermiface_sensitivity"
            right_hermiface_sensitivity onpaste="return false" rows="3" cols="40"
            status="{{ isSubmitted && form.controls.obserright_hermiface_sensitivityvations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>

      </div>
    </fieldset>

    <fieldset class="field_set">
      <legend class="prue1 center">HEMICARA IZQUIERDA</legend>
      <div class="row justify-content-md">

        <div class="col-md-6">
          <label class="form-text text-muted font-weight-bold">Simetría</label>
          <textarea id="left_hermiface_symmetry" nbInput fullWidth formControlName="left_hermiface_symmetry"
            left_hermiface_symmetry onpaste="return false" rows="4" cols="50"
            status="{{ isSubmitted && form.controls.left_hermiface_symmetry.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>

        <div class="col-md-6">
          <label class="form-text text-muted font-weight-bold">Tono</label>
          <textarea id="left_hermiface_tone" nbInput fullWidth formControlName="left_hermiface_tone" left_hermiface_tone
            onpaste="return false" rows="4" cols="50"
            status="{{ isSubmitted && form.controls.left_hermiface_tone.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>



        <div class="col col-lg-12">
          <label class="form-text text-muted font-weight-bold center">Sensibilidad</label>
          <textarea id="left_hermiface_sensitivity" nbInput fullWidth formControlName="left_hermiface_sensitivity"
            left_hermiface_sensitivity onpaste="return false" rows="3" cols="40"
            status="{{ isSubmitted && form.controls.left_hermiface_sensitivity.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
        </div>
      </div>
    </fieldset>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>

</form>