<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>

    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="billing_pad/?admission_id={{admission_id}}&descendente=true"
                    customData='billing_pad'
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">
          <button nbButton *ngIf="this.create_new_billing" status="danger" (click)="NewBillingAdmission()">Nueva factura</button>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>
