<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-tabset class="tabset">
      <nb-tab tabTitle="INGRESO">
        <ngx-entry-clinic-history>
        </ngx-entry-clinic-history>
      </nb-tab>
      <nb-tab tabTitle="ANTECEDENES">
        <ngx-back-list>
        </ngx-back-list>
      </nb-tab>
      <nb-tab tabTitle="EVOLUCIÓN">
        <ngx-evolution-list></ngx-evolution-list>
      </nb-tab>
      <nb-tab tabTitle="FORMULACIÓN">
        <ngx-formulation [record_id]="record_id"></ngx-formulation>

      </nb-tab>
      <nb-tab tabTitle="ORDEN MEDICAS">
        <ngx-orders-medical></ngx-orders-medical>
      </nb-tab>
      <nb-tab tabTitle="RESULTADOS">

      </nb-tab>
      <nb-tab tabTitle="SALIDA">

      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>