<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle"
                    [settings]="settings"
                    entity="trainersNetwork"
                    customData="users"
                    [messageToltip]="messageToltip"
                    >
      <!--<div actions>
        <div class="actions">
          <a nbButton status="danger" routerLink="../../teacher/teachers/create">Crear</a>
        </div>
      </div>-->
    </ngx-base-table>
  </div>
</ngx-base-list>
