<div *ngIf="has_input == false || type_record!=1">
  <ngx-form-ch-ap (messageEvent)="receiveMessage($event)" [type_record]="type_record">
  </ngx-form-ch-ap>
</div>
<label class="form-text text-muted font-weight-bold align center">REGISTRO DE ANÁLISIS Y PLAN </label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" [title]="title" customData="ch_ap" [settings]="settings"
      entity="ch_ap/by_record/{{record_id}}/{{this.type_record}}?has_input={{has_input}}">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>