<div class="row" *ngIf="messageError">
  <div class="col-12">
    <nb-alert status="danger" class="container-fluid" id="messageError">
      <strong>Oh Dios!</strong>
      <span *ngIf="!messageError.error">{{ messageError }}</span>
      <span *ngIf="messageError.error">{{ messageError.error.message }}</span>

      <ul class="list-errors" *ngIf="this.messageError && this.messageError.error
        && this.messageError.error.data && this.messageError.error.data.errors">
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </nb-alert>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="Save()">
  <nb-card >
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="section_id" class="form-text text-muted font-weight-bold">Plantilla sección:</label>
            <nb-select formControlName="section_id" id="section_id" fullWidth
                       status="{{ isSubmitted && form.controls.section_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of sections" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="name" class="form-text text-muted font-weight-bold">Personalizar descripción:</label>
            <input nbInput fullWidth id="name" formControlName="name" name
                   status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="weight" class="form-text text-muted font-weight-bold">Peso:</label>
            <input type="number" nbInput fullWidth id="weight" formControlName="weight" weight
                   status="{{ isSubmitted && form.controls.weight.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="is_percent" class="form-text text-muted font-weight-bold">¿Es porcentaje?:</label>
            <nb-toggle formControlName="is_percent" id="is_percent"></nb-toggle>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="course_id" class="form-text text-muted font-weight-bold">Curso a evaluar (opcional):</label>
            <nb-select formControlName="course_id" id="course_id" fullWidth
                       status="{{ isSubmitted && form.controls.course_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of courses" [value]="item.id">{{ item.coursebase.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="user_role_id" class="form-text text-muted font-weight-bold">Formador a evaluar (opcional):</label>
            <nb-select formControlName="user_role_id" id="user_role_id" fullWidth
                       status="{{ isSubmitted && form.controls.user_role_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of trainers" [value]="item.user_role_id">{{ item.nombre_completo }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>
