<ngx-base-form [title]="title"
               [actionSave]="Save.bind(this)"
               [showActionsHeaders]="false">
  <div content>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="form-text text-muted font-weight-bold">
            Evento<span>*</span>:
          </label>
          <ngx-autocomplete-remote
            url="event"
            returnData="events"
            label="name"
            value="id"
            [(ngModel)]="event"
            (ngModelChange)="changeEvent($event)"
          >
          </ngx-autocomplete-remote>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
          <tr>
            <th>Evento</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of events">
            <td>{{ item.label }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ngx-base-form>
