
<ngx-form-language-speech (messageEvent)="receiveMessage($event)" >
</ngx-form-language-speech>
<label for="speech_tl" class="form-text text-muted font-weight-bold align">Habla</label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table  pager="false" [title]="title" customData="speech_tl" [settings]="settings"
      entity="speech_tl/by_record/{{record_id}}/1?pagination=false">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>