<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>
    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="survey"
                    customData="surveys"
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">
          <a ngxCheckPerms="create" nbButton status="danger" routerLink="/pages/survey/surveys/create">Crear</a>
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>
