<form [formGroup]="form" (ngSubmit)="Save()">
  <nb-card style="width: 450px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="code" class="form-text text-muted font-weight-bold">
              No. Oficio<span>*</span>:
            </label>
            <input nbInput fullWidth id="code" formControlName="code"
                   status="{{ isSubmitted && form.controls.code.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="date_code" class="form-text text-muted font-weight-bold">
              Fecha de oficio<span>*</span>:
            </label>
            <input nbInput fullWidth type="date" id="date_code" formControlName="date_code"
                   status="{{ isSubmitted && form.controls.date_code.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="code_technical_concept" class="form-text text-muted font-weight-bold">No. Concepto
              técnico<span>*</span>:
            </label>
            <input nbInput fullWidth id="code_technical_concept" formControlName="code_technical_concept"
                   status="{{ isSubmitted && form.controls.code_technical_concept.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="date_technical_concept" class="form-text text-muted font-weight-bold">
              Fecha de expedición<span>*</span>:
            </label>
            <input nbInput fullWidth type="date" id="date_technical_concept" formControlName="date_technical_concept"
                   status="{{ isSubmitted && form.controls.date_technical_concept.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="value_payment" class="form-text text-muted font-weight-bold">
              Valor<span>*</span>:
            </label>
            <input nbInput fullWidth id="value_payment" type="number" formControlName="value_payment"
                   status="{{ isSubmitted && form.controls.value_payment.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
            <small class="pr-2 form-text text-muted">{{ form.controls.value_payment.value | currency }}</small>
          </div>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>

</form>
