<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card>
    <nb-card-body>
      <fieldset class="field_set">
        <legend class="prue1 center">Cálculos de Nutrición Parenteral</legend>
        <div class="row">

          <div class="col-12 col-sm-12 col-md-4">
            <label for="protein_contributions" class="form-text text-muted font-weight-bold">Aportes de
              Proteina:</label>
            <input nbInput fullWidth id="protein_contributions" name formControlName="protein_contributions"
              placeholder="gramos / Kilogramos (g/Kg)" type="number" (change)="onInputChanges($event)"
              onpaste="return false"
              status="{{ isSubmitted && form.controls.protein_contributions.errors ? 'danger' : isSubmitted ? 'success' : null }}" />
          </div>

          <div class="col-12 col-sm-12 col-md-4">
            <label for="name" class="form-text text-muted font-weight-bold">Gramos Totales de Proteina:</label>
            <div class="row" style="align-items: center;">
              <div class="col-12 col-sm-12 col-md-6">
                <input nbInput fullWidth id="name" name disabled [value]="this.total_grams_of_protein" />
              </div>
              <div class="col-12 col-sm-12 col-md-6">
                g/día
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-4">
            <label for="name" class="form-text text-muted font-weight-bold">Gramos de Nitrogeno:</label>
            <div class="row" style="align-items: center;">
              <div class="col-12 col-sm-12 col-md-6">
                <input nbInput fullWidth id="name" name disabled [value]="this.grams_of_nitrogen" />
              </div>
              <div class="col-12 col-sm-12 col-md-6">
                g
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <label for="carbohydrate_contribution" class="form-text text-muted font-weight-bold">Aporte de
              Carbohidratos:</label>
            <input nbInput fullWidth id="carbohydrate_contribution" name formControlName="carbohydrate_contribution"
              placeholder="miligramos / Kilogramos / minutos (mg/Kg/min)" type="number"
              (change)="onInputChanges($event)" onpaste="return false"
              status="{{ isSubmitted && form.controls.carbohydrate_contribution.errors ? 'danger' : isSubmitted ? 'success' : null }}" />
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <label for="name" class="form-text text-muted font-weight-bold">Carbohidratos Totales:</label>
            <div class="row" style="align-items: center;">
              <div class="col-12 col-sm-12 col-md-6">
                <input nbInput fullWidth id="name" name disabled [value]="this.total_carbohydrates" />
              </div>
              <div class="col-12 col-sm-12 col-md-6">
                g/día
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <label for="lipid_contribution" class="form-text text-muted font-weight-bold">Aporte de Lípidos:</label>
            <input nbInput fullWidth id="lipid_contribution" name formControlName="lipid_contribution"
              placeholder="gramos / Kilogramos (g/Kg)" type="number" (change)="onInputChanges($event)"
              onpaste="return false"
              status="{{ isSubmitted && form.controls.lipid_contribution.errors ? 'danger' : isSubmitted ? 'success' : null }}" />
          </div>

          <div class="col-12 col-sm-12 col-md-6">
            <label for="name" class="form-text text-muted font-weight-bold">Gramos Totales de Lípidos:</label>
            <div class="row" style="align-items: center;">
              <div class="col-12 col-sm-12 col-md-6">
                <input nbInput fullWidth id="name" name disabled [value]="this.total_grams_of_lipids" />
              </div>
              <div class="col-12 col-sm-12 col-md-6">
                g/día
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 mar">
            <fieldset class="field_set1 col-12 col-sm-12 col-md-12">
              <label class="form-text text-muted font-weight-bold">Volumen de
                aminoácidos: </label>
              <div class="row" style="align-items: center;">
                <div class="col-12 col-sm-12 col-md-4">
                  <nb-select formControlName="amino_acid_volume" id="amino_acid_volume" fullWidth
                    (selectedChange)="onInputChanges($event)"
                    status="{{ isSubmitted && form.controls.amino_acid_volume.errors ? 'danger' : isSubmitted ? 'success' : null }}">
                    <nb-option value="">Seleccione...</nb-option>
                    <nb-option *ngFor="let item of amino_acid_volume" [value]="item.id">
                      {{ item.name }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                  <nb-select formControlName="ce_se" id="ce_se" fullWidth
                    status="{{ isSubmitted && form.controls.ce_se.errors ? 'danger' : isSubmitted ? 'success' : null }}">
                    <nb-option value="">Seleccione...</nb-option>
                    <nb-option *ngFor="let item of ce_se" [value]="item.id">
                      {{ item.name }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                  {{this.total_amino_acid_volume}} ml
                </div>
              </div>
            </fieldset>
          </div>


          <div class="col-12 col-sm-12 col-md-6 mar">
            <fieldset class="field_set1 col-12 col-sm-12 col-md-12">
              <label class="form-text text-muted font-weight-bold">Volumen de
                Dextrosa:</label>
              <div class="row" style="align-items: center;">
                <div class="col-12 col-sm-12 col-md-6">
                  <nb-select formControlName="dextrose_volume" id="dextrose_volume" fullWidth
                    (selectedChange)="onInputChanges($event)"
                    status="{{ isSubmitted && form.controls.dextrose_volume.errors ? 'danger' : isSubmitted ? 'success' : null }}">
                    <nb-option value="">Seleccione...</nb-option>
                    <nb-option *ngFor="let item of dextrose_volume" [value]="item.id">
                      {{ item.name }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  {{this.total_dextrose_volume}} ml
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-12 col-sm-12 col-md-6 mar">
            <fieldset class="field_set1 col-12 col-sm-12 col-md-12">
              <label for="lipid_volume" class="form-text text-muted font-weight-bold">Volumen de Lípidos:</label>
              <div class="row" style="align-items: center;">
                <div class="col-12 col-sm-12 col-md-6">
                  <nb-select formControlName="lipid_volume" id="lipid_volume" fullWidth
                    (selectedChange)="onInputChanges($event)"
                    status="{{ isSubmitted && form.controls.lipid_volume.errors ? 'danger' : isSubmitted ? 'success' : null }}">
                    <nb-option value="">Seleccione...</nb-option>
                    <nb-option *ngFor="let item of lipid_volume" [value]="item.id">
                      {{ item.name }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  {{this.total_lipid_volume}} ml
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-12 col-sm-12 col-md-6 mar">
            <fieldset class="field_set1 col-12 col-sm-12 col-md-12">
              <label for="lipid_volume" class="form-text text-muted font-weight-bold">Calorias Totales:</label>
              <div class="row" style="align-items: center;">
                <div class="col-12 col-sm-12 col-md-6">
                  <input nbInput fullWidth id="name" name disabled [value]="this.total_calories" />
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  cal
                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </fieldset>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">{{this.botton_title}}</button>
    </nb-card-footer>
  </nb-card>
</form>