<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>

    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    [entity]="entity"
                    customData='policy'
                    [messageToltip]="messageToltip"
                    >
      <div actions>
        <div class="actions">

          <button nbButton (click)="back()" >Volver</button>
          <button nbButton status="danger" (click)="NewPolicy()">Crear</button>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>
