<form [formGroup]="form" >
  <div>


    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">TIPO DE ADMINISTRACIÓN</legend>
            <div class="col-md-12">
              <nb-select formControlName="ch_route_fluid_id" id="ch_route_fluid_id" fullWidth
                status="{{ isSubmitted && form.controls.ch_route_fluid_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                <nb-option value="">Seleccione...</nb-option>
                <nb-option selected="{{ item.id == data.ch_route_fluid_id }}"
                  *ngFor="let item of ch_routes" [value]="item.id">
                  {{ item.name }}</nb-option>
              </nb-select>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.controls.ch_route_fluid_id.value == 1">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set center">
            <legend class="prue1">NUTRICIÓN ENTERAL</legend>

            <div class="row">

              <div class="col-md-6">
                <label for="clock" class="form-text text-muted font-weight-bold align">HORA DE ADMINISTRACIÓN</label>
                <input type="time" nbInput id="clock" formControlName="clock" clock fullWidth
                  status="{{ isSubmitted && form.controls.clock.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>

              <div class="col-md-6">
                <label for="ch_type_fluid_id"  class="form-text text-muted font-weight-bold align">ADMINISTRACIÓN</label>
                <nb-select formControlName="ch_type_fluid_id" id="ch_type_fluid_id" fullWidth
                  status="{{ isSubmitted && form.controls.ch_type_fluid_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                  <nb-option value="">Seleccione...</nb-option>
                  <nb-option selected="{{ item.id == data.ch_type_fluid_id }}"
                  *ngFor="let item of ch_types" [value]="item.id">
                  {{ item.name }}</nb-option>
                </nb-select>
              </div>

              <div class="col-md-6">
                <label for="delivered_volume" class="form-text text-muted font-weight-bold align">VOLUMEN
                  ADMINISTRADO</label>
                <input type="number" placeholder="CC" id="delivered_volume" formControlName="delivered_volume"
                  id="delivered_volume" delivered_volume nbInput fullWidth
                  status="{{ isSubmitted && form.controls.delivered_volume.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>

            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.controls.ch_route_fluid_id.value == 2">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set center">
            <legend class="prue1">NUTRICIÓN V.O.</legend>

            <div class="row">
              <div class="col-md-6">

                <label for="clock" class="form-text text-muted font-weight-bold align">HORA DE ADMINISTRACIÓN</label>

                <input type="time" nbInput id="clock" formControlName="clock" clock fullWidth
                  status="{{ isSubmitted && form.controls.clock.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>
              
              <div class="col-md-6">
                <label for="ch_type_fluid_id"  class="form-text text-muted font-weight-bold align">ADMINISTRACIÓN</label>
                <nb-select formControlName="ch_type_fluid_id" id="ch_type_fluid_id" fullWidth
                  status="{{ isSubmitted && form.controls.ch_type_fluid_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                  <nb-option value="">Seleccione...</nb-option>
                  <nb-option selected="{{ item.id == data.ch_type_fluid_id }}"
                  *ngFor="let item of ch_types" [value]="item.id">
                  {{ item.name }}</nb-option>
                </nb-select>
              </div>

              <div class="col-md-6">

                <label for="delivered_volume" class="form-text text-muted font-weight-bold align">VOLUMEN
                  ADMINISTRADO</label>

                <input type="number" placeholder="CC" id="delivered_volume" formControlName="delivered_volume"
                  id="delivered_volume" delivered_volume nbInput fullWidth
                  status="{{ isSubmitted && form.controls.delivered_volume.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              </div>
            </div>


          </fieldset>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.controls.ch_route_fluid_id.value == 3">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set center">
            <legend class="prue1">TRANSFUSIONES</legend>

            <div class="row">
              <div class="col-md-6">
                <label for="clock" class="form-text text-muted font-weight-bold align">HORA DE ADMINISTRACIÓN</label>
                <input type="time" nbInput id="clock" formControlName="clock" clock fullWidth
                  status="{{ isSubmitted && form.controls.clock.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

              </div>

              <div class="col-md-6">
                <label for="ch_type_fluid_id"  class="form-text text-muted font-weight-bold align">ADMINISTRACIÓN</label>
                <nb-select formControlName="ch_type_fluid_id" id="ch_type_fluid_id" fullWidth
                  status="{{ isSubmitted && form.controls.ch_type_fluid_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
                  <nb-option value="">Seleccione...</nb-option>
                  <nb-option selected="{{ item.id == data.ch_type_fluid_id }}"
                  *ngFor="let item of ch_types" [value]="item.id">
                  {{ item.name }}</nb-option>
                </nb-select>
              </div>

              <div class="col-md-6">
                <label for="delivered_volume" class="form-text text-muted font-weight-bold align">VOLUMEN
                  ADMINISTRADO</label>
                <input type="number" placeholder="CC" id="delivered_volume" formControlName="delivered_volume"
                  id="delivered_volume" delivered_volume nbInput fullWidth
                  status="{{ isSubmitted && form.controls.delivered_volume.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

              </div>

              <div class="col-md-6">
                <label for="bag_number" class="form-text text-muted font-weight-bold align">CÓDIGO DE BOLSA</label>
                <input type="text" minlength="1" maxlength="8" placeholder="Código #######" id="bag_number"
                  formControlName="bag_number" id="bag_number" bag_number nbInput fullWidth
                  status="{{ isSubmitted && form.controls.bag_number.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>


    <!-- <div class="col-md-6">
      <div class="center">
        <fieldset class="field_set">
          <legend class="prue1">NUTRICIÓN V.O.</legend>

          <label for="breakfast">Nutrición enteral</label>
          <input type="number" placeholder="CC" class="ImpPeq" id="cardiac_frequency" formControlName="breakfast"
            id="breakfast" breakfast nbInput
            status="{{ isSubmitted && form.controls.cardiac_frequency.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

          <label for="snack">Nutrición enteral</label>
          <input type="number" placeholder="CC" class="ImpPeq" id="cardiac_frequency" formControlName="snack" id="snack"
            snack nbInput
            status="{{ isSubmitted && form.controls.cardiac_frequency.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

          <label for="lunch">Nutrición enteral</label>
          <input type="number" placeholder="CC" class="ImpPeq" id="cardiac_frequency" formControlName="lunch" id="lunch"
            lunch nbInput
            status="{{ isSubmitted && form.controls.cardiac_frequency.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

          <label for="dinner">Nutrición enteral</label>
          <input type="number" placeholder="CC" class="ImpPeq" id="cardiac_frequency" formControlName="dinner"
            id="dinner" dinner nbInput
            status="{{ isSubmitted && form.controls.cardiac_frequency.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

          <label for="others_food">Nutrición enteral</label>
          <input type="number" placeholder="CC" class="ImpPeq" id="cardiac_frequency" formControlName="others_food"
            id="others_food" others_food nbInput
            status="{{ isSubmitted && form.controls.cardiac_frequency.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
        </fieldset>
      </div>
    </div> -->

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-12">
          <hr />
        </div>
      </div>
    </div>




    <div class="div-send">
      <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="button" (click)="save()">GUARDAR</button>
    </div>
  </div>
</form>