<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <!--<div class="col-md-12">
          <label for="cma_company" class="form-text text-muted font-weight-bold">Empresa:</label>
          <nb-select [selected]="this.data.cma_company" formControlName="cma_company" id="cma_company" fullWidth
            status="{{ isSubmitted && form.controls.cma_company.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.cma_company }}" *ngFor="let item of cma_company" [value]="item.id">
              {{ item.com_name }}</nb-option>
          </nb-select>
        </div>-->
        <div class="col-md-12">
          <label for="cma_mail" class="form-text text-muted font-weight-bold">Correo:</label>
          <input nbInput fullWidth id="cma_mail" formControlName="cma_mail" cma_mail
            status="{{ isSubmitted && form.controls.cma_mail.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-md-12">
          <label for="cma_city" class="form-text text-muted font-weight-bold">Ciudad:</label>
          <nb-select [selected]="this.data.cma_city" formControlName="cma_city" id="cma_city" fullWidth
            status="{{ isSubmitted && form.controls.cma_city.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.cma_city }}" *ngFor="let item of cma_city" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-12">
          <label for="cma_document" class="form-text text-muted font-weight-bold">Documentos contables:</label>
          <nb-select [selected]="this.data.cma_document" formControlName="cma_document" id="cma_document" fullWidth
            status="{{ isSubmitted && form.controls.cma_document.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.cma_document }}" *ngFor="let item of cma_document" [value]="item.id">
              {{ item.dac_name }}</nb-option>
          </nb-select>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>