<ngx-base-list [messageError]="messageError">
  <div content>
    <ngx-base-table [title]="title" [subtitle]="subtitle" [settings]="settings"
          entity="{{this.entity}}?pgp={{this.is_pgp}}&billing_pad_pgp_id={{this.billing_pad_pgp_id}}&briefcase_id={{this.briefcase_id}}" customData="billing_pad"
          [messageToltip]="messageToltip">
          <div actions>
            <div class="actions" style="margin-top:1em;">
            </div>
          </div>
        </ngx-base-table>
  </div>
</ngx-base-list>