<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <label for="diagnosis_id" class="font-weight-bold">DIAGNÓSTICO</label>


          <input fullWidth formControlName="diagnosis_id" nbInput type="text" placeholder="Seleccionar Diagnostico"
          status="{{ isSubmitted && form.controls.diagnosis_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"
          [nbAutocomplete]="autoControl" (ngModelChange)="this.searchDiagnostic($event)" />

        <nb-autocomplete #autoControl (selectedChange)="saveCode($event)">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option *ngFor="let item of filteredProductOptions$ | async" [value]="item.name">
            {{ item.code }} - {{item.name}}
          </nb-option>
        </nb-autocomplete>

        
          <!-- <input disabled="{{ isSubmitted }}" fullWidth nbInput list="codes" (change)="saveCode($event.target.value)"
            id="diagnosis_id" formControlName="diagnosis_id" diagnosis_id type="text" required (ngModelChange)="this.searchDiagnostic($event)"
            status="{{ isSubmitted && form.controls.diagnosis_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <datalist id="codes">
            <option *ngFor="let item of diagnosis" [value]="item.name">{{ item.code }} - {{item.name}} </option>
          </datalist> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="font-weight-bold ImpPeq"> </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">SELECCIÓN</legend>
            <label class="font-weight-bold ImpPeq">CLASE</label>
            <nb-select [selected]="this.data.ch_diagnosis_class_id" formControlName="ch_diagnosis_class_id"
              id="ch_diagnosis_class_id"
              status="{{ isSubmitted && form.controls.ch_diagnosis_class_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.ch_diagnosis_class_id }}"
                *ngFor="let item of diagnosis_class" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
            <label class="font-weight-bold ImpPeq">TIPO</label>
            <nb-select [selected]="this.data.ch_diagnosis_type_id" formControlName="ch_diagnosis_type_id"
              id="ch_diagnosis_type_id"
              status="{{ isSubmitted && form.controls.ch_diagnosis_type_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.ch_diagnosis_type_id }}" *ngFor="let item of diagnosis_type"
                [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="font-weight-bold ImpPeq"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <label for="diagnosis_id" class="font-weight-bold">OBSERVACIÓN</label>
          <textarea id="diagnosis_observation" nbInput fullWidth formControlName="diagnosis_observation" current_illness onpaste="return false"
            rows="3"
            status="{{ isSubmitted && form.controls.diagnosis_observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
        </div>
      </div>
    </div>

    <div class="div-send">
      <button nbButton status="danger" class="ml-1 btn-save" type="submit">GUARDAR</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="font-weight-bold ImpPeq"> </label>
      </div>
    </div>
  </div>
</form>