<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <div class="row">
<label>{{ title }}</label>

<div class="col-12 col-sm-12 col-md-6">
  <label class="form-text text-muted font-weight-bold">PRODUCTO GENERICO:</label>
  <input type="text" list="codes1" class="data-list" id="product_generic_id"
    (change)="saveCode($event.target.value)" formControlName="product_generic_id" product_generic_id fullWidth
    nbInput
    status="{{ isSubmitted && form.controls.product_generic_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
  <datalist id="codes1">
    <option *ngFor="let item of product_generic_id" [value]="item.description">{{item.description}}
    </option>
  </datalist>
</div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="request_pharmacy_stock_id" class="form-text text-muted font-weight-bold">SOLICITAR
          A(bodega, farmacia):</label>
        <nb-select [selected]="this.data.request_pharmacy_stock_id" formControlName="request_pharmacy_stock_id"
          id="request_pharmacy_stock_id" fullWidth
          status="{{ isSubmitted && form.controls.request_pharmacy_stock_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <nb-option value="">Seleccione...</nb-option>
          <nb-option selected="{{ item.id == data.request_pharmacy_stock_id }}"
            *ngFor="let item of request_pharmacy_stock_id" [value]="item.id">
            {{ item.name }} - {{ item.campus.name }}</nb-option>
        </nb-select>
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <label for="request_amount" class="form-text text-muted font-weight-bold">CANTIDAD A SOLICITAR:</label>
        <input type="number" min="0" pattern="^[0-9]+" oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="request_amount"
          formControlName="request_amount" request_amount
          status="{{ isSubmitted && form.controls.request_amount.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
      </div>


    </div>
    <div class="div-send">
      <label></label>
      <button [disabled]="disabled" type="submit" nbButton status="success">SOLICITAR</button>
    </div>

  </div>

</form>