<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1100px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <label for="code" class="form-text text-muted font-weight-bold">Código del producto:</label>
          <input nbInput fullWidth id="code" formControlName="code" code
            status="{{ isSubmitted && form.controls.code.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <label for="name" class="form-text text-muted font-weight-bold">Nombre producto:</label>
          <input nbInput fullWidth id="name" formControlName="name" name
            status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="factory" class="form-text text-muted font-weight-bold">Fabricante:</label>
          <nb-select [selected]="this.data.factory_id" formControlName="factory_id" id="factory_id" fullWidth
            status="{{ isSubmitted && form.controls.factory_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.factory_id }}" *ngFor="let item of factory" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="product_generic" class="form-text text-muted font-weight-bold">Producto Genérico:</label>
          <nb-select [selected]="this.data.product_generic_id" formControlName="product_generic_id" id="product_generic_id" fullWidth
            status="{{ isSubmitted && form.controls.product_generic_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.product_generic_id }}" *ngFor="let item of product_generic" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <label for="invima_registration" class="form-text text-muted font-weight-bold">Registro invima:</label>
          <input nbInput fullWidth id="invima_registration" formControlName="invima_registration" invima_registration
            status="{{ isSubmitted && form.controls.invima_registration.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="invima_status" class="form-text text-muted font-weight-bold">Estado de registro del invima:</label>
          <nb-select [selected]="this.data.invima_status_id" formControlName="invima_status_id" id="invima_status_id" fullWidth
            status="{{ isSubmitted && form.controls.invima_status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.invima_status_id }}" *ngFor="let item of invima_status" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="sanitary_registration" class="form-text text-muted font-weight-bold">Titular del registro sanitario:</label>
          <nb-select [selected]="this.data.sanitary_registration_id" formControlName="sanitary_registration_id" id="sanitary_registration_id" fullWidth
            status="{{ isSubmitted && form.controls.sanitary_registration_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.sanitary_registration_id }}" *ngFor="let item of factory" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="storage_conditions" class="form-text text-muted font-weight-bold">Condiciones de almacenaje:</label>
          <nb-select [selected]="this.data.storage_conditions_id" formControlName="storage_conditions_id" id="storage_conditions_id" fullWidth
            status="{{ isSubmitted && form.controls.storage_conditions_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.storage_conditions_id }}" *ngFor="let item of storage_conditions" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="risk" class="form-text text-muted font-weight-bold">Riesgo:</label>
          <nb-select [selected]="this.data.risk_id" formControlName="risk_id" id="risk_id" fullWidth
            status="{{ isSubmitted && form.controls.risk_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.risk_id }}" *ngFor="let item of risk" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="code_cum_file"  class="form-text text-muted font-weight-bold">Código CUM expediente:</label>
          <input nbInput fullWidth id="code_cum_file" formControlName="code_cum_file" code_cum_file
            status="{{ isSubmitted && form.controls.code_cum_file.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="code_cum_consecutive"  class="form-text text-muted font-weight-bold">Código CUM consecutivo:</label>
          <input nbInput fullWidth id="code_cum_consecutive" formControlName="code_cum_consecutive" code_cum_consecutive
            status="{{ isSubmitted && form.controls.code_cum_consecutive.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="regulated_drug" class="form-text text-muted font-weight-bold">¿Es un medicamento regulado?:</label>
          <nb-radio-group formControlName="regulated_drug" regulated_drug id="regulated_drug" name="regulated_drug" class="d-flex"
            status="{{ isSubmitted && form.controls.regulated_drug.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No es regulado</nb-radio>
            <nb-radio [value]="1">Si es regulado</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="high_price" class="form-text text-muted font-weight-bold">¿Es de alto costo?:</label>
          <nb-radio-group formControlName="high_price" high_price id="high_price" name="high_price" class="d-flex"
            status="{{ isSubmitted && form.controls.high_price.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No es de alto costo</nb-radio>
            <nb-radio [value]="1">Si es de alto costo</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="maximum_dose"  class="form-text text-muted font-weight-bold">Dosis maxima:</label>
          <input nbInput fullWidth id="maximum_dose" formControlName="maximum_dose" maximum_dose
            status="{{ isSubmitted && form.controls.maximum_dose.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="indications"  class="form-text text-muted font-weight-bold">Indicaciones:</label>
          <input nbInput fullWidth id="indications" formControlName="indications" indications
            status="{{ isSubmitted && form.controls.indications.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="contraindications"  class="form-text text-muted font-weight-bold">Contraindicaciones:</label>
          <input nbInput fullWidth id="contraindications" formControlName="contraindications" contraindications
            status="{{ isSubmitted && form.controls.contraindications.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="applications"  class="form-text text-muted font-weight-bold">Usos:</label>
          <input nbInput fullWidth id="applications" formControlName="applications" applications
            status="{{ isSubmitted && form.controls.applications.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="minimum_stock"  class="form-text text-muted font-weight-bold">Stock minimo:</label>
          <input nbInput fullWidth id="minimum_stock" formControlName="minimum_stock" minimum_stock
            status="{{ isSubmitted && form.controls.minimum_stock.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="maximum_stock"  class="form-text text-muted font-weight-bold">Stock maximo:</label>
          <input nbInput fullWidth id="maximum_stock" formControlName="maximum_stock" maximum_stock
            status="{{ isSubmitted && form.controls.maximum_stock.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <label for="generate_iva" class="form-text text-muted font-weight-bold">¿Este producto genéra IVA?:</label>
          <nb-radio-group formControlName="generate_iva" generate_iva id="generate_iva" name="generate_iva" class="d-flex"
            status="{{ isSubmitted && form.controls.generate_iva.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-radio [value]="0">No genera IVA</nb-radio>
            <nb-radio [value]="1">Si genera IVA</nb-radio>
          </nb-radio-group>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>