<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1100px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6">
          <label for="name" class="form-text text-muted font-weight-bold">Nombre producto:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="name" formControlName="name" name
            status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <label for="factory" class="form-text text-muted font-weight-bold">Fabricante:</label>
          <nb-select [selected]="this.data.factory_id" formControlName="factory_id" id="factory_id" fullWidth
            status="{{ isSubmitted && form.controls.factory_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.factory_id }}" *ngFor="let item of factory" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label class="form-text text-muted font-weight-bold">Empaque:</label>
          <nb-select [selected]="this.data.packing_id" formControlName="packing_id" id="packing_id" fullWidth
            status="{{ isSubmitted && form.controls.packing_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.packing_id }}" *ngFor="let item of packing" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>


        <div class="col-12 col-sm-12 col-md-6">
          <label for="unit_packing" class="form-text text-muted font-weight-bold">Unidades por empaque:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="unit_packing"
            formControlName="unit_packing" unit_packing
            status="{{ isSubmitted && form.controls.unit_packing.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label class="form-text text-muted font-weight-bold">Producto Genérico:</label>
          <input type="text" list="codes1" class="data-list" id="product_generic_id"
            (change)="saveCode($event.target.value)" formControlName="product_generic_id" product_generic_id fullWidth
            nbInput
            status="{{ isSubmitted && form.controls.product_generic_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <datalist id="codes1">
            <option *ngFor="let item of product_generic" [value]="item.description">{{item.description}}
            </option>
          </datalist>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="invima_registration" class="form-text text-muted font-weight-bold">Registro invima:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="invima_registration"
            formControlName="invima_registration" invima_registration
            status="{{ isSubmitted && form.controls.invima_registration.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="invima_status" class="form-text text-muted font-weight-bold">Estado de registro del
            invima:</label>
          <nb-select [selected]="this.data.invima_status_id" formControlName="invima_status_id" id="invima_status_id"
            fullWidth
            status="{{ isSubmitted && form.controls.invima_status_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.invima_status_id }}" *ngFor="let item of invima_status"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="date_cum" class="form-text text-muted font-weight-bold">Fecha vencimiento, registro
              sanitario:</label>
            <input type="date" nbInput fullWidth id="date_cum" (change)="onDatechange1($event)"  formControlName="date_cum" date_cum
              status="{{ isSubmitted && form.controls.date_cum.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="sanitary_registration" class="form-text text-muted font-weight-bold">Titular del registro
            sanitario:</label>
          <nb-select [selected]="this.data.sanitary_registration_id" formControlName="sanitary_registration_id"
            id="sanitary_registration_id" fullWidth
            status="{{ isSubmitted && form.controls.sanitary_registration_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.sanitary_registration_id }}" *ngFor="let item of factory"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>


        <div class="col-12 col-sm-12 col-md-6">
          <label for="refrigeration" class="form-text text-muted font-weight-bold">Requiere Refrigeración:</label>
          <nb-radio-group formControlName="refrigeration" refrigeration id="refrigeration" name="refrigeration"
            class="d-flex"
            status="{{ isSubmitted && form.controls.refrigeration.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio [value]="0">No</nb-radio>
            <nb-radio [value]="1">Si</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="refrigeration" class="form-text text-muted font-weight-bold">Vida utíl en meses:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput id="useful_life" fullWidth
            formControlName="useful_life" useful_life type="number" min="0" pattern="^[0-9]+"
            status="{{ isSubmitted && form.controls.useful_life.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="storage_conditions" class="form-text text-muted font-weight-bold">Condiciones de
            almacenaje:</label>
          <nb-select [selected]="this.data.storage_conditions_id" formControlName="storage_conditions_id"
            id="storage_conditions_id" fullWidth
            status="{{ isSubmitted && form.controls.storage_conditions_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.storage_conditions_id }}" *ngFor="let item of storage_conditions"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="code_cum_file" class="form-text text-muted font-weight-bold">Expediente de registro
            sanitario:</label>
          <input nbInput fullWidth id="code_cum_file" formControlName="code_cum_file" code_cum_file (change)="onchangeForm($event)"
            status="{{ isSubmitted && form.controls.code_cum_file.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="code_cum_consecutive" class="form-text text-muted font-weight-bold">Consecutivo de registro
            sanitario:</label>
          <input nbInput fullWidth id="code_cum_consecutive" formControlName="code_cum_consecutive" code_cum_consecutive (change)="onchangeForm($event)"
            status="{{ isSubmitted && form.controls.code_cum_consecutive.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        
        <div class="col-12 col-sm-12 col-md-6">
          <label class="form-text text-muted font-weight-bold">Código unico de medicamento (CUM):</label>
          <input nbInput fullWidth id="code_cum" formControlName="code_cum" code_cum
            status="{{ isSubmitted && form.controls.code_cum.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"  readonly/>
        </div>


        <div class="col-12 col-sm-12 col-md-6">
          <label for="regulated_drug" class="form-text text-muted font-weight-bold">¿Es un medicamento
            regulado?:</label>
          <nb-radio-group formControlName="regulated_drug" regulated_drug id="regulated_drug" name="regulated_drug"
            class="d-flex"
            status="{{ isSubmitted && form.controls.regulated_drug.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-radio [value]="0">No es regulado</nb-radio>
            <nb-radio [value]="1">Si es regulado</nb-radio>
          </nb-radio-group>
        </div>

        <div *ngIf="showReg" class="col-12 col-sm-12 col-md-6">
          <label for="value_circular" class="form-text text-muted font-weight-bold">Valor de regulación:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="value_circular"
            formControlName="value_circular" value_circular type="number" min="0" pattern="^[0-9]+" />
        </div>

        <div *ngIf="showReg" class="col-12 col-sm-12 col-md-6">
          <label for="circular" class="form-text text-muted font-weight-bold">Circular:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="circular"
            formControlName="circular" circular />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="high_price" class="form-text text-muted font-weight-bold">¿Es de alto costo?:</label>
          <nb-radio-group formControlName="high_price" high_price id="high_price" name="high_price" class="d-flex">
            <nb-radio [value]="0">No es de alto costo</nb-radio>
            <nb-radio [value]="1">Si es de alto costo</nb-radio>
          </nb-radio-group>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="maximum_dose" class="form-text text-muted font-weight-bold">Dosis maxima:</label>
          <input nbInput fullWidth id="maximum_dose" formControlName="maximum_dose" maximum_dose />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="indications" class="form-text text-muted font-weight-bold">Indicaciones:</label>
          <input nbInput fullWidth id="indications" formControlName="indications" indications/>
        </div>


        <div class="col-12 col-sm-12 col-md-6">
          <label for="contraindications" class="form-text text-muted font-weight-bold">Contraindicaciones:</label>
          <input nbInput fullWidth id="contraindications" formControlName="contraindications" contraindications />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="applications" class="form-text text-muted font-weight-bold">Usos:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="applications"
            formControlName="applications" applications />
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>