<ngx-base-list [messageError]="messageError">


  <div content>
    <nb-tabset fullWidth (changeTab)="reloadForm($event)">
      <nb-tab tabTitle="ASIGNADOS">
        <div *ngIf="this.showdiv == 1">
          <ngx-fixed-inventary-add-patients></ngx-fixed-inventary-add-patients>
        </div>
      </nb-tab>
      <nb-tab tabTitle="DEVUELTOS">
        <div *ngIf="this.showdiv==2">
          <ngx-fixed-return-patients></ngx-fixed-return-patients>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</ngx-base-list>