<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-4">
          <label for="status_bill" class="form-text text-muted font-weight-bold">Seleccione Estado:</label>
          <nb-select [selected]="this.data.status_bill_id" formControlName="status_bill_id" id="status_bill_id"
            fullWidth
            status="{{ isSubmitted && form.controls.status_bill_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.status_bill_id}}" *ngFor="let item of status_bill" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-4">
          <label for="observation" class="form-text text-muted font-weight-bold">Observaciones:</label>
          <input nbInput fullWidth id="observation" formControlName="observation"
            total_value_activities
            status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div style="margin-top: 10px;">
          <ngx-user-activity (messageEvent)="receiveMessage($event)" [parentData]="selectedOptions"></ngx-user-activity>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>