<ngx-base-form [title]="title" [routes]="routes" [messageError]="messageError" [routeBack]="routeBack"
  [actionSave]="SaveStudent.bind(this)">
  <div content>
    <nb-card class="vh-100 text-center" [nbSpinner]="!form" *ngIf="!form">
      <nb-card-body class="d-flex justify-content-center align-items-center"></nb-card-body>
    </nb-card>

    <form class="container" *ngIf="form" [formGroup]="form" (ngSubmit)="SaveStudent()">

      <div class="row text-center">
        <!--Grid column-->
        <div class="col-md-12 ">

          <div class="file-field">
            <div class="mb-4">
              <img [src]="image" class="rounded avatar-pic" [alt]="image">
            </div>
            <div class="d-flex justify-content-center">
              <div class="file-select-evicencias" id="src-file2">
                <input [nbSpinner]="loading" class="file" accept="image/*" type="file" id="file" file fullWidth
                  (change)="ChangeImage($event);changeFile($event,2)" />
              </div>
            </div>
          </div>

        </div>
        <!--Grid column-->

      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-muted title-users">Datos básicos</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="identification_type_id" class="form-text text-muted font-weight-bold">
              Tipo de identificación:
            </label>
            <nb-select formControlName="identification_type_id" id="identification_type_id" fullWidth
              status="{{ isSubmitted && form.controls.identification_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option selected="{{ data ? (item.id == data.identification_type_id) : false }}"
                *ngFor="let item of identification_types" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="identification" class="form-text text-muted font-weight-bold">Número de documento:</label>
            <input nbInput minlength="6" maxlength="15" type="text" fullWidth id="identification"
              formControlName="identification" identification
              status="{{ isSubmitted && form.controls.identification.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
            <ng-container *ngIf="form.controls.identification.errors && form.controls.identification.touched">
              <p class="caption status-danger" *ngIf="form.controls.identification.errors?.minlength">
                El número de documento debe tener un mínimo de 6 caracteres
              </p>
              <p class="caption status-danger" *ngIf="form.controls.identification.errors?.maxlenth">
                El número de documento debe tener un máximo de 15 caracteres
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname" class="form-text text-muted font-weight-bold">Primer nombre:</label>
            <input oninput="this.value = this.value.toUpperCase().trim()" minlength="3" maxlength="20" nbInput fullWidth
              id="firstname" formControlName="firstname" firstname
              status="{{ isSubmitted && form.controls.firstname.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /^[ a-zA-ZÀ-ÿ\u00f1\u00d1]*$/i.test(event.key)" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="middlefirstname" class="form-text text-muted font-weight-bold">Segundo nombre:</label>
            <input oninput="this.value = this.value.toUpperCase()" minlength="3" maxlength="20" nbInput fullWidth
              id="middlefirstname" formControlName="middlefirstname" middlefirstname
              status="{{ isSubmitted && form.controls.middlefirstname.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /^[ a-zA-ZÀ-ÿ\u00f1\u00d1]*$/i.test(event.key)" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname" class="form-text text-muted font-weight-bold">Primer apellido:</label>
            <input oninput="this.value = this.value.toUpperCase().trim()" minlength="3" maxlength="20" nbInput fullWidth
              id="lastname" formControlName="lastname" lastname
              status="{{ isSubmitted && form.controls.lastname.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /^[ a-zA-ZÀ-ÿ\u00f1\u00d1]*$/i.test(event.key)" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="middlelastname" class="form-text text-muted font-weight-bold">Segundo apellido:</label>
            <input oninput="this.value = this.value.toUpperCase()" minlength="3" maxlength="20" nbInput fullWidth
              id="middlelastname" formControlName="middlelastname" middlelastname
              status="{{ isSubmitted && form.controls.middlelastname.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /^[ a-zA-ZÀ-ÿ\u00f1\u00d1]*$/i.test(event.key)" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label for="phone" class="form-text text-muted font-weight-bold">Celular:</label>
            <input oninput="this.value = this.value.slice(0,15)" nbInput min="10" max="15" type="number" fullWidth
              id="phone" formControlName="phone" phone
              status="{{ isSubmitted && form.controls.phone.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /[0-9\+\-\ ]/i.test(event.key)" />
            <ng-container *ngIf="form.controls.phone.errors && form.controls.phone.touched">
              <p class="caption status-danger" *ngIf="form.controls.phone.errors?.minlength">
                El celular debe tener un mínimo de 10 caracteres
              </p>
              <p class="caption status-danger" *ngIf="form.controls.phone.errors?.maxlength">
                El celular debe tener un máximo de 20 caracteres
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label for="landline" class="form-text text-muted font-weight-bold">Teléfono Fijo:</label>
            <input oninput="this.value = this.value.slice(0,15)" nbInput type="number" min="8" max="15" fullWidth
              id="landline" formControlName="landline" landline
              status="{{ isSubmitted && form.controls.landline.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /[0-9\+\-\ ]/i.test(event.key)" />
            <ng-container *ngIf="form.controls.landline.errors && form.controls.landline.touched">
              <p class="caption status-danger" *ngIf="form.controls.landline.errors?.minlength">
                El teléfono fijo debe tener un mínimo de 10 caracteres
              </p>
              <p class="caption status-danger" *ngIf="form.controls.landline.errors?.maxlength">
                El teléfono fijo debe tener un máximo de 20 caracteres
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col-md-6 col-lg-5">
          <div class="form-group">
            <label for="email" class="form-text text-muted font-weight-bold">Correo electrónico:</label>
            <input nbInput fullWidth id="email" formControlName="email" email
              status="{{ isSubmitted && form.controls.email.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
          </div>
        </div>
      </div>
      <div class="row">


        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label for="ethnicity_id" class="form-text text-muted font-weight-bold">Etnia:</label>
            <nb-select formControlName="ethnicity_id" id="ethnicity_id" fullWidth
              status="{{ isSubmitted && form.controls.ethnicity_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of this.ethnicitys" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>


          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="gender_id" class="form-text text-muted font-weight-bold">Género:</label>
            <nb-radio-group formControlName="gender_id" gender_id id="gender_id" class="d-flex"
              status="{{ isSubmitted && form.controls.gender_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-radio *ngFor="let item of genders" [value]="item.id">{{ item.name }}</nb-radio>
            </nb-radio-group>

          </div>
        </div>

        <div class="col-md-2" *ngIf="form.controls.gender_id.value == 3">
          <div class="form-group">
            <label for="gender_type" class="form-text text-muted font-weight-bold">Cuál?:</label>
            <input nbInput fullWidth id="gender_type" formControlName="gender_type" gender_type
              status="{{ isSubmitted && form.controls.gender_type.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              onkeypress="return /^[ a-zA-ZÀ-ÿ\u00f1\u00d1]*$/i.test(event.key)" />
          </div>
        </div>



        <div class="col-md-12">
          <div class="form-group">
            <label for="is_disability" class="form-text text-muted font-weight-bold">¿Tiene alguna discapacidad?
            </label>
            <nb-toggle formControlName="is_disability" is_disability>
            </nb-toggle>
          </div>
        </div>
        <div class="col-md-3" *ngIf="form.controls.is_disability.value">
          <div class="form-group">
            <label for="inability" class="form-text text-muted font-weight-bold">Cuál?: </label>
            <nb-select formControlName="inability_id" id="inability_id" fullWidth
              status="{{ isSubmitted && form.controls.inability_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">

              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of inabilitys" [value]="item.id">{{ item.name }}</nb-option>

            </nb-select>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <p class="text-muted title-users">Datos Personales</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label for="academic_level_id" class="form-text text-muted font-weight-bold">Nivel académico:</label>
            <nb-select formControlName="academic_level_id" id="academic_level_id" fullWidth
              status="{{ isSubmitted && form.controls.academic_level_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of academyLevels" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label for="study_level_status_id" class="form-text text-muted font-weight-bold">Estado de nivel
              académico:</label>
            <nb-select formControlName="study_level_status_id" id="study_level_status_id" fullWidth
              status="{{ isSubmitted && form.controls.study_level_status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of study_level_status" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="activities_id" class="form-text text-muted font-weight-bold">Profesión:</label>
            <input fullWidth nbInput list="codes" (change)="saveCode($event.target.value) " id="activities_id"
              formControlName="activities_id" activities_id type="text" required
              status="{{ isSubmitted && form.controls.activities_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <datalist id="codes">
              <option *ngFor="let item of activities" [value]="item.name">{{item.code}} - {{item.name}}</option>
            </datalist>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="select_RH_id" class="form-text text-muted font-weight-bold">Seleccione RH:</label>
            <nb-select id="select_RH_id" fullWidth formControlName="select_RH_id" select_RH_id
              status="{{ isSubmitted && form.controls.select_RH_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of select_RH" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="population_group_id" class="form-text text-muted font-weight-bold">Grupo poblacional:</label>
            <nb-select id="population_group_id" fullWidth formControlName="population_group_id" population_group_id
              status="{{ isSubmitted && form.controls.population_group_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of population_group" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="marital_status_id" class="form-text text-muted font-weight-bold">Estado civil:</label>
            <nb-select id="marital_status_id" fullWidth formControlName="marital_status_id" marital_status_id
              status="{{ isSubmitted && form.controls.marital_status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of marital_status" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <p class="text-muted title-users">Información de nacimiento</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="birthday" class="form-text text-muted font-weight-bold">Fecha:</label>
            <input type="date" nbInput fullWidth id="birthday" formControlName="birthday" birthday
              (change)="ageCalculator($event.target.value)"
              status="{{ isSubmitted && form.controls.birthday.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
              [max]="today" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-text text-muted font-weight-bold">Edad:</label>
            <input type="number" nbInput [value]="age" fullWidth disabled />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="country_id" class="form-text text-muted font-weight-bold">País:</label>
            <nb-select id="country_id" fullWidth formControlName="country_id" country_id
              status="{{ isSubmitted && form.controls.country_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of countries" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="region_id" class="form-text text-muted font-weight-bold">Departamento:</label>
            <nb-select id="region_id" fullWidth formControlName="region_id" region_id
              status="{{ isSubmitted && form.controls.region_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of regions" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="birthplace_municipality_id" class="form-text text-muted font-weight-bold">Municipio:</label>
            <nb-select id="birthplace_municipality_id" fullWidth formControlName="birthplace_municipality_id"
              birthplace_municipality_id
              status="{{ isSubmitted && form.controls.birthplace_municipality_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of municipalities" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <p class="text-muted title-users">Información de residencia</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="residence_country_id" class="form-text text-muted font-weight-bold">País:</label>
            <nb-select id="residence_country_id" fullWidth formControlName="residence_country_id" residence_country_id
              status="{{ isSubmitted && form.controls.residence_country_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of countries" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="residence_region_id" class="form-text text-muted font-weight-bold">Departamento:</label>
            <nb-select id="residence_region_id" fullWidth formControlName="residence_region_id" residence_region_id
              status="{{ isSubmitted && form.controls.residence_region_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of residence_regions" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="residence_municipality_id" class="form-text text-muted font-weight-bold">Municipio:</label>
            <nb-select id="residence_municipality_id" fullWidth formControlName="residence_municipality_id"
              residence_municipality_id
              status="{{ isSubmitted && form.controls.residence_municipality_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of residence_municipalities" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="neighborhood_or_residence_id" class="form-text text-muted font-weight-bold">Barrio:</label>
            <nb-select id="neighborhood_or_residence_id" fullWidth formControlName="neighborhood_or_residence_id"
              neighborhood_or_residence_id
              status="{{ isSubmitted && form.controls.neighborhood_or_residence_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of neighborhood_or_residence" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="residence_address" class="form-text text-muted font-weight-bold">Tipo de Via</label>
            <nb-select id="residence_address" formControlName="residence_address" residence_address fullWidth
              title="Tipo de Via (Ej.Calle)"
              status="{{ isSubmitted && form.controls.residence_municipality_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Tipo de Via (Ej.Calle)</nb-option>
              <nb-option value="Avenida">Avenida</nb-option>
              <nb-option value="Av.Calle">Avenida Calle </nb-option>
              <nb-option value="Av.Carrera">Avenida Carrera</nb-option>
              <nb-option value="Calle">Calle</nb-option>
              <nb-option value="Carrera">Carrera</nb-option>
              <nb-option value="Circular">Circular</nb-option>
              <nb-option value="Circunvalar">Circunvalar</nb-option>
              <nb-option value="Diagonal">Diagonal</nb-option>
              <nb-option value="Manzana">Manzana</nb-option>
              <nb-option value="Transversal">Transversal</nb-option>
              <nb-option value="Vía">Vía</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="residence_address" style="margin-top: 30px;" class="form-text text-muted font-weight-bold">
            </label>
            <input nbInput fullWidth id="street" formControlName="street" street placeholder="Ej: 22 Sur" maxlength="10"
              required />
          </div>
        </div>
        <label for="residence_address" style="margin-top: 40px;" class="form-text text-muted font-weight-bold">#</label>
        <div class="col-md-2">
          <div class="form-group">
            <label for="residence_address" class="form-text text-muted font-weight-bold">Número</label>
            <input nbInput fullWidth id="num1" formControlName="num1" num1 placeholder="Ej: 45 B" maxlength="10"
              required />
          </div>
        </div>
        <label for="residence_address" style="margin-top: 40px;" class="form-text text-muted font-weight-bold">-</label>
        <div class="col-md-2">
          <div class="form-group">
            <label for="residence_address" style="margin-top: 30px;" class="form-text text-muted font-weight-bold">
            </label>
            <input nbInput fullWidth id="num2" formControlName="num2" num2 placeholder="Ej: 45 B" maxlength="10"
              required />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="residence_address" class="form-text text-muted font-weight-bold">Puntos Cardinales</label>
            <nb-select id="residence_address_cardinality" formControlName="residence_address_cardinality"
              residence_address_cardinality fullWidth title="Seleccione..."
              status="{{ isSubmitted && form.controls.residence_municipality_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value=" ">Seleccione...</nb-option>
              <nb-option value="Noreste">Noreste</nb-option>
              <nb-option value="Noroeste">Noroeste</nb-option>
              <nb-option value="Sureste">Sureste</nb-option>
              <nb-option value="Suroeste">Suroeste</nb-option>
              <nb-option value="Norte">Norte</nb-option>
              <nb-option value="Este">Este</nb-option>
              <nb-option value="Sur">Sur</nb-option>
              <nb-option value="Oeste">Oeste</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="residence_address" style="font-size: 0.8rem !important;"
              class="form-text text-muted font-weight-bold">Referencias Adicionales (Apartamento, Torre,
              Multifamiliar)</label>
            <input nbInput fullWidth id="reference" formControlName="reference" reference
              placeholder="Ej: Torre 4 Apto 302" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" *ngIf="this.role!=2">
          <div class="form-group">
            <label for="status" class="form-text text-muted font-weight-bold">Estado:</label>
            <nb-select selected="" formControlName="status_id" id="status" fullWidth
              status="{{ isSubmitted && form.controls.status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of status" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-md-6">
          <div class="form-group  border border-danger p-3 rounded-sm">
          <h6>La contraseña debe contener como mínimo:</h6>
          <p>
            <nb-icon icon="chevron-right-outline"></nb-icon>Más de 8 caracteres<br>
            <nb-icon icon="chevron-right-outline"></nb-icon>Un número<br>
            <nb-icon icon="chevron-right-outline"></nb-icon>Un carácter especial<br>
            <nb-icon icon="chevron-right-outline"></nb-icon>Letras mayúsculas y minúsculas
          </p>
          </div>
        </div>
      </div>-->
      <div class="row" *ngIf="isStudent!=true">
        <div class="col-md-6">
          <div class="form-group">
            <label for="password" class="form-text text-muted font-weight-bold">Contraseña:</label>
            <div class="input-group mb-3">
              <nb-form-field class="w-100">
                <input class="password" [type]="getInputTypePassword()" nbInput fullWidth id="password"
                  formControlName="password" password
                  status="{{ isSubmitted && form.controls.password.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
                <button nbSuffix nbButton ghost (click)="toggleShowPassword()" type="button">
                  <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                    [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </nb-form-field>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label for="confirm_password" class="form-text text-muted font-weight-bold">Confirmar contraseña:</label>
            <div class="input-group mb-3">
              <nb-form-field class="w-100">
                <input class="password" [type]="getInputTypeConfirmPassword()" nbInput fullWidth id="confirm_password"
                  formControlName="confirm_password" confirm_password
                  status="{{ isSubmitted && form.controls.confirm_password.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />

                <button nbSuffix nbButton ghost (click)="toggleShowConfirmPassword()" type="button">
                  <nb-icon [icon]="showConfirmPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                    [attr.aria-label]="showConfirmPassword ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </nb-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3" *ngIf="role==3">
        <div class="col-12">
          <p class="text-muted">Información personal asistencial</p>
        </div>
      </div>
      <div class="row" *ngIf="role==3">

        <div class="col-md-4">
          <div class="form-group">
            <label for="medical_record" class="form-text text-muted font-weight-bold">Registro medico:</label>
            <input nbInput fullWidth id="medical_record" formControlName="medical_record" medical_record
              status="{{ isSubmitted && form.controls.medical_record.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="contract_type" class="form-text text-muted font-weight-bold">Tipo de contrato:</label>
            <nb-select formControlName="contract_type_id" id="contract_type_id" fullWidth
              status="{{ isSubmitted && form.controls.contract_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of contract_type" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="cost_center" class="form-text text-muted font-weight-bold">Centro de costos:</label>
            <nb-select formControlName="cost_center_id" id="cost_center_id" fullWidth
              status="{{ isSubmitted && form.controls.cost_center_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of cost_center" [value]="item.id">
                {{ item.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="type_professional" class="form-text text-muted font-weight-bold">Tipo de profesional:</label>
            <nb-select formControlName="type_professional_id" id="type_professional_id" fullWidth
              status="{{ isSubmitted && form.controls.type_professional_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of type_professional" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <nb-card-body>
              <nb-checkbox formControlName="attends_external_consultation" name>Consulta externa:</nb-checkbox>
            </nb-card-body>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <nb-card-body>
              <nb-checkbox formControlName="serve_multiple_patients" name>Atención a multiples pacientes:</nb-checkbox>
            </nb-card-body>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="file_firm" class="form-text text-muted font-weight-bold">Archivo de firma:</label>
            <div class="file-select-evicencias" id="src-file2">
              <input class="file" accept="image/*,.pdf" type="file" id="file_firm" file_firm fullWidth
                (change)="changeFile($event,1)" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3" *ngIf="role==3">

        <div class="col-md-12">
          <div class="form-group">
            <button nbButton status="info" type="button" (click)="ShowDialogSpecialities()">
              Seleccionar especialidad:
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ngx-base-form>