<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body *ngIf="this.user">
        <nb-stepper #stepper [linear]="linearMode">
          <nb-step [stepControl]="nameForm" label="Valoración">
            <ngx-reason-consultation-respiratory-therapy  [record_id]="record_id" [type_record_id]="type_record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input">
            </ngx-reason-consultation-respiratory-therapy>

          </nb-step>

          <nb-step [stepControl]="nameForm" label="Antecedentes">
            <ngx-back-list [record_id]="record_id" [user]="user" (messageEvent)="inputMessage($event)" [has_input]="has_input" [type_record_id]="type_record_id"></ngx-back-list>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Signos Vitales">
            <ngx-signs  [record_id]="record_id" [admissions]="admissions" (messageEvent)="inputMessage($event)" [has_input]="has_input" [type_record_id]="type_record_id"></ngx-signs>
          </nb-step>
          <!-- *ngIf="vitalsigns" [data]="vitalsigns"  -->

          <nb-step [stepControl]="nameForm" label="Destete de oxigeno">
            <ngx-oxygen-therapy *ngIf="teraphyRespiratory" [record_id]="record_id" (messageEvent)="inputMessage($event)" [type_record_id]="type_record_id" [has_input]="has_input"
            [data]="teraphyRespiratory">
            </ngx-oxygen-therapy>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Valoración Terapeutica">
            <ngx-form-assessment-therapy [record_id]="record_id" [data]="data" [type_record_id]="type_record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"></ngx-form-assessment-therapy>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Objetivos">
            <ngx-objectives-therapy [record_id]="record_id" [type_record_id]="type_record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"></ngx-objectives-therapy>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Pedido de insumos">
            <ngx-insume-request [record_id]="record_id" (messageEvent)="inputMessage($event)" [type_record_id]="type_record_id" [user]="user" [has_input]="has_input" [admissions]="admissions"></ngx-insume-request>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Sesiones">
            <ngx-sessions-therapy [record_id]="record_id" [type_record_id]="type_record_id" (messageEvent)="inputMessage($event)" [has_input]="has_input"></ngx-sessions-therapy>
          </nb-step>


          <nb-step [hidden]="true">

            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>

          </nb-step>          
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>