<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="giant" style="width: 600px; max-height: 95vh">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-text text-muted font-weight-bold">
              Concepto:
            </label>
            <ngx-autocomplete-remote
              url="conceptAutocomplete"
              returnData="concepts"
              formControlName="concept_id"
              [params]="paramsConceptAutocomplete.bind(this)"
              [initValue]="initConcept.bind(this)"
              status="{{ isSubmitted && form.controls.concept_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
            >
            </ngx-autocomplete-remote>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="real_date" class="form-text text-muted font-weight-bold">
              Fecha:
            </label>
            <input id="real_date" type="date"
                   nbInput formControlName="real_date"
                   fullWidth
                   status="{{ isSubmitted && form.controls.real_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="form-text text-muted font-weight-bold">
              Pasajero:
            </label>
            <ngx-autocomplete-remote
              url="user"
              returnData="users"
              [label]="renderLabelUsers"
              value="id"
              [initValue]="searchUser.bind(this)"
              formControlName="passenger_user_id"
              status="{{ isSubmitted && form.controls.passenger_user_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
            >
            </ngx-autocomplete-remote>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="origin" class="form-text text-muted font-weight-bold">
              Origen:
            </label>
            <input id="origin" type="text"
                   nbInput formControlName="origin"
                   fullWidth
                   status="{{ isSubmitted && form.controls.origin.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="destination" class="form-text text-muted font-weight-bold">
              Destino:
            </label>
            <input id="destination" type="text"
                   nbInput formControlName="destination"
                   fullWidth
                   status="{{ isSubmitted && form.controls.destination.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="back" class="form-text text-muted font-weight-bold">
              Regreso:
            </label>
            <input id="back" type="text"
                   nbInput formControlName="back"
                   fullWidth
                   status="{{ isSubmitted && form.controls.back.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="departure_date" class="form-text text-muted font-weight-bold">
              Fecha de salida:
            </label>
            <input id="departure_date" type="date"
                   nbInput formControlName="departure_date"
                   fullWidth
                   status="{{ isSubmitted && form.controls.departure_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="return_date" class="form-text text-muted font-weight-bold">
              Fecha de regreso:
            </label>
            <input id="return_date" type="date"
                   nbInput formControlName="return_date"
                   fullWidth
                   status="{{ isSubmitted && form.controls.return_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="observations" class="form-text text-muted font-weight-bold">
              Observaciones de salida:
            </label>
            <textarea id="observations"
                      nbInput
                      formControlName="departure_observations"
                      fullWidth
                      status="{{ isSubmitted && form.controls.departure_observations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label for="return_observations" class="form-text text-muted font-weight-bold">
              Observaciones de regreso:
            </label>
            <textarea id="return_observations"
                      nbInput
                      formControlName="return_observations"
                      fullWidth
                      status="{{ isSubmitted && form.controls.return_observations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>

      </div>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" [disabled]="loading">Guardar</button>
    </nb-card-footer>

  </nb-card>
</form>
