<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="medium" style="max-width: 600px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        ¿DESEA GENERAR FACTURA DEL MES FINALIZADO?
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Generar</button>
    </nb-card-footer>
  </nb-card>
</form>