
.field-content {
  display: flex;
  flex:1;
  flex-direction:column;
  justify-content:space-between;
  margin-bottom: 20px;
}

.gu-mirror {
position: fixed !important;
margin: 0 !important;
z-index: 9999 !important;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
-webkit-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
opacity: 0.2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter: alpha(opacity=20);
}

.flex-center{
display: flex;
flex: 1;
flex-direction: row;
justify-content: center;
align-items: center;
}

.btn-float {
display: scroll;
position: fixed;
right: 20px;
bottom: 20px;
z-index: 999999;
}

.modal-conf {
z-index: 999998;
width: 30%;
box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.21);
-webkit-box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.21);
-moz-box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.21);
-o-box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.21);
@media (max-width: 768px) {
  width:60%;
}
}

.move-active {
cursor: all-scroll;
}

.list-elements {
min-height: 20vh;
margin-top: 20px;
}

.btns-options {
display: flex;
flex: 1;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.center-vertical {
display: flex;
flex: 1;
flex-direction: column;
justify-content: center;
align-items: center;
}
