<button class="btn-float" (click)="showCong()" nbButton shape="round" size="large" status="danger">
  <nb-icon icon="settings-2-outline"></nb-icon>
</button>
<div class="row" *ngIf="messageError">
  <div class="col-12">
    <nb-alert status="danger" class="container-fluid">
      <strong>Oh Dios!</strong> {{messageError}}
    </nb-alert>
  </div>
</div>
<ngx-breadcrumb [routes]="routes" *ngIf="!onlyList"></ngx-breadcrumb>
<div class="drag-boundary"
     [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }"
     #myBounds>

  <nb-card accent="info">
    <nb-card-header>Registrar</nb-card-header>
    <nb-card-body>
      <ngx-canvas [arrayElements]="arrayElements" [elementAct]="elementAct" [export]="export"
                  (exportImage)="updateUrlCanvas($event)" (updateJson)="updateElementsPositions($event)"
                  [sizeCanvas]="sizeCanvas">
      </ngx-canvas>
    </nb-card-body>
  </nb-card>
  <nb-card
    class="modal-conf"
    *ngIf="showConfig"
    accent="info"
    [nbSpinner]="loading"
    nbSpinnerStatus="danger"
    nbSpinnerSize="large"
    nbSpinnerMessage=""
    ngDraggable
    (edge)="checkEdge($event)"
    [bounds]="myBounds"
    [inBounds]="inBounds"
    [position]="positionDrag"
    [ngDraggable]="draggable"
    (stopped)="desactiveDrag()"
  >
    <nb-card-header class="move-active" (mousedown)="activeDrag()">Configuración</nb-card-header>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="signatureData" [stepControl]="formCertificate">
          <ng-template #signatureData>Datos</ng-template>
          <div>
            <div class="btns-options">
              <div>
                <!-- <button nbButton status="primary" size="small" disabled nbStepperNext ><nb-icon icon="arrow-ios-back-outline"></nb-icon>Anterior</button> -->
              </div>
              <div>
                <button
                  nbButton
                  status="primary"
                  size="small"
                  nbStepperNext
                  (click)="submitInfo()"
                >
                  <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                  Siguiente
                </button>
              </div>
            </div>
            <form [formGroup]="formCertificate">
              <div class="field-content">
                <input type="text" nbInput fullWidth placeholder="Nombre" formControlName="name" #name
                       status="{{ (formCertificate.controls.name.dirty || formCertificate.controls.name.touched) && formCertificate.controls.name.errors || isSubmitted && formCertificate.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"/>
                <div
                  *ngIf="formCertificate.controls.name.invalid && (formCertificate.controls.name.dirty || formCertificate.controls.name.touched) || formCertificate.controls.name.invalid && isSubmitted ">
                  <small *ngIf="formCertificate.controls.name.errors.required">Ingrese el nombre</small>
                </div>
              </div>
              <div class="field-content">
                <label>Plantillas:</label>
                <nb-select placeholder="Seleccione una plantillas" fullWidth formControlName="template" #template>
                  <nb-option *ngFor="let paper of templates" [value]="paper.id">{{ paper.name }}</nb-option>
                </nb-select>
              </div>
            </form>
          </div>
        </nb-step>
        <nb-step [label]="signaturePosition">
          <ng-template #signaturePosition>Elementos</ng-template>
          <div>
            <div class="btns-options" *ngIf="!hiddenSelector">
              <div>
                <button nbButton status="primary" size="small" nbStepperPrevious>
                  <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                  Anterior
                </button>
              </div>
              <div>
                <button
                  nbButton
                  status="primary"
                  size="small"
                  nbStepperNext
                  (click)="submit()"
                >
                  <nb-icon icon="save-outline"></nb-icon>
                  Guardar
                </button>
              </div>
            </div>
            <div class="row" *ngIf="listShow && !hiddenSelector">
              <div class="col-sm-12">
                <button nbButton status="danger" (click)="showForm = true;listShow = false">
                  <nb-icon icon="plus"></nb-icon>
                </button>
              </div>
            </div>
            <div class="row" *ngIf="showForm">
              <div class="col-sm-10">
                <div class="field-content">
                  <label>Tipo de elemento:</label>
                  <nb-select placeholder="Seleccione un elemento" [ngModel]="selectedItem"
                             (ngModelChange)="showOptionsElement($event)">
                    <nb-option value="1">Imagen</nb-option>
                    <nb-option value="2">Texto</nb-option>
                    <nb-option value="3">Variable</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-2 center-vertical">
                <button nbButton status="danger" size="small" (click)="showForm = false;listShow = true">
                  <nb-icon icon="close-outline"></nb-icon>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <div [ngSwitch]="selectedItem">
                  <div *ngSwitchCase="1">
                    <div class="field-content">
                      <label for="">Imagen</label>
                      <input type="file" nbInput fullWidth #elementImage (change)="updateFile($event)"/>
                    </div>
                  </div>
                  <div *ngSwitchCase="2">
                    <div class="field-content">
                      <input type="text" nbInput fullWidth placeholder="Texto" #elementText
                             [(ngModel)]="valueDefault"/>
                    </div>
                  </div>
                  <div *ngSwitchCase="3">
                    <div class="field-content">
                      <label>Tipo de variable:</label>
                      <nb-select placeholder="Seleccione una variable" [ngModel]="valueDefault"
                                 (ngModelChange)="changeValueDefault($event)">
                        <nb-option *ngFor="let variable of variableList" [value]="variable.id">
                          {{ variable.label }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 center-vertical" *ngIf="selectedItem !== '0'">
                <button nbButton status="primary" size="small" (click)="addElement()">
                  <nb-icon icon="plus"></nb-icon>
                </button>
              </div>
            </div>
            <div class="row" *ngIf="listShow && !showForm">
              <div class="col-sm-12 list-elements">
                <ngx-list-elements [disabled]="false"
                                   (hidden)="hiddenSelector = $event"
                                   [elementVal]="elementAct"
                                   (changePositions)="arrayElements=$event" [arrayElements]="arrayElements"
                                   (elementAct)="selectElement($event)"></ngx-list-elements>
              </div>
            </div>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>

</div>
