<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="small" style="max-width: 400px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="approved_status_id" class="form-text text-muted font-weight-bold">
              Estado:
            </label>
            <nb-select formControlName="approved_status_id" id="approved_status_id" fullWidth
                       status="{{ isSubmitted && form.controls.approved_status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">Seleccione...</nb-option>
              <nb-option *ngFor="let item of status"
                         [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="observations" class="form-text text-muted font-weight-bold">
              Observación:
            </label>
            <textarea nbInput fullWidth id="observations" formControlName="observations"
                   status="{{ isSubmitted && form.controls.observations.errors ? 'danger' : isSubmitted ? 'success' : '' }}"></textarea>
          </div>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" [disabled]="loading">Guardar</button>
    </nb-card-footer>
  </nb-card>

</form>
