<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label class="form-text text-muted font-weight-bold align"></label>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set">
            <legend class="prue1">DIETA RECOMENDADA</legend>
            
            <label class="font-weight-bold ImpPeq">CONSISTENCIA DE DIETA</label>
            <nb-select [selected]="this.data.diet_consistency_id" formControlName="diet_consistency_id"
              id="diet_consistency_id"
              status="{{ isSubmitted && form.controls.diet_consistency_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.diet_consistency_id }}"
                *ngFor="let item of diet_consistency_id" [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>
            <label class="font-weight-bold ImpPeq">ASIGNACIÓN DE COMPONENTES</label>
            <nb-select [selected]="this.data.diet_component_id" formControlName="diet_component_id"
              id="diet_component_id"
              status="{{ isSubmitted && form.controls.diet_component_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
              <nb-option value="">SELECCIONE...</nb-option>
              <nb-option selected="{{ item.id == this.data.diet_component_id }}" *ngFor="let item of diet_component_id"
                [value]="item.id">
                {{ item.name }}</nb-option>
            </nb-select>

            <label  class="form-text text-muted font-weight-bold">OBSERVACIONES</label>
        <textarea id="observation" nbInput fullWidth formControlName="observation" observation rows="4"
          cols="50"
          status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : '' }}"> </textarea>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>