<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label class="form-text text-muted font-weight-bold align"></label>
    <div class="row">
      <div class="col-md-12">
        <div class="center">
          <fieldset class="field_set col-lg-12 center">
            <legend class="prue1">DIETA RECOMENDADA</legend>

          <div class="row justify-content-md-center">    
            <div class="col-md-6">
              <label class="form-text font-weight-bold">TIPO DE DIETA </label>
              <nb-select  multiple placeholder="Seleccione..." formControlName="diet_consistency" fullWidth
                id="diet_consistency" name="diet_consistency"
                    status="{{ isSubmitted && form.controls.diet_consistency.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
                    <nb-option *ngFor="let item of diet_type" [value]="item.id">
                      {{ item.name }}</nb-option>
                </nb-select>
            </div>
            <div class="col-md-2">
              <label class="form-text font-weight-bold">ENTERAL </label>
              <nb-select  [selected]="this.data.enterally_diet_id" formControlName="enterally_diet_id" fullWidth
                id="enterally_diet_id"
                status="{{ isSubmitted && form.controls.enterally_diet_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
                <nb-option value="">SELECCIONE...</nb-option>
                <nb-option selected="{{ item.id == this.data.enterally_diet_id }}" *ngFor="let item of enterally_diet_id"
                  [value]="item.id">
                  {{ item.name }}</nb-option>
              </nb-select>
            </div>
          </div>
            

            <label  class="form-text text-muted font-weight-bold mt-3">OBSERVACIONES</label>
             <textarea id="observation" nbInput fullWidth formControlName="observation" observation onpaste="return false" rows="4"
          cols="50"
          status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>