<form [formGroup]="form" (ngSubmit)="save()">
  <div>

    <div class="col col-lg-12">
      <label for="ch_diagnosis_id" class="form-text text-muted font-weight-bold">DIAGNOSTICO MEDICO:</label>
      <input fullWidth nbInput list="codes1" (change)="saveCode($event.target.value)" id="ch_diagnosis_id"
        formControlName="ch_diagnosis_id" ch_diagnosis_id type="text" required
        (ngModelChange)="this.searchDiagnostic($event)"
        status="{{ isSubmitted && form.controls.ch_diagnosis_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
      <datalist id="codes1">
        <option *ngFor="let item of diagnosisr" [value]="item.name">{{ item.code }} - {{item.name}} </option>
      </datalist>
    </div>

    <div class="col col-lg-12">
      <label for="patient_state" class="form-text text-muted font-weight-bold">ESTADO DEL PACIENTE:</label>
      <textarea id="patient_state" nbInput fullWidth formControlName="patient_state" patient_state rows="3" cols="50"
        onpaste="return false"
        status="{{ isSubmitted && form.controls.patient_state.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="div-send">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>

</form>