<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1100px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6">
          <label for="name" class="form-text text-muted font-weight-bold">Nombre insumo:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="name" formControlName="name" name
            status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="factory" class="form-text text-muted font-weight-bold">Fabricante:</label>
          <nb-select [selected]="this.data.factory_id" formControlName="factory_id" id="factory_id" fullWidth
            status="{{ isSubmitted && form.controls.factory_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.factory_id }}" *ngFor="let item of factory" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label class="form-text text-muted font-weight-bold">Empaque:</label>
          <nb-select [selected]="this.data.packing_id" formControlName="packing_id" id="packing_id" fullWidth
            status="{{ isSubmitted && form.controls.packing_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.packing_id }}" *ngFor="let item of packing" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="unit_packing" class="form-text text-muted font-weight-bold">Unidades por empaque:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="unit_packing"
            formControlName="unit_packing" unit_packing
            status="{{ isSubmitted && form.controls.unit_packing.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label class="form-text text-muted font-weight-bold">Insumo Genérico:</label>
          <input type="text" list="codes1" class="data-list" id="product_supplies_id"  (change)="saveCode($event.target.value)"
            formControlName="product_supplies_id" product_supplies_id fullWidth nbInput
            status="{{ isSubmitted && form.controls.product_supplies_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
          <datalist id="codes1">
            <option *ngFor="let item of product_supplies" [value]="item.description">{{item.description}}
            </option>
          </datalist>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="invima_registration" class="form-text text-muted font-weight-bold">Registro invima:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="invima_registration"
            formControlName="invima_registration" invima_registration
            status="{{ isSubmitted && form.controls.invima_registration.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="invima_status" class="form-text text-muted font-weight-bold">Estado de registro del
            invima:</label>
          <nb-select [selected]="this.data.invima_status_id" formControlName="invima_status_id" id="invima_status_id"
            fullWidth
            status="{{ isSubmitted && form.controls.invima_status_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.invima_status_id }}" *ngFor="let item of invima_status"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <div class="form-group">
            <label for="date_cum" class="form-text text-muted font-weight-bold">Fecha vencimiento:</label>
            <input type="date" nbInput fullWidth id="date_cum" formControlName="date_cum" date_cum
              status="{{ isSubmitted && form.controls.date_cum.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="sanitary_registration" class="form-text text-muted font-weight-bold">Titular del registro
            sanitario:</label>
          <nb-select [selected]="this.data.sanitary_registration_id" formControlName="sanitary_registration_id"
            id="sanitary_registration_id" fullWidth
            status="{{ isSubmitted && form.controls.sanitary_registration_id.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.sanitary_registration_id }}" *ngFor="let item of factory"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="refrigeration" class="form-text text-muted font-weight-bold">Vida utíl en meses:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput id="useful_life" fullWidth
            formControlName="useful_life" useful_life type="number" min="0" pattern="^[0-9]+"
            status="{{ isSubmitted && form.controls.useful_life.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-6">
          <label for="code_udi" class="form-text text-muted font-weight-bold">Código UDI:</label>
          <input nbInput fullWidth id="code_udi" formControlName="code_udi" code_udi/>
        </div>

      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>