<form [formGroup]="form" (ngSubmit)="save()">

  <hr/>

  <div class="row justify-content-center">
  
    <div class="col col-lg-6 asds">
      <label for="appearance_text" class="form-text text-muted font-weight-bold justify-content-center"> Apariencia</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.appearance" formControlName="appearance" id="appearance" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.appearance.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="COLABORADOR">COLABORADOR</nb-option>
        <nb-option value="TIMIDO">TIMIDO</nb-option>
        <nb-option value="DESCONFIADO">DESCONFIADO</nb-option>
        <nb-option value="AGRESIVO">AGRESIVO</nb-option>
        <nb-option value="HOSTIL">HOSTIL</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="consent_text" class="form-text text-muted font-weight-bold justify-content-center"> Conciencia</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.consent" formControlName="consent" id="consent" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.consent.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="ALERTA">ALERTA</nb-option>
        <nb-option value="ESTUPOR">ESTUPOR</nb-option>
        <nb-option value="DELIRIO">DELIRIO</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="Attention_text" class="form-text text-muted font-weight-bold justify-content-center"> Atencion</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.Attention" formControlName="Attention" id="Attention" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.Attention.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="DISTACTIBILIDAD">DISTRACTIBILIDAD</nb-option>
        <nb-option value="HIPOPROSEXIA">HIPOPROSEXIA</nb-option>
        <nb-option value="HIPERPROSEXIA">HIPERPROSEXIA</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="humor_text" class="form-text text-muted font-weight-bold justify-content-center"> Estado de Humor</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.humor" formControlName="humor" id="humor" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.humor.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="LABILIDAD">LABILIDAD</nb-option>
        <nb-option value="ANHEDONIA">ANHEDONIA</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="language_text" class="form-text text-muted font-weight-bold justify-content-center"> lenguaje</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.language" formControlName="language" id="language" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.language.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="BRADILALIA">BRADILALIA</nb-option>
        <nb-option value="TAQUILALIA">TAQUILALIA</nb-option>
        <nb-option value="LOGOREA">LOGORREA</nb-option>
        <nb-option value="MUTISMO">MUTISMO</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="sensory_perception_text" class="form-text text-muted font-weight-bold justify-content-center"> Sensopercepcion</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.sensory_perception" formControlName="sensory_perception" id="sensory_perception" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.sensory_perception.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="ALTERACION AUDITIVA">ALTERACION AUDITIVA</nb-option>
        <nb-option value="ALTERACION VISUALES">ALTERACION VISUALES</nb-option>
        <nb-option value="ALTERACION TACTILES">ALTERACION TACTILES</nb-option>
        <nb-option value="NINGUNA">NINGUNA</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-4 asds">
      <label for="thought_text" class="form-text text-muted font-weight-bold justify-content-center"> Pensamiento</label>
    </div> 

    <div class="col col-lg-4">
      <label for="grade_text" class="form-text text-muted font-weight-bold justify-content-center"> Curso</label>
      <nb-select [selected]="this.data.grade" formControlName="grade" id="grade" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.grade.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="TAQUIPSIQUIA">TAQUIPSIQUIA</nb-option>
        <nb-option value="BRADIPSIQUIA">BRADIPSIQUIA</nb-option>
        <nb-option value="LOGICO">LOGICO</nb-option>
      </nb-select>
    </div>  

    <div class="col col-lg-4">
      <label for="contents_text" class="form-text text-muted font-weight-bold justify-content-center"> Contenido</label>
      <nb-select [selected]="this.data.contents" formControlName="contents" id="contents" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.contents.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="IDEAS FIJAS">IDEAS FIJAS</nb-option>
        <nb-option value="OBSESIVAS">OBSESIVAS</nb-option>
        <nb-option value="DELIRANTES">DELIRANTES</nb-option>
        <nb-option value="SUICIDA">SUICIDA</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="orientation_text" class="form-text text-muted font-weight-bold justify-content-center"> Orientacion</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.orientation" formControlName="orientation" id="orientation" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.orientation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="DESORIENTACION AUTOPSIQUICA">DESORIENTACION AUTOPSIQUICA</nb-option>
        <nb-option value="DESORIENTACION ESPACIAL">DESORIENTACION ESPACIAL</nb-option>
        <nb-option value="DESORIENTACION TEMPORAL">DESORIENTACION TEMPORAL</nb-option>
        <nb-option value="ORIENTADO EN 3 ESFERAS">ORIENTADO EN 3 ESFERAS</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="sleep_text" class="form-text text-muted font-weight-bold justify-content-center"> sueño</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.sleep" formControlName="sleep" id="sleep" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.sleep.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="SIN ALTERACION">SIN ALTERACION </nb-option>
        <nb-option value="INSOMNIO">INSOMNIO</nb-option>
        <nb-option value="DISMINUCION DE LA NECESIDAD DE SUEÑO">DISMINUCION DE LA NECESIDAD DE SUEÑO</nb-option>
      </nb-select>
    </div>  
  </div>

  <br/>

  <div class="row justify-content-center">

    <div class="col col-lg-6 asds">
      <label for="memory_text" class="form-text text-muted font-weight-bold justify-content-center"> Memoria</label>
    </div> 

    <div class="col col-lg-6">
      <nb-select [selected]="this.data.memory" formControlName="memory" id="memory" fullWidth
        title="Seleccione..."
        status="{{ isSubmitted && form.controls.memory.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}">
        <nb-option value="">Seleccione...</nb-option>
        <nb-option value="CORTO PLAZO">CORTO PLAZO </nb-option>
        <nb-option value="MEDIANO PLAZO">MEDIANO PLAZO </nb-option>
        <nb-option value="LARGO PLAZO">LARGO PLAZO </nb-option>
        <nb-option value="SIN ALTERAR">SIN ALTERAR</nb-option>
      </nb-select>
    </div>  
  </div>

  <div class="div-send">
    <button nbButton status="danger" class="ml-FUNCIONAL btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
  </div>
    

</form>