<nb-card style="max-height: 700px;overflow: auto;">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="mt-1 col-sm-3">
          <label for="" class="form-text text-muted font-weight-bold">Tipo:</label>
        </div>
        <div class="mt-1 col-sm-3">
          <nb-select formControlName="entity_type_id"
                     id="entity_type_id" fullWidth
                     status="{{ isSubmitted && form.controls.entity_type_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
          >
            <nb-option value="">Seleccione...</nb-option>

            <nb-option selected="{{ data ? (item.id == data.entity_type_id) : false }}"
                       *ngFor="let item of entidades"
                       [value]="item.id">{{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="mt-1 col-sm-3">
          <label for="" class="form-text text-muted font-weight-bold">Especialidad:</label>
        </div>
        <div class="mt-1 col-sm-3">
          <nb-select formControlName="specialtym_id"
                     id="specialtym_id" fullWidth
                     status="{{ isSubmitted && form.controls.specialtym_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
          >
            <nb-option value="">Seleccione...</nb-option>

            <nb-option selected="{{ data ? (item.id == data.specialtym_id) : false }}"
                       *ngFor="let item of specialtyms"
                       [value]="item.id">{{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="mt-1 col-sm-3" *ngIf="moduleEdit">
          <label for="" class="form-text text-muted font-weight-bold">Programa:</label>
        </div>
        <div class="mt-1 col-sm-9" *ngIf="moduleEdit">
          <nb-select formControlName="category_id"
                     id="category_id" fullWidth
                     status="{{ isSubmitted && form.controls.category_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
          >
            <nb-option value="">Seleccione...</nb-option>

            <nb-option selected="{{ data ? (item.id == data.category_id) : false }}"
                       *ngFor="let item of categories"
                       [value]="item.id">{{ item.name }}</nb-option>
          </nb-select>
        </div>
        <div class="mt-1 col-sm-3">
          <label for="" class="form-text text-muted font-weight-bold">Nombre del Módulo:</label>
        </div>
        <div class="mt-1 col-sm-9">
          <input nbInput fullWidth id="name" formControlName="name"
                 status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
                 type="text">
        </div>
        <div class="mt-1 col-sm-3">
          <label for="" class="form-text text-muted font-weight-bold">Descripción:</label>
        </div>
        <div class="mt-1 col-sm-9">
          <input nbInput fullWidth id="description" formControlName="description"
                 status="{{ isSubmitted && form.controls.description.errors ? 'danger' : isSubmitted ? 'success' : '' }}"
                 type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <button nbButton (click)="close()" type="button">Cancelar</button>
        <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>
