<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode">
          <nb-step [stepControl]="nameForm" label="SO">
            <div class="row">
              <div class="col-md-12">
                <ngx-evo-soap [record_id]="record_id"></ngx-evo-soap>
              </div>
            </div> 
          </nb-step>
          <nb-step [stepControl]="nameForm" label="Ex Físico">
            <div class="row">
              <div class="col-md-12">
                <ngx-nursing-physical-exam [record_id]="record_id" [type_record_id]="type_record_id" ></ngx-nursing-physical-exam> 
              </div>
            </div> 
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Antecedentes">

            <div class="row">
              <div class="col-md-12">
                <!-- yay -->
                <ngx-back-list [user]="user" [record_id]="record_id" [type_record_id]="type_record_id"> </ngx-back-list>
              </div>
            </div>

          </nb-step>
          
          <nb-step [stepControl]="nameForm" label="Signos Vitales">
            <div class="row">
              <div class="col-md-12">
                <ngx-signs [record_id]="record_id" [admissions]="admission" [type_record_id]="type_record_id"></ngx-signs>
              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Diagnóstico">
             <div class="row">
              <div class="col-md-12">
                <ngx-diagnostic-evo [record_id]="record_id"></ngx-diagnostic-evo>
              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Ostomías">
            
            <div class="row">
              <div class="col-md-12">
                <ngx-ch-ostomies [type_record]="3" [record_id]="record_id"></ngx-ch-ostomies> 
              </div>
            </div>
            

          </nb-step>

          <nb-step [stepControl]="nameForm" label="AP">
            <div class="row">
              <div class="col-md-12">
                <ngx-ch-ap [type_record]="3" [record_id]="record_id"></ngx-ch-ap>

              </div>
            </div> 
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Recomendaciones">
            <div class="row">
              <div class="col-md-12">
                <ngx-recommendations-evo [type_record]="3" [record_id]="record_id" [medicine]="true"></ngx-recommendations-evo>

              </div>
            </div> 
          </nb-step>
          

          <nb-step [stepControl]="nameForm" label="Dietas">
             <div class="row">
              <div class="col-md-12">
                <ngx-diets-evo [type_record]="3" [record_id]="record_id"></ngx-diets-evo>

              </div>
            </div> 
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>