<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper [linear]="linearMode">
          <nb-step [stepControl]="nameForm" label="SOAP">
            <div class="row">
              <div class="col-md-12">
                <ngx-evo-soap [record_id]="record_id"></ngx-evo-soap>
              </div>
            </div>
          </nb-step>
          <nb-step [stepControl]="nameForm" label="Ex Físico">
            <div class="row">
              <div class="col-md-12">
                <ngx-physical-exam-evo [record_id]="record_id"></ngx-physical-exam-evo>
              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Signos Vitales">
            <div class="row">
              <div class="col-md-12">
                <ngx-signs-evo [record_id]="record_id"></ngx-signs-evo>
              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Diagnostico">
            <div class="row">
              <div class="col-md-12">
                <ngx-diagnostic-evo [record_id]="record_id"></ngx-diagnostic-evo>
              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Recomendaciones">
            <div class="row">
              <div class="col-md-12">
                <ngx-recommendations-evo [record_id]="record_id"></ngx-recommendations-evo>

              </div>
            </div>
          </nb-step>

          <nb-step [stepControl]="nameForm" label="Dietas">
            <div class="row">
              <div class="col-md-12">
                <ngx-diets-evo [record_id]="record_id"></ngx-diets-evo>

              </div>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>