<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card style="margin: 10px;max-width: 1400px;max-height: 600px;overflow: auto;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false">
          <label for="type_of_attention" class="form-text text-muted font-weight-bold">Tipo de Atención:</label>
          <nb-select [selected]="this.data.type_of_attention_id" formControlName="type_of_attention_id"
            id="type_of_attention_id" fullWidth
            status="{{ isSubmitted && form.controls.type_of_attention_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.type_of_attention_id }}" *ngFor="let item of type_of_attention"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div *ngIf="this.form.controls.type_of_attention_id.value==2" class="col-12 col-sm-12 col-md-4">
          <label for="specialty" class="form-text text-muted font-weight-bold">Especialidad:</label>
          <nb-select [selected]="this.data.specialty_id" formControlName="specialty_id" id="specialty_id"
            fullWidth
            status="{{ isSubmitted && form.controls.specialty_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.specialty_id }}" *ngFor="let item of specialty"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false">
          <label for="procedure_id" class="form-text text-muted font-weight-bold">Procedimiento:</label>
          <input fullWidth nbInput list="codes" (change)="saveCode($event.target.value)" id="procedure_id"
            formControlName="procedure_id" procedure_id type="text" required
            status="{{ isSubmitted && form.controls.procedure_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
          <datalist id="codes" *ngIf="procedure">
            <option *ngFor="let item of procedure" [value]="item.manual_price.name">{{ item.manual_price.own_code }} -
              {{item.manual_price.homologous_id}} </option>
          </datalist>
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false">
          <label for="frequency" class="form-text text-muted font-weight-bold">Frecuencia:</label>
          <nb-select [selected]="this.data.frequency_id" formControlName="frequency_id" id="frequency_id" fullWidth
            status="{{ isSubmitted && form.controls.frequency_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.frequency_id }}" *ngFor="let item of frequency" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-12 col-sm-12 col-md-4" *ngIf="assigned!=false">
          <label for="quantity" class="form-text text-muted font-weight-bold">Cantidad proyectada:</label>
          <input nbInput fullWidth id="quantity" formControlName="quantity" quantity
            status="{{ isSubmitted && form.controls.quantity.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-2">
          <label for="quantity" class="form-text text-muted font-weight-bold">Teleconsulta:</label>
          <nb-toggle labelPosition="left" [checked]="phone_consult" (change)="phoneConsultChange($event)">
          </nb-toggle>
        </div>

        <div class="col-12 col-sm-12 col-md-3" *ngIf="medical==false">
          <label for="start_date" class="form-text text-muted font-weight-bold">Fecha de inicio:</label>
          <input type="date" nbInput fullWidth id="start_date" formControlName="start_date" start_date
            status="{{ isSubmitted && form.controls.start_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>

        <div class="col-12 col-sm-12 col-md-3" *ngIf="medical==false">
          <label for="finish_date" class="form-text text-muted font-weight-bold">Fecha de fin:</label>
          <input type="date" nbInput fullWidth id="finish_date" formControlName="finish_date" start_date
            status="{{ isSubmitted && form.controls.finish_date.errors ? 'danger' : isSubmitted ? 'success' : '' }}" />
        </div>


        <div class="assigned ? col-12 col-sm-12 col-md-4: col-12 col-sm-12 col-md-12"
          *ngIf="medical==false && this.type_auth == 1">
          <label for="assigned_user_id" class="form-text text-muted font-weight-bold">Personal asistencial:</label>
          <nb-select [selected]="this.data.assigned_user_id" formControlName="assigned_user_id" id="assigned_user_id"
            fullWidth
            status="{{ isSubmitted && form.controls.assigned_user_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == data.assigned_user_id }}" *ngFor="let item of assigned_user"
              [value]="item.id">
              {{ item.firstname }} {{item.lastname}}</nb-option>
          </nb-select>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>