<form [formGroup]="form" (ngSubmit)="save()">

  <div class="row justify-content-md-center">

    <!-- <div class="col col-lg-3 checks" *ngFor="let objectives of arrayObjectives">
      <a>
        <nb-card status="basic" accent="{{this.form.controls.check1.value ? 'success' : 'basic'}}" size="tiny">
          <nb-card-header>
            <nb-checkbox><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body> {{ objectives.description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div> -->

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" accent="{{this.form.controls.check1.value ? 'success' : 'basic'}}" size="tiny">
          <nb-card-header>
            <nb-checkbox formControlName="check1" check1 id="check1"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body> {{this.arrayObjectives[0].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check2.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check2" check2 id="check2"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body> {{this.arrayObjectives[1].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check3.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check3" check3 id="check3"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body>{{this.arrayObjectives[2].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check4.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check4" check4 id="check4"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body>{{this.arrayObjectives[3].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check5.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check5" check5 id="check5"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body>
            {{this.arrayObjectives[4].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check6.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check6" check6 id="check6"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body>
            {{this.arrayObjectives[5].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check7.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check7" check7 id="check7"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body>
            {{this.arrayObjectives[6].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check8.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check8" check8 id="check8"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body>
            {{this.arrayObjectives[7].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check9.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check9" check9 id="check9"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body> {{this.arrayObjectives[8].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div class="col col-lg-2 checks justify-content">
      <a>
        <nb-card status="basic" size="tiny" accent="{{this.form.controls.check10.value ? 'success' : 'basic'}}">
          <nb-card-header>
            <nb-checkbox formControlName="check10" check10 id="check10"><b>Objetivo</b></nb-checkbox>
          </nb-card-header>
          <nb-card-body> {{this.arrayObjectives[9].description}}<br>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="div-send">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>