<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>

    <ngx-base-table [title]="title" [subtitle]="subtitle" customData="diet_menu" [settings]="settings" entity="diet_menu" [messageToltip]="messageToltip">
      <div actions>
        <div class="actions">
          <button nbButton status="danger" (click)="NewMenu()">Crear</button>
        </div>
        <div class="actions" style="margin-top:1em;">
          </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>