<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <nb-card>
      <nb-card-body>

        <nb-tabset class="tabset">
          <nb-tab tabTitle="INGRESO">
            
            
            <nb-stepper #stepper [linear]="linearMode">

              <nb-step label='Valoracion Terapeutica'>
                  <ngx-form-entry-valoration-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-valoration-ot>
              </nb-step>


              <nb-step label="Signos Vitales">

                   <!-- <ngx-form-signs [record_id]="record_id"></ngx-form-signs> -->

              </nb-step>

              <nb-step label='Historia Ocupacional'>
                  <ngx-form-entry-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-ot>
              </nb-step>
              
              <nb-step label='Antecedentes Ocupacionales'>
                  <ngx-form-entry-past-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-past-ot>
              </nb-step>

              <nb-step label='Actividades Vida Diaria'>
                  <ngx-form-entry-daily-activities-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-daily-activities-ot>
              </nb-step>

              <nb-step label='Habilidades Motoras'>
                  <ngx-form-entry-motor-skills-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-motor-skills-ot>
              </nb-step>

            </nb-stepper>

          </nb-tab>


          <nb-tab tabTitle="NOTA REGULAR">
            <nb-stepper #stepper [linear]="linearMode">

              <nb-step label='Valoracion Terapeutica'>
                  <ngx-form-regular-note-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-regular-note-ot>
              </nb-step>


              <nb-step label="Signos Vitales">

                <!-- <ngx-form-signs [record_id]="record_id"></ngx-form-signs> -->


              </nb-step>

              <nb-step label='Objetivos Teraputicos'>
                 <ngx-form-regular-note-therapeutic-goals-ot *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-regular-note-therapeutic-goals-ot>
              </nb-step>

              <nb-step label='Materiales e Insumos Utilizados'>
                <!-- <ngx-form-entry-valoration-consultation-occupational-therapy *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-valoration-consultation-occupational-therapy> -->
              </nb-step>

              <nb-step label='Numero De Sesiones Mensuales e Intensidad Semanal'>
                <!-- <ngx-form-entry-valoration-consultation-occupational-therapy *ngIf="chreasonconsultation" [record_id]="record_id"
                  [data]="chreasonconsultation"></ngx-form-entry-valoration-consultation-occupational-therapy> -->
              </nb-step>

            </nb-stepper>


          </nb-tab>
        </nb-tabset>


      </nb-card-body>
    </nb-card>
  </div>
</ngx-base-list>