<ngx-base-list>
  <div content>
    <div class="row text-center ">
      <div class="col-12">
        <h3 class="text-basic-color ">Bienvenidos al portal de la Escuela Judicial Rodrigo Lara Bonilla</h3>
      </div>
    </div>
    <div actions>
      <div class="actions">
        <a nbButton routerLink="/auth">Volver</a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <ngx-base-table title="Cursos disponibles" entity="public/course/forInscription" [settings]="settings"
          customData="courses">

        </ngx-base-table>
      </div>
    </div>
  </div>
</ngx-base-list>