<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div *ngIf="loading == false" class="col-12 col-sm-12 col-md-12">
      <ngx-prod-lot-package (messageEvent)="receiveMessage($event)" (messageEvent)="receiveMessage1($event)" [parentData]="parentData">
      </ngx-prod-lot-package>
    </div>
    <div class="col-12 col-sm-12 col-md-12">
      <label></label>
    </div>

    <div class="col-12 col-sm-12 col-md-6">
      <label for="num_invoice" class="form-text text-muted font-weight-bold">NUMERO DE FACTURA:</label>
      <input nbInput fullWidth id="num_invoice" formControlName="num_invoice" num_invoice
        status="{{ isSubmitted && form.controls.num_invoice.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <label for="date_invoice" class="form-text text-muted font-weight-bold">FECHA FACTURA:</label>
      <input type="date" [max]="today" nbInput fullWidth id="date_invoice" (change)="onDatechange1($event)"
        formControlName="date_invoice" date_invoice
        status="{{ isSubmitted && form.controls.date_invoice.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <label for="subtotal" class="form-text text-muted font-weight-bold">SUB TOTAL $:</label>
      <input nbInput fullWidth id="subtotal" formControlName="subtotal" subtotal type="number"
        status="{{ isSubmitted && form.controls.subtotal.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
    </div>

    <div class="col-12 col-sm-12 col-md-6">
      <label for="vat" class="form-text text-muted font-weight-bold">IVA $:</label>
      <input nbInput fullWidth id="vat" formControlName="vat" vat type="number" />
    </div>

    <div class="col-12 col-sm-12 col-md-6">
      <label for="total" class="form-text text-muted font-weight-bold">TOTAL $:</label>
      <input nbInput fullWidth id="total" formControlName="total" total />
    </div>

    <div class="col-12 col-sm-12 col-md-6">
      <label for="receipt_date" class="form-text text-muted font-weight-bold">FECHA RECEPCIÓN DEL PRODUCTO:</label>
      <input type="date" [max]="today" (change)="onDatechange($event)" nbInput fullWidth id="receipt_date"
        formControlName="receipt_date" receipt_date
        status="{{ isSubmitted && form.controls.receipt_date.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}" />
    </div>
  </div>

  <nb-card-footer class="d-flex justify-content-end">
    <button nbButton type="button">CANCELAR</button>
    <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">GUARDAR</button>
  </nb-card-footer>
</form>