<ngx-form-care-plan (messageEvent)="receiveMessage($event)" [user]="this.user">
</ngx-form-care-plan>
<label class="form-text text-muted font-weight-bold align"> </label>
<ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content>
    <ngx-base-table pager="false" [title]="title" customData="ch_care_plan" [settings]="settings"
      entity="ch_care_plan/by_record/{{record_id}}">
      <div actions>
        <div class="actions">
        </div>
        <div class="actions" style="margin-top:1em;">
        </div>
      </div>
    </ngx-base-table>
  </div>
</ngx-base-list>