<ngx-base-list
  [messageError]="messageError"
  [routes]="routes">
  <div content>

    <ngx-base-table [title]="title"
                    [subtitle]="subtitle" [settings]="settings"
                    entity="contract"
                    customData="contracts"
    >
      <div actions>
        <div class="actions">
          <a ngxCheckPerms="create" nbButton status="danger" routerLink="/pages/budget/contracts/create">Crear</a>
        </div>
      </div>
    </ngx-base-table>

  </div>
</ngx-base-list>
