button {
  margin: 0.5rem;
}

.field_set {
  border: 1px solid #78dada;
}

.space {
  outline: none;
  border: 0;
  padding: 10px;
  margin: 10px;
  height: 30px;
  width: 120px;
  border: 1px solid #eaeaea;

}

.space1 {
  border: none;
  padding: 10px;
  margin: 10px;
  height: 30px;
  width: 250px;
  border: 1px solid #eaeaea;
  outline: none;
}

.ImpPeq {
  outline: none;
  border: 0;
  //  padding: 10px;
  margin: 10px;
  height: 30px;
  width: 85px;
  border: 1px solid #eaeaea;
}

.list {
  width: 390px;
}

.prue1 {
  margin-left: 1px;
  background-color: #78dada;
  padding-left: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  color: white;
  border: 1px solid #eeece1;
  font-size: 20px;
  padding: 8px;

}

.center {
  text-align: center;
}

.form-text {
  display: block;
  margin-top: 7px;
  margin-inline: 30px;
}
.btn-save{
  margin-top: 8PX;

    float: RIGHT;
}
.detail{
  text-align: justify;
}
.radio {
	background: rgb(255, 255, 255);
	padding: 4px;
	position: center;
}

.radio input {
	width: auto;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 1px;
	padding: 4px 8px;
	background: rgb(255, 255, 255);
	color: #000000bd;
  box-shadow: inset 0 0 0 1px rgb(145, 145, 145);
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
  margin: 5px;
}

.radio input:checked {
	background-image:  rgb(8, 8, 8);
	color: rgb(255, 255, 255);
  background: darkturquoise;
	border-radius: 1px;
	box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}