<!-- <ngx-base-list [messageError]="messageError" [routes]="routes">
  <div content> -->
<nb-card>
  <nb-card-body>
    <nb-stepper #stepper [linear]="linearMode" (click)="goto($event)">

      <nb-step label="Descripción Nota">
        <ngx-notes-description [record_id]="record_id" [type_record_id]="3" [is_pad]="is_pad"></ngx-notes-description>

      </nb-step>

      <nb-step label="Ex Físico">
        <div class="row" *ngIf="this.show1">
          <div class="col-md-12">
            <ngx-nursing-physical-exam [record_id]="record_id" [type_record_id]="3"
              [enfermery]="true"></ngx-nursing-physical-exam>
          </div>
        </div>

      </nb-step>

      <nb-step label="Signos Vitales">
        <div class="row" *ngIf="this.show2">
          <div class="col-md-12">
            <ngx-signs (messageEvent)="receiveMessage($event)" [record_id]="record_id" [admissions]="admission"
              [type_record_id]="type_record_id"></ngx-signs>
          </div>
        </div>
      </nb-step>

      <nb-step label="Procedimientos de enfermeria">
        <div class="row" *ngIf="this.show3">
          <div class="col-md-12">
            <ngx-nursing-procedure [record_id]="record_id" [type_record_id]="type_record_id"></ngx-nursing-procedure>
          </div>
        </div>
      </nb-step>

      <nb-step label="Plan de cuidados">
        <div class="row" *ngIf="this.show4">
          <div class="col-md-12">
            <ngx-care-plan [record_id]="record_id" [type_record_id]="type_record_id"></ngx-care-plan>
          </div>
        </div>
      </nb-step>

      <nb-step label="Control de líquidos">
        <div class="row" *ngIf="this.show5">
          <div class="col-md-12">
            <div *ngIf="this.showLiq">
              <ngx-liquid-control [record_id]="record_id" [type_record_id]="type_record_id"></ngx-liquid-control>
            </div>
          </div>
        </div>
      </nb-step>

      <nb-step label="Recomendaciones">
        <div class="row" *ngIf="this.show6">
          <div class="col-md-12">
            <ngx-recommendations-evo [record_id]="record_id" [type_record]="type_record_id"
              [enfermeryreco]="true"></ngx-recommendations-evo>
          </div>
        </div>
      </nb-step>

      <nb-step [hidden]="true">

        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>

      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>
<!-- </div>
</ngx-base-list> -->