
<div class="row justify-content-center">


  <div class="col col-lg-12">

    <ngx-nr-metarials-ft (messageEvent)="receiveMessage($event)" [record_id]="record_id">
    </ngx-nr-metarials-ft>    

  </div>

  <div class="col col-lg-12">

    <label class="form-text text-muted font-weight-bold">REGISTROS NOTA REGULAR MATERIALES</label>
    <ngx-base-list [messageError]="messageError" [routes]="routes">
      <div content>
        <ngx-base-table pager="false" [title]="title" customData="ch_n_r_materials_f_t" [settings]="settings"
          entity="ch_n_r_materials_f_t/by_record/{{record_id}}/3">
          <div actions>
            <div class="actions">
            </div>
            <div class="actions" style="margin-top:1em;">
            </div>
          </div>
        </ngx-base-table>
      </div>
    </ngx-base-list>

  </div>





</div>

