<ngx-base-list>
    <div content>
        <div class="row text-center ">
            <div class="col-12">
                <h3 class="text-basic-color ">Confirmaci&oacute;n de registro</h3>
            </div>
        </div>
        
        <div class="row text-center">
            <div class="col-12 text-center">
               Su registro ha sido confirmado con &eacute;xito. Haga clic en "Ingresar" para iniciar sesi&oacute;n.
            </div>
            <div class="col-12 text-right">
                <a nbButton routerLink="/auth">Ingresar</a>
            </div>
        </div>
        
    </div>
</ngx-base-list>