<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    

    <div class="col-md-12">
      <label for="observation" class="form-text text-muted font-weight-bold">OBSERVACIONES:</label>
      <textarea id="observation" nbInput fullWidth formControlName="observation" current_illness rows="4"
        cols="50"
        status="{{ isSubmitted && form.controls.observation.errors ? 'danger' : isSubmitted ? 'success' : 'basic' }}"> </textarea>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button nbButton status="danger" class="ml-1 btn-save" [disabled]="disabled" type="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</form>