<form [formGroup]="form" (ngSubmit)="save()">
  <nb-card size="medium" style="max-width: 600px">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-md-12">
          <label for="gloss_modality" class="form-text text-muted font-weight-bold">Modalidad:</label>
          <nb-select [selected]="this.data.gloss_modality_id" formControlName="gloss_modality_id" id="gloss_modality_id"
            fullWidth
            status="{{ isSubmitted && form.controls.gloss_modality_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == this.data.gloss_modality_id }}" *ngFor="let item of gloss_modality"
              [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>

        <div class="col-md-12">
          <label for="name" class="form-text text-muted font-weight-bold">Nombre:</label>
          <input oninput="this.value = this.value.toUpperCase()" nbInput fullWidth id="name" formControlName="name" name
            status="{{ isSubmitted && form.controls.name.errors ? 'danger' : isSubmitted ? 'success' : '' }}" 
            />
        </div>

        <div class="col-md-12">
          <label for="status" class="form-text text-muted font-weight-bold">Estado:</label>
          <nb-select [selected]="this.data.status_id" formControlName="status_id" id="status_id" fullWidth
            status="{{ isSubmitted && form.controls.status_id.errors ? 'danger' : isSubmitted ? 'success' : '' }}">
            <nb-option value="">Seleccione...</nb-option>
            <nb-option selected="{{ item.id == this.data.status_id }}" *ngFor="let item of status" [value]="item.id">
              {{ item.name }}</nb-option>
          </nb-select>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
      <button nbButton (click)="close()" type="button">Cancelar</button>
      <button nbButton status="danger" class="ml-1" disabled="{{ loading }}">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>